[2017-06-17 14:45] mariobehling opened #508 "Implement Voice Search for Chrome"
Using Google with Google Chrome it is possible to make a voice search. Please implement the same for Susper and automatically show the voice icon with the same functionality.

![screenshot from 2017-06-17 16-43-00](https://user-images.githubusercontent.com/1583873/27253834-409624a6-537c-11e7-8850-3d5beec00e99.png)

[2017-06-17 14:56] mariobehling opened #509 "Implement better dropdown menu"
The dropdown menu has issues. Please improve the following:
* make the distance to the dropdown more natural
* match the size and design of the market leader
* use colorful logo
* Add the following services below a horizontal line after the first section using the logos of the services:
   * FOSSASIA - fossasia.org
   * loklak - loklak.net
   * SUSI.AI - chat.susi.ai
   * eventyay - eventyay.com
*

[2017-06-17 21:25] harshit98 commented on #508
Working on it. :+1:

[2017-06-18 05:47] nikhilrayaprolu commented on #487
reopening this since this isn't yet fixed.

[2017-06-18 09:15] Marauderer97 commented on #500
I have been working on this issue, the reason there is no change is, there is no valid response in return to the query. When @nikhilrayaprolu and I first implemented this feature, it was working perfectly, and hence, I was wondering if perhaps the update to the latest version of solr caused this.
![image](https://user-images.githubusercontent.com/20185076/27259623-95651330-5434-11e7-8428-f2b1e7603

[2017-06-18 09:47] mariobehling commented on #448
Yes. It can also be a JSON file, but CSV would allow non coders to easily edit that file.

[2017-06-18 22:18] #479 closed

[2017-06-18 22:20] #495 closed

[2017-06-18 22:20] #487 closed

[2017-06-19 01:51] harshit98 commented on #509
@mariobehling Google has dropdown menu at homepage and in results page as well. Susper is currently having it in results section not on homepage. Should we implement the same for Susper ?

[2017-06-19 05:20] Marauderer97 commented on #500
[This link ](https://issues.apache.org/jira/browse/SOLR-2606) describes how in some versions of Solr, sort does not work on field parameters with punctuation in them
In last_modified, we have an underscore, this might be causing the problem.
However, as an experiment, I tried sorting on the field name: title, but that gives me the same error.

[2017-06-19 06:43] mariobehling opened #512 "Increase space on crawler page between bottom area and footer and move button"
Please change the following:
* The space between the bottom of the page and the footer is too small. Please increase it.
* Move the submit button to the right and increase its size
![screenshot from 2017-06-19 08-38-33](https://user-images.githubusercontent.com/1583873/27272608-518fa32c-54cb-11e7-92d0-62a3d3ed6b8b.png)

[2017-06-19 06:55] #504 closed

[2017-06-19 07:34] Marauderer97 opened #513 "Search results in Susper not being displayed"
Susper search results are not being displayed in Chrome or Firefox
![image](https://user-images.githubusercontent.com/20185076/27274128-bdee1c46-54ef-11e7-9802-758198e0ca02.png)

Im working on this

[2017-06-19 08:32] Marauderer97 opened #514 "Change tools drop-down to match market leader"
This is how Tools drop-down looks currently
![image](https://user-images.githubusercontent.com/20185076/27276135-d39c4c9a-54f7-11e7-8bc8-74414b622d52.png)

This is how it looks in Google
![image](https://user-images.githubusercontent.com/20185076/27276158-ed7d1b3a-54f7-11e7-8354-df67faa439c2.png)

[2017-06-19 08:46] #508 closed

[2017-06-19 08:52] #483 closed

[2017-06-19 09:00] mariobehling opened #515 "If there search results don't fill whole page, bottom bar is not on bottom"
Please see below. Expected: Bottom bar stays on bottom.
![screenshot from 2017-06-19 10-59-40](https://user-images.githubusercontent.com/1583873/27277438-88f11ac2-54de-11e7-93d9-351abd2c6a57.png)

[2017-06-19 09:08] harshit98 commented on #507
Working on this. :+1:

[2017-06-19 09:18] harshit98 opened #516 "Enhance FooterNavbar"
**Actual Behaviour**

Currently, footer navbar seems to have a lot of options which are making it a bit messy. Like we are having 2 settings tab and a Crawl job option too (which should come under settings tab). **Kindly discuss here, what can be done, then we will proceed.**

**Expected Behaviour**

It should look like a clean UI to encourage more users to use Susper.

**Screenshots of the issue*

[2017-06-19 10:04] nikhilrayaprolu commented on #516
let us first remove duplicate links and add advanced search into search settings since Google has advanced search inside settings tab

[2017-06-19 14:24] Marauderer97 commented on #514
Working on this

[2017-06-19 14:44] Marauderer97 opened #521 "Design issues in Crawl page"
- Not able to select a particular radio button(shown in screenshot below)(no country code restriction)
![image](https://user-images.githubusercontent.com/20185076/27290687-9fb3313a-552b-11e7-829f-fbedbe27f10c.png)
- Description of radio button drops to next line
![image](https://user-images.githubusercontent.com/20185076/27290733-bad0650a-552b-11e7-9cf6-b892d826998e.png)
- Duplicate radio button
!

[2017-06-19 14:44] Marauderer97 commented on #521
Working on this

[2017-06-19 15:03] Marauderer97 commented on #521
@nikhilrayaprolu The reason the user is not able to select no country code restriction is that ngModel is linked to countryMustMatchSwitch, which is always true only for Use filter. Shouldn't the user be allowed to chose no country code restriction too? What is the significance of countryMustMatchSwitch attribute? Please elaborate to help me solve the issue completely

[2017-06-19 15:18] nikhilrayaprolu commented on #521
@Marauderer97 please go through http://yacy.searchlab.eu/CrawlStartExpert.html . this page is a clone for that page if something doesn't work as it should, modify it here.

[2017-06-19 15:51] Marauderer97 commented on #509
@harshit98 Are you working on this?

[2017-06-19 17:23] harshit98 commented on #509
Yes @Marauderer97

[2017-06-20 01:43] harshit98 opened #523 "Pagination bar not appearing."
**Actual Behaviour**

Pagination bar seems to be not appearing.

**Expected Behaviour**

It should appear in all in the pages. To avoid this problem : create a `pagination` component instead of combining with results component.

**Screenshots of the issue**

![screenshot from 2017-06-20 07-12-51](https://user-images.githubusercontent.com/22245418/27312741-e960e6e0-5587-11e7-9be9-ca8a2dbdab00.png)

[2017-06-20 02:04] harshit98 opened #524 "Improve mobile view of Susper."
**Actual Behaviour**

This issue was fixed in #138 but now recent changes in Susper like :
- fixing search bar dimensions
- addition of voice search icon.
- addition of settings tab.

The mobile view issue is with : homepage and result page.

**Expected Behaviour**

It should have clear UI for mobile as well. To avoid this problem occurring again and again :
- Fix issues like : #507 and #509 (on b

[2017-06-20 06:04] nikhilrayaprolu opened #527 "susper has a search icon on home page but google has an empty search bar without search icon on home page"
google has no search icon on the front page but susper has a search icon remove the search icon.remove the search icon on the home page of susper.
![image](https://user-images.githubusercontent.com/15216503/27318954-9a776854-55ac-11e7-9d50-964f359ac4a2.png)

![image](https://user-images.githubusercontent.com/15216503/27318841-f9009752-55ab-11e7-852d-db2bbce7f48d.png)

[2017-06-20 06:11] nikhilrayaprolu opened #528 "selecting "never show instant results" not working"
**Actual Behaviour**
Once instant results are selected and then we select "never show instant results". this isn't working as required
**Expected Behaviour**
selecting "never show instant results" should stop instant results from working.
![image](https://user-images.githubusercontent.com/15216503/27319088-5d20d520-55ad-11e7-8aa3-503ac4b56dfc.png)

[2017-06-20 06:14] harshit98 commented on #527
@nikhilrayaprolu Kindly make sure, when a search is attempted, search icon appears in Google.

![screenshot from 2017-06-20 11-44-04](https://user-images.githubusercontent.com/22245418/27319169-cb6d289e-55ad-11e7-8720-1fc8cdada10a.png)

[2017-06-20 06:18] nikhilrayaprolu commented on #527
@harshit98 sure.

[2017-06-20 12:27] #513 closed

[2017-06-20 12:32] #514 closed

[2017-06-20 13:25] Marauderer97 commented on #516
I am working on this, will remove duplicate links, and create a drop up similar to Google @nikhilrayaprolu is that alright?

[2017-06-20 13:49] Marauderer97 commented on #516
I also recommend putting crawl job in Settings, since
a. it will further declutter the navbar
b. A lot of the content in the crawl job page is related to settings(page depth, or allowed filters etc), so it will be relevant too
Please let me know what you think @nikhilrayaprolu @harshit98

[2017-06-20 14:10] Marauderer97 commented on #523
@harshit98 While creating a component for pagination might be a good idea, I do not think that is why this is happening, this is a bug, I am working on it, will update soon :+1:

[2017-06-20 14:29] Marauderer97 commented on #515
Working on this

[2017-06-20 15:01] Marauderer97 opened #532 "Pagination showing extra pages"
**Actual Behaviour**

The pagination bar is showing three extra pages, at the end. On the last page, there are always three extra pages being displayed. Those page links don't work, but they should not even be displayed

**Expected Behaviour**

Remove the extra 3 pages at the end

**Screenshots of the issue**

Attach a screenshot of the issue here.
![image](https://user-images.githubusercontent.co

[2017-06-20 16:14] harshit98 commented on #523
No @Marauderer97 since refactoring results page also an issue we can separate it as a component with some tests so that problem won't occur from next time.

[2017-06-20 17:44] Marauderer97 opened #533 "Page number not being set to zero"
**Actual Behaviour**
To reproduce the bug, navigate to say page 8 of your search and now change the query, you will not see the first page of results, but the eighth

**Expected Behaviour**

We expect the first page of results each time, start parameter needs to be set to zero.

**Screenshots of the issue**

**Notice the url parameters**
![image](https://user-images.githubusercontent.com/20185076/

[2017-06-20 17:54] #523 closed

[2017-06-20 18:01] #516 closed

[2017-06-20 18:02] Marauderer97 commented on #533
Working on this

[2017-06-20 18:08] #521 closed

[2017-06-20 18:24] #515 closed

[2017-06-20 19:59] #512 closed

[2017-06-21 08:47] mariobehling opened #536 "Align logo and search box exactly in the middle of the screen"
Logo and search box are still not aligned exactly in the middle of the screen.
![screenshot from 2017-06-21 10-46-25](https://user-images.githubusercontent.com/1583873/27375318-0e1c93e8-566f-11e7-9c06-accb45d38ec9.png)

[2017-06-21 18:55] #532 closed

[2017-06-22 04:05] harshit98 commented on #528
Are you working on this @nikhilrayaprolu ? How we can proceed this issue ?

[2017-06-22 11:25] #509 closed

[2017-06-22 11:45] harshit98 commented on #536
Working on this. :+1:

[2017-06-22 11:57] harshit98 commented on #53
@nikhilrayaprolu Now only refactoring of _Pagination bar_ is left. It will solve the issue completely. I'm stating here refactored components on result's page :
- [ ] Search bar component.
- [ ] Autocomplete component.
- [ ] Infobox component.
- [ ] Related search component.
- [ ] Dropdown component.
- [ ] Navbar component.
- [ ] Footer navbar component.

Left :-
- [ ] Pagination component.

[2017-06-22 12:13] harshit98 opened #539 "Dbpedia not responding again."
**Actual Behaviour**

When query is entered - dbpedia does not responds due to which infobox and related search component does not appear. But when, on pagination bar if user goes to page 2, then it responds.

**Expected Behaviour**

dbpedia should respond when query is fired.

**Screenshots of the issue**
(Not appropriate here)

[2017-06-22 12:20] harshit98 commented on #490
Working on it. :+1:

[2017-06-22 14:04] nikhilrayaprolu commented on #53
@harshit98 please separate event the images,videos and normal results into different components

[2017-06-22 14:06] nikhilrayaprolu commented on #53
@Marauderer97 do you have any suggestion?

[2017-06-22 14:07] #533 closed

[2017-06-22 14:07] nikhilrayaprolu commented on #528
yes working on this,will be making a pull request now

[2017-06-22 14:49] Marauderer97 commented on #539
@nikhilrayaprolu This error seems to keep popping up, can you give any suggestions on how we can write tests for this, to prevent it next time?

[2017-06-22 14:51] nikhilrayaprolu commented on #539
@Marauderer97 I would suggest you to go through this documentation https://angular.io/guide/testing

[2017-06-22 17:29] nikhilrayaprolu opened #542 "related searches not being shown sometimes"
**Actual Behaviour**
when query is entered there is no related search results being shown sometimes
this is happening whenever Yacy responds faster than Dbpedia

**Expected Behaviour**
what ever be the condition related search results must show up at all times.

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/15216503/27447390-5bcd0b7e-579e-11e7-88ef-90d77025a097.pn

[2017-06-22 17:58] nikhilrayaprolu opened #545 "Implement option to customise the result count"
**Actual Behaviour**
Right now user cannot increase or decrease the result count, we have an UI for it, but the functional part is not implemented

![image](https://user-images.githubusercontent.com/15216503/27448424-5daa59de-57a2-11e7-8f19-8b7cd389f7ee.png)

**Expected Behaviour**
when a user increases or decreases the result count, the result count doesn't change.

[2017-06-22 18:08] nikhilrayaprolu commented on #499
closing this issue since #502  has already solved this issue

[2017-06-22 18:08] #499 closed

[2017-06-22 18:09] nikhilrayaprolu commented on #491
@harshit98 is this issue solved?

[2017-06-22 18:14] nikhilrayaprolu commented on #459
closing this issue as it is solved, please kindly reopen this if this looks not solved or this bug is present even now.

[2017-06-22 18:14] #459 closed

[2017-06-22 18:15] nikhilrayaprolu commented on #413
crawl start page is implemented in #415 ,hence closing this issue.

[2017-06-22 18:15] #413 closed

[2017-06-22 18:16] nikhilrayaprolu commented on #411
as the server issue of sending the results slowly is solved and now susper is showing results in much better speed, closing this issue. kindly please reopen this if there is some error again in susper like this.

[2017-06-22 18:16] #411 closed

[2017-06-22 18:21] nikhilrayaprolu commented on #387
there are a lot more things this issue needs to be implemented.
for instance, the side help text in Google for each box is not present in susper.
secondly, we don't have the dropdown options as it is for many input boxes on Google.
![image](https://user-images.githubusercontent.com/15216503/27449337-aa96e8cc-57a5-11e7-9914-c2de54610877.png)

[2017-06-22 19:03] harshit98 commented on #491
@nikhilrayaprolu solved in PR #526

[2017-06-22 19:14] #491 closed

[2017-06-22 19:18] nikhilrayaprolu commented on #124
since we had a discussion on continuing with bootstrap, I am closing this issue. If any one wants to discuss again on this please kindly feel free to reopen this issue.

[2017-06-22 19:18] #124 closed

[2017-06-22 22:49] #542 closed

[2017-06-22 22:50] #528 closed

[2017-06-23 05:19] harshit98 opened #548 "Flat UI for pagination."
**Actual Behaviour**

Current implemented pagination style looks very old.

**Expected Behaviour**

It should have a flat and clean UI.

**Screenshots of the issue**

![screenshot from 2017-06-23 10-48-16](https://user-images.githubusercontent.com/22245418/27467632-a183b57e-5801-11e7-828f-022a7d90b908.png)

[2017-06-23 10:26] harshit98 opened #550 "Images and Video tab not working."
**Actual Behaviour**

On clicking on images and video tab, nothing is happening.

**Expected Behaviour**

On clicking on images and video tab, it should display its content.

**Screenshots of the issue**

(Not appropriate here)

[2017-06-23 16:57] Marauderer97 commented on #550
Working on this

[2017-06-23 18:04] Marauderer97 commented on #539
@nikhilrayaprolu I think this issue can be closed now

[2017-06-23 19:09] #539 closed

[2017-06-23 20:23] Marauderer97 opened #552 "Enhance Shape of drop down"
**Actual Behaviour**

Susper has a rectangular drop down
**Expected Behaviour**

Google has implemented a tip at the top of its dropdown

**Screenshots of the issue**

Attach a screenshot of the issue here.
![image](https://user-images.githubusercontent.com/20185076/27499112-dc431a50-587f-11e7-99a4-3db920a4cda7.png)

Working on this

[2017-06-24 04:44] #550 closed

[2017-06-24 11:24] #545 closed

[2017-06-24 22:45] harshit98 opened #554 "Coming back to homepage shows query in search bar"
**Actual Behaviour**

Clicking on SUSPER logo - redirects to the homepage with a query in the search bar.

**Expected Behaviour**

It should redirects to the homepage, with no query inside search bar.

**Screenshots of the issue**

![giphy](https://user-images.githubusercontent.com/22245418/27512429-da5b338e-595c-11e7-9bc0-23c057393ffa.gif)

[2017-06-24 23:05] harshit98 opened #555 "Results per page not working"
**Actual Behaviour**

When instant results are ON, results per page can't be adjusted.

**Expected Behaviour**

Results per page can be adjusted when instant results are OFF. It should be applicable same when instant results are ON.

**Screenshots of the issue**

![screenshot from 2017-06-25 04-32-48](https://user-images.githubusercontent.com/22245418/27512500-a9cbb402-595f-11e7-8a35-7b1c0fb501e2.

[2017-06-25 00:35] #552 closed

[2017-06-25 07:51] Marauderer97 commented on #554
Working on this

[2017-06-25 07:56] harshit98 commented on #554
@Marauderer97 Have you checked my scrum report?

[2017-06-25 07:56] harshit98 commented on #555
Working on this. :+1:

[2017-06-25 08:00] Marauderer97 commented on #554
@harshit98 sorry, I missed the point, didn't realise. I saw no comments for the past 9 hours, so I assumed no one was working on this, I'll be more careful but please also comment on the issue, to prevent confusion

[2017-06-25 08:04] harshit98 commented on #554
Okay, I will keep that in mind. :+1:

[2017-06-25 10:34] harshit98 commented on #555
closing this issue, since it has been implemented similarly to market leader.

[2017-06-25 10:34] #555 closed

[2017-06-25 10:45] harshit98 commented on #536
This issue can be referred here as well : #540

[2017-06-25 14:32] harshit98 opened #558 "Remove unnecessary code related to codecov"
**Actual Behaviour**

Earlier we were trying to setup codecov. There is a lot of code related to it, which is not necessary now.

**Expected Behaviour**

- Delete `shared/coverage.txt`
- Deleter `Dockerfile`

**Screenshots of the issue**
(Not appropriate here)

[2017-06-26 04:12] Marauderer97 commented on #484
Since instant results have been implemented, this issue is being closed

[2017-06-26 04:12] #484 closed

[2017-06-26 08:35] #490 closed

[2017-06-26 08:37] #558 closed

[2017-06-26 10:04] harshit98 commented on #3
@nikhilrayaprolu @Marauderer97

I have found a solution to solve CSS issues. This is called visual regression.
https://css-tricks.com/automating-css-regression-testing/

[2017-06-26 10:20] harshit98 commented on #500
@nikhilrayaprolu As per discussion on Gitter, you asked case. See here the screenshot in this issue. The error message literally is `'start' parameter can't be negative`. So apparently we're sending a negative value for start somewhere.

This maybe had occurred while you solved the issue regarding cleaning URL.

[2017-06-26 14:57] nikhilrayaprolu commented on #500
the request we are sending to the background is having start=0,
![image](https://user-images.githubusercontent.com/15216503/27545445-78fea560-5aad-11e7-93b7-87564395dabe.png)
and the error I receive on clicking the sort by date is
![image](https://user-images.githubusercontent.com/15216503/27545512-991e7bae-5aad-11e7-8625-533254ad9acf.png)

so, for now, I will try reverting back the present repo i

[2017-06-26 15:01] #554 closed

[2017-06-26 19:08] Marauderer97 opened #562 "Change footer design"
**Actual Behaviour**

The footer design is different from market leader, in terms of styling of links on hover and click

**Expected Behaviour**
Make it similar to market leader

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/27555848-f6e418de-5ad0-11e7-994a-642bf50ea4a7.png)
![image](https://user-images.githubusercontent.com/20185076/27555883-14f6fb84-5ad

[2017-06-26 19:09] Marauderer97 commented on #562
Working on this

[2017-06-27 10:41] #548 closed

[2017-06-27 10:48] #365 closed

[2017-06-27 20:43] nikhilrayaprolu opened #564 "Bring Intelligence to Susper"
right now google answers to questions people ask.

![image](https://user-images.githubusercontent.com/15216503/27608944-ccb6187e-5ba6-11e7-9408-27418ec6641d.png)

we could implement the same feature in susper using SUSI AI. this even helps to improve the use cases of SUSI.
![image](https://user-images.githubusercontent.com/15216503/27609081-57e55e0a-5ba7-11e7-89c9-9f7984019096.png)

[2017-06-27 21:02] nikhilrayaprolu opened #565 "A media search tab could be implemented in Susper"
A social media search tab could be implemented in susper, which shows results from loklak_server.
![image](https://user-images.githubusercontent.com/15216503/27609506-a2fa6b14-5ba8-11e7-875b-f14db6048c29.png)
presently if someone wants to know about a movie, they use search engines like Google.And to know about people's review on the movie they use search bars on social media sites like Twitter.
!

[2017-06-28 09:02] harshit98 opened #566 "Error in console when submit action is performed"
**Actual Behaviour**

On hitting enter key, console shows error: `Form submission canceled because the form is not connected`

Details: According to the HTML standards, if the form is not associated to the browsing context(document), the form submission will be aborted.

**Expected Behaviour**

It should not show any console errors.

**Screenshots of the issue**

![screenshot from 2017-06-28 14-24

[2017-06-28 09:42] #562 closed

[2017-06-28 10:10] nikhilrayaprolu commented on #500
I have reverted the repository to as old as to Feb 18 and this problem exists. this is for sure a problem from the side of Yacy.No recent commit has created this error.
![image](https://user-images.githubusercontent.com/15216503/27631977-f496f5f4-5c17-11e7-8983-d8afdb9da07b.png)

[2017-06-28 10:53] nikhilrayaprolu commented on #564
@isuruAb @rishiraj824 Can you suggest us, which API endpoint to be used for this. how we could bring this feature.

[2017-06-28 11:01] rishiraj824 commented on #564
Hey @nikhilrayaprolu !
You can go over to api.susi.ai/susi/chat.json?q=YOUR_QUERY to begin getting responses from SUSI.
You can also get various action types in the response. Eg.
for http://api.susi.ai/susi/chat.json?q=hey%20susi
[code]

[2017-06-28 11:07] nikhilrayaprolu commented on #564
@rishiraj824 where can I find documentation regarding this? what are all available actions?

[2017-06-28 11:11] rishiraj824 commented on #564
https://github.com/fossasia/susi_server/blob/development/docs/skills/susi_chat_api.md Here are all the available action types.
You can explore the other important material from https://github.com/fossasia/susi_server/blob/development/docs/

[2017-06-28 11:15] nikhilrayaprolu commented on #564
@rishiraj824 thanks :+1: :smile:

[2017-06-28 16:27] #527 closed

[2017-06-28 18:48] nikhilrayaprolu commented on #565
working on this.

[2017-06-28 19:43] harshit98 opened #571 "Implement Maps feature to Susper"
**Expected Behaviour**

Add a new feature Maps to Susper. We're creating Susper intelligent using SUSI AI. Susi uses openstreet maps API. We can implement maps using openstreet map.

Screenshot of OpenStreet Map:

![screenshot from 2017-06-29 01-11-57](https://user-images.githubusercontent.com/22245418/27656809-0b7bbfde-5c68-11e7-91c7-38398895c82b.png)

[2017-06-28 19:43] nikhilrayaprolu opened #572 "Travis is failing for each PR"
A recent test is broken since there is a structural change in html but the tests are not changed ,due to which travis is failing for all prs.

[2017-06-28 19:51] nikhilrayaprolu commented on #571
this will be a very nice feature.

[2017-06-28 20:33] nikhilrayaprolu commented on #572
reopening this, since merging this https://github.com/fossasia/susper.com/pull/569 before this lead to the addition of some more test fails https://github.com/fossasia/susper.com/pull/573.

Please don't merge any pulls until this issue is completely fixed.

[2017-06-28 21:34] harshit98 commented on #536
Solved. Can be closed now.

[2017-06-28 23:06] mariobehling commented on #507
It is still not matching.

[2017-06-28 23:07] mariobehling commented on #507
E.g. area of search result is wider than area of search box.

[2017-06-28 23:14] mariobehling commented on #564
Does not work for me yet.

[2017-06-29 07:02] #536 closed

[2017-06-29 09:24] mariobehling commented on #564
Ok, working now. Good job!

[2017-06-29 09:24] #564 closed

[2017-06-29 09:50] Marauderer97 commented on #128
Working on this, will try and implement using wordsapi

[2017-06-29 10:59] nikhilrayaprolu commented on #128
@Marauderer97 there are many APIs which implements this, I have referenced hunspell which is used in LibreOffice, macOS, Firefox.You can use any one you prefer, but check that they have a good community behind them and also efficient in giving better results.

[2017-06-29 11:08] #566 closed

[2017-06-29 21:15] harshit98 commented on #571
I would like to work on this.

[2017-06-30 12:04] harshit98 opened #577 "Error in angular.cli.json file"
**Actual Behaviour**

In the PR #561 while testing, I was facing some errors related to `jquery` for ContactComponent. I have added a separate script inside the `angular.cli.json` file.

Now while testing, it throws error because of that script.

**Expected Behaviour**

Remove the script => `ng test` will work fine without any errors.

[2017-07-01 14:20] #577 closed

[2017-07-03 09:54] mariobehling opened #584 "Make pages responsive"
The search and result page are not working on all mobile resolutions. Please improve.

[2017-07-03 11:05] #383 closed

[2017-07-03 11:20] harshit98 commented on #501
Closing this issue. The feature is working fine now, as it was working before. :+1:

[2017-07-03 11:20] #501 closed

[2017-07-03 14:30] Marauderer97 opened #585 "Weather Prediction by Susper"
Can we have a weather prediction feature in Susper?
 I have found a [free API](https://market.mashape.com/fyhao/weather-13#) that does this. @nikhilrayaprolu @harshit98 What do you think?

[2017-07-03 14:40] nikhilrayaprolu commented on #585
no need to use some external API, susi supports this AFAIK, please look through susi api and its actions

[2017-07-03 17:16] mariobehling commented on #571
It is unclear how this is supposed to work. I see a lot of features proposed right now, while the site is slow and does not work on mobile. Please focus more on the basics first.

[2017-07-04 18:23] mariobehling opened #588 "Improve speecht to text"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Screenshots of the issue**

Attach a screenshot of the issue here.

[2017-07-04 18:24] #588 closed

[2017-07-04 18:33] mariobehling opened #589 "Improve speech to text on search interface"
Activating voice results in a continuous activated microphone. Please test the feature on the market leader page and adapt Susper to work in a similar way. First Google shows a screen with "Speak Now" and outputs the first info in voice when there is a sidebar box, e.g. "According to Wikipedia...".

[2017-07-05 03:48] harshit98 opened #591 "dropdown menu not appearing on homepage"
**Actual Behaviour**

Dropdown menu does not appear on home page.

**Expected Behaviour**

- it should appear on the homepage.
- logo and search bar should be aligned to centre of the home page.

**Screenshots of the issue**

![screenshot from 2017-07-05 09-16-39](https://user-images.githubusercontent.com/22245418/27848449-e1c6abf4-6162-11e7-9b10-23f57dffd551.png)

Working on this issue. :+1:

[2017-07-05 04:23] harshit98 opened #593 "More than *one* keyword as query makes susper slower"
**Actual Behaviour**

If query is typed like this: "Who is the president of USA?", the site hangs up or gets slower.

**Expected Behaviour**

If we type query "India", we quickly fetch the result. If a query like a sentence is typed, while typing the site should not hang up or get slower.

**Screenshots of the issue**

(Not appropriate here)

[2017-07-05 13:00] harshit98 opened #594 "If query is empty, susper still shows intelligence."
**Actual Behaviour**

If the query is erased/empty, the susi API still works.

**Expected Behaviour**

If the query is empty/erased, the intelligence box should not be there.

**Screenshots of the issue**

![screenshot from 2017-07-05 18-30-04](https://user-images.githubusercontent.com/22245418/27865383-0308e38e-61b0-11e7-98d8-93fb846c8e1e.png)

I would like to try out this issue. :+1:

[2017-07-05 14:43] Marauderer97 commented on #593
@harshit98 Good point! I noticed this too, but is this to do with Yacy, or Susper? What can we do about this? :worried:

[2017-07-05 16:08] harshit98 commented on #593
@Marauderer97 actually, the number of frequency response being sent to the susi server are high.
![screenshot from 2017-07-05 16-26-06](https://user-images.githubusercontent.com/22245418/27873577-38520d3a-61ca-11e7-8ef2-dfc9461087ec.png)

[2017-07-06 01:11] #591 closed

[2017-07-06 01:14] harshit98 opened #595 "Getting back to homepage action does not occur."
**Actual Behaviour**

When results are loaded, if we wish to go back to homepage - nothing happens.

**Expected Behaviour**

Going back to homepage after results being loaded should work.

**Screenshots of the issue**

Results are loaded :
![screenshot from 2017-07-06 06-40-36](https://user-images.githubusercontent.com/22245418/27891230-3e969d18-6216-11e7-94f7-20dbedfb6670.png)

if user wishes to

[2017-07-06 08:39] nikhilrayaprolu opened #596 "Speed up susper"
the start page of susper is very slow.we need to speed up start page.

[2017-07-06 10:35] nikhilrayaprolu commented on #572
reopening as travis is failing for all prs.

[2017-07-06 12:55] harshit98 commented on #507
Working on this. :+1:

[2017-07-06 13:33] Marauderer97 opened #600 "Highlight box in dropdown not centered"
The highlight box in the dropdown menu is aligned to one side, and not centred
![image](https://user-images.githubusercontent.com/20185076/27913401-9aa020f4-627d-11e7-8251-3f45456ba4a3.png)

Expected: The dropdown highlight boxes need to be centered

Working on this :+1:

[2017-07-06 13:55] nikhilrayaprolu commented on #589
working on this.

[2017-07-06 13:58] Marauderer97 commented on #594
@harshit98 Any updates?

[2017-07-06 14:01] harshit98 commented on #594
@Marauderer97 I'm working on it. The commit which, I have done is not working.

[2017-07-06 14:04] Marauderer97 opened #602 "Mobile compatibility: Dropdown out of place at smaller sizes"
**Actual Behaviour**

Dropdown icon appears out of place in different sizes
**Expected Behaviour**

Dropdown should be placed properly

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/27914770-cb1ea40e-6281-11e7-9509-048738cc0189.png)

[2017-07-06 14:06] Marauderer97 commented on #602
Working on this :+1:

[2017-07-06 14:10] harshit98 commented on #602
@Marauderer97 Change the title of the issue and refer the mobile compatibility issue here. :)

[2017-07-06 15:42] Marauderer97 opened #604 "Mobile compatibility: Align search bar and suggestion box properly"
**Actual Behaviour**

In Susper the search and suggestion box are not properly aligned they mismatch, and even overlap with the logo.

**Expected Behaviour**

The design should be neat and the boxes should be aligned like in loklak

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/27919580-a9e8f2f4-628f-11e7-9703-890876f35699.png)
![image](https://user-image

[2017-07-06 15:43] Marauderer97 commented on #604
Working on this :+1:

[2017-07-06 16:02] Marauderer97 commented on #604
Waiting for PR #599 to get merged to start working on this

[2017-07-06 18:54] Marauderer97 opened #605 ""No Results" message displayed before actual results are displayed"
**Actual Behaviour**
"No Results" message is first displayed before the actual results are displayed
**Expected Behaviour**
The "No Results" message should not be displayed first

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/27927785-81a3544a-62aa-11e7-84ac-3cb6a13c27d9.png)

[2017-07-06 23:56] harshit98 commented on #270
I think we can close this issue now. @nikhilrayaprolu

[2017-07-06 23:58] harshit98 commented on #318
@nikhilrayaprolu this can be closed since it has been solved in #597

[2017-07-07 00:03] harshit98 commented on #602
#524 can be referred here.

[2017-07-07 00:04] harshit98 commented on #604
#524 can be referred here.

[2017-07-07 00:04] harshit98 commented on #584
This issue can be referred here #524

[2017-07-07 00:06] harshit98 opened #606 "Mobile compatibility: Suggestion box should be responsive."
This issue can be referred => #524 and #603

[2017-07-07 00:10] harshit98 opened #607 "Increase search bar input area"
**Actual Behaviour**

![screenshot from 2017-07-06 07-01-47](https://user-images.githubusercontent.com/22245418/27937704-b772753e-62d6-11e7-865f-d3a7a026d31f.png)

**Expected Behaviour**

![screenshot from 2017-07-06 07-01-37](https://user-images.githubusercontent.com/22245418/27937709-bdbd7556-62d6-11e7-9254-27a948c1c205.png)

[2017-07-07 03:45] #602 closed

[2017-07-07 03:47] #318 closed

[2017-07-07 03:47] #270 closed

[2017-07-07 03:52] #128 closed

[2017-07-07 08:59] harshit98 opened #608 "Align dropdown menu properly on homepage"
**Actual Behaviour**

![screenshot from 2017-07-07 14-26-02](https://user-images.githubusercontent.com/22245418/27950876-951bc32e-6320-11e7-82bd-229794e10b9f.png)

dropdown menu not aligned properly on the homepage.

**Expected Behaviour**

![screenshot from 2017-07-07 14-28-04](https://user-images.githubusercontent.com/22245418/27950887-9ff51b74-6320-11e7-9abc-67936e55c017.png)

should be aligned

[2017-07-07 09:05] harshit98 opened #609 "Improving autocorrect UI"
**Actual Behaviour**

![screenshot from 2017-07-07 14-33-47](https://user-images.githubusercontent.com/22245418/27951096-5e68cbf0-6321-11e7-9da8-c8a7e9fe67b3.png)

**Expected Behaviour**

It should follow market leader -
![screenshot from 2017-07-07 14-33-40](https://user-images.githubusercontent.com/22245418/27951111-6aba9884-6321-11e7-80ff-e7f6ea93164c.png)

I would like to work on this. :+1:

[2017-07-07 09:07] harshit98 opened #610 "If query is correct, auto correct still displays."
**Actual Behaviour**

If a query is correct, auto correct is still responding. It is happening with `query=india`

![screenshot from 2017-07-07 14-36-01](https://user-images.githubusercontent.com/22245418/27951217-be65f974-6321-11e7-8eb3-61fab6d3cd26.png)

**Expected Behaviour**

It should not display auto correct if the spelling of query is correct.

[2017-07-07 09:10] harshit98 opened #611 "Only show "Did you mean:" feature on page 1."
**Actual Behaviour**

When a user, goes to page 2 - the autocorrect feature is still there.

**Expected Behaviour**

The autocorrect feature should be shown only on page 1 of the results page. And not on other pages.
Follow market leader design.

[2017-07-07 09:17] harshit98 commented on #610
To reproduce this error :
1 ) type `belrin` as query and see the autocorrect pops up.
2 ) erase the query and type `india`, it will show auto correct again.

(if we type query as `india` for first time, this error does not happen)

[2017-07-07 09:18] harshit98 opened #612 "Proper alignment in videos section"
**Actual Behaviour**

![screenshot from 2017-07-07 14-47-57](https://user-images.githubusercontent.com/22245418/27951671-51ed6b9a-6323-11e7-955d-079e24a90740.png)

**Expected Behaviour**

Results should be aligned properly.

I would like to work on this. :+1:

[2017-07-07 10:40] Marauderer97 commented on #610
working on this.

[2017-07-07 11:04] Marauderer97 commented on #611
Working on this

[2017-07-07 11:24] harshit98 commented on #607
Working on this. :+1:

[2017-07-07 11:33] Marauderer97 commented on #609
@harshit98 I addressed this in my original PR implementing auto correct, since Susper has an overall blue thing, I thought the colors should be blue and black, instead of red and blue

[2017-07-07 11:35] harshit98 commented on #609
![screenshot from 2017-07-07 17-04-51](https://user-images.githubusercontent.com/22245418/27956222-6bb8effa-6336-11e7-9951-ce8c8663af84.png)

I was working on it. It looks good.

[2017-07-07 12:20] Marauderer97 opened #617 "Question mark in the query should not be seen as an error"
**Actual Behaviour**

The auto correct treats question marks in the query as a mistake
**Expected Behaviour**

Queries ending with a question mark should not be treated as a mistake
**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/27956321-eaded92a-6336-11e7-99ac-b3ac4cb10f97.png)

Working on this :+1:

[2017-07-07 14:22] Marauderer97 commented on #612
The reason this was left like this was so that it is similar to the  alignment of images, once the thumbnail feature was implemented

[2017-07-07 22:49] harshit98 commented on #612
@Marauderer97 so should we proceed or wait until thumbnail feature has been implemented?

[2017-07-08 09:36] #600 closed

[2017-07-08 09:42] #596 closed

[2017-07-08 10:22] #610 closed

[2017-07-08 12:07] #617 closed

[2017-07-08 12:12] nikhilrayaprolu commented on #571
@mariobehling you could check that susper is loading fast now. it used to take around 5 seconds before to load initially but now it is loading in less than 1  second (check http://susper.com ). Sorry I didn't answer your comment here.But we took your comment seriously and have worked on improving the loading time.
regarding the responsiveness @harshit98 @Marauderer97 are working on it and we will

[2017-07-08 12:45] mariobehling commented on #565
Please see comment here: https://github.com/fossasia/susper.com/pull/580#issuecomment-313853872

[2017-07-08 12:45] #565 closed

[2017-07-08 13:09] nikhilrayaprolu commented on #571
@mariobehling regarding your queries on maps feature I have answered at https://github.com/fossasia/susper.com/pull/587#issuecomment-313853310

[2017-07-08 16:21] #612 closed

[2017-07-08 17:04] nikhilrayaprolu commented on #571
**Why Maps feature?**
 Google has it in their search options, so we thought it would be a very good feature to add in susper.
![image](https://user-images.githubusercontent.com/15216503/27985184-34d520e8-6404-11e7-90e5-c34d8acecd42.png)

**How should this work?**
when a user types something like "Hot spicy food in Hyderabad" it gives search results on maps showing the best restaurants/hotels in Hy

[2017-07-08 21:32] harshit98 commented on #606
Closing this. Similar to #604

[2017-07-08 21:32] #606 closed

[2017-07-08 21:33] harshit98 commented on #593
@nikhilrayaprolu Any idea how should we improve it?

[2017-07-08 21:35] harshit98 commented on #414
Closing this issue. It will be solved here => #604

[2017-07-08 21:35] #414 closed

[2017-07-08 21:51] harshit98 opened #622 "Susper is loading URLs which are dangerous."
**Actual Behaviour**

When I try to search for the query as `gif` under images section, the browser blocks the site due to security issues.

**Expected Behaviour**

Susper should not load URLs which are harmful to users security.

**Screenshots of the issue**

1) Type query as `gif`.
2) Results under 'All' will be loaded without any error. If user switches on 'images' tab, the Susper gets blocked

[2017-07-09 08:47] Marauderer97 opened #623 "Intelligence should be shown only on the first page"
**Actual Behaviour**

Intelligence - box is being shown on every page of the results
**Expected Behaviour**
Intelligence should be shown only in the first page like the market leader

**Screenshots of the issue**
How Google displays:
![image](https://user-images.githubusercontent.com/20185076/27992383-0f543fa4-64b1-11e7-813d-e47d56e2452b.png)

How Susper displays:
![image](https://user-images.gith

[2017-07-09 09:35] nikhilrayaprolu commented on #593
presently SUSI is being requested for each character entry. For now, we could do one thing we can call SUSI only after results are displayed.In this way, we could decrease the count of requests to SUSI.

[2017-07-09 09:38] nikhilrayaprolu commented on #622
@Orbiter any suggestion regarding this? this means that Yacy indexes deceptive sites.

[2017-07-09 10:46] mariobehling commented on #524
![screenshot_2017-07-09-12-42-51](https://user-images.githubusercontent.com/1583873/27993184-8ef5abce-64a4-11e7-938a-700f1b8da7d0.png)

Still major issues.

[2017-07-09 10:54] mariobehling commented on #584
Please ensure the search works on start page on all mobile resolutions.

Cannot access search now on start page and result page as button is off screen. See below.

![screenshot_2017-07-09-12-49-52](https://user-images.githubusercontent.com/1583873/27993202-3ff770a6-64a5-11e7-96aa-dd802e6933f9.png)

[2017-07-09 15:35] Marauderer97 opened #625 "IMPORTANT: Mobile compatibility Search bar in mobile view blocks tabs"
**Actual Behaviour**

The search bar in the mobile view is blocking the tabs
**Expected Behaviour**

Have a clean UI without blocking tabs

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/27995329-ea95bf2e-64e9-11e7-92c0-183498ac7a94.png)
#524  and #584 can be referenced here

[2017-07-09 15:35] Marauderer97 commented on #625
Working on this :+1:

[2017-07-09 22:22] harshit98 opened #627 "Make results feed responsive."
- Results feed should be responsive.
- It should be perfectly aligned with `div.results.message-bar`
- It should be perfectly aligned with `p.mean` that is, "Did you mean..."
- It should be perfectly aligned with "All" tabs too.

Make sure while working on it, the alignments should not get disturbed. This issue can be done at one time, not in parts (to avoid breaking of alignments)

Once these PRs

[2017-07-09 22:36] #611 closed

[2017-07-10 06:43] Marauderer97 opened #629 "Infobox appears on every page"
**Actual Behaviour**

The Info box in the results page appears on every page,

**Expected Behaviour**
The Info box should appear only on the first page

**Screenshots of the issue**
The second page of the search results in Google:
![image](https://user-images.githubusercontent.com/20185076/28005943-b2e6a1e8-656a-11e7-881c-18fe3f2d59a8.png)
in Susper:
![image](https://user-images.githubusercontent.

[2017-07-10 09:36] nikhilrayaprolu commented on #593
and even the spell check is being called each time, this should not be the case
![image](https://user-images.githubusercontent.com/15216503/28011830-539d9b08-6581-11e7-8e01-b016fd7b7bb4.png)

[2017-07-10 09:39] nikhilrayaprolu commented on #593
@Marauderer97 why there are 4 requests for the same query to spellcheck?
![image](https://user-images.githubusercontent.com/15216503/28011946-c73a1172-6581-11e7-918c-b20c3c95c0a1.png)

[2017-07-10 10:43] #629 closed

[2017-07-10 17:49] #609 closed

[2017-07-10 17:51] #607 closed

[2017-07-10 17:52] #594 closed

[2017-07-10 17:53] #595 closed

[2017-07-10 21:27] harshit98 opened #633 "Make suggestion box responsive on the homepage."
This can issue can be referred to:
- #604
- #584
- #524

[2017-07-10 22:38] mariobehling commented on #381
Unfortunately the end of the text is still not aligned properly. Compare:

Google
![screenshot from 2017-07-11 00-36-56](https://user-images.githubusercontent.com/1583873/28043199-1c3dc89a-65d1-11e7-9fac-914dc7b8295e.png)

Susper
![screenshot from 2017-07-11 00-37-47](https://user-images.githubusercontent.com/1583873/28043217-2effe832-65d1-11e7-8e78-f46860e65aad.png)

[2017-07-10 22:39] mariobehling commented on #381
The indent of box, submenu and search results is indented further to the left on Susper as well.

[2017-07-11 08:12] Marauderer97 commented on #604
Waiting for PR #626 to get merged, otherwise the suggestion box will have to be adjusted accordingly again

[2017-07-12 06:39] #623 closed

[2017-07-12 07:31] #625 closed

[2017-07-12 08:34] #593 closed

[2017-07-12 10:50] mariobehling opened #634 "Image search shows empty images and structure messed up"
The image search shows result images that do not exist and therefore have empty/failed image tags.

The next page results are clickable but don't show new results - as there are none.

Expected: A proper image result page with only available images and if there are no more images, there should be no option for previous and next pages.
![screenshot from 2017-07-12 12-47-11](https://user-images.gith

[2017-07-12 11:01] mariobehling opened #635 "Implement statistic info box similar to loklak"
loklak.net often shows an interesting info box. Yacy also offers additional information for info boxes such as files types, provider and authors. Please implement an infobox with this data similar to loklak. Also show a distribution of search results according to dates - distributed in a column chart.

[2017-07-12 13:23] harshit98 opened #637 "At smaller screen size, search button is not working."
**Actual Behaviour**

Clicking on the search button icon does not show results.

**Expected Behaviour**

It should show results when search icon has been clicked.

**Screenshots of the issue**

![screenshot from 2017-07-12 18-44-14](https://user-images.githubusercontent.com/22245418/28119411-697c1bea-6732-11e7-9a3b-132c1f109b26.png)

Reference issue: #651

[2017-07-13 15:32] Marauderer97 commented on #637
@harshit98 Great observation, but please change the title to Search button is not working, it is causing a slight confusion

[2017-07-13 16:51] #604 closed

[2017-07-13 18:10] mariobehling commented on #589
This is still not solved.

[2017-07-13 19:49] harshit98 commented on #381
@mariobehling I was going through this issue, but it was already solved in #416

![selection_003](https://user-images.githubusercontent.com/22245418/28184778-5a370478-6832-11e7-8431-dc666a60b922.png)

Alignments were little bit disturbed due to making results page responsive. I have fixed it in PR #639

[2017-07-13 19:52] harshit98 commented on #277
This issue can also be referred to #634

[2017-07-13 20:07] Marauderer97 opened #640 "Swap position of Auto correct and result count"
The Auto correct and result count positions seem to have been switched. They need to be swapped to look like market leader
![image](https://user-images.githubusercontent.com/20185076/28185391-c14448ae-6834-11e7-920b-4926715baa0e.png)
![image](https://user-images.githubusercontent.com/20185076/28185448-f4623a7a-6834-11e7-90f0-46ce0a22ddca.png)

Fixing this

[2017-07-13 20:27] Marauderer97 opened #642 "Empty Auto correct messages should be removed"
**Actual Behaviour**

The Auto correct shows an empty message sometimes

**Expected Behaviour**

The auto correct should not have an empty value

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/28186153-af950a8c-6837-11e7-9aa0-ee6494ec1f32.png)

Working on this

[2017-07-13 22:40] harshit98 commented on #605
@Marauderer97 Nothing happens when I tried to reproduce the error.

[2017-07-14 00:16] harshit98 opened #644 "For query "Hello", intelligence component should not be shown."
**Actual Behaviour**

When `query=hello` then -
![screenshot from 2017-07-14 05-42-57](https://user-images.githubusercontent.com/22245418/28192998-70db78d8-6857-11e7-9572-a9f4bb43e54e.png)

If `query=hello susper` then -
![screenshot from 2017-07-14 05-42-12](https://user-images.githubusercontent.com/22245418/28193005-7aa67642-6857-11e7-850e-eac99baf4d7c.png)

**Expected Behaviour**

- for query `

[2017-07-14 00:25] harshit98 opened #645 "More enhancement needed for speech UI"
**Actual Behaviour**

When a user speaks: the circle at the back of microphone icon is not perfectly aligned.

**Expected Behaviour**

It should look clean and perfectly aligned.

**Screenshots of the issue**
![selection_004](https://user-images.githubusercontent.com/22245418/28193244-e0b41862-6858-11e7-8f10-8f42743f0459.png)

Reference : #589

[2017-07-14 00:33] harshit98 opened #646 "Deactivate the voice input when voice search is completed"
**Actual Behaviour**

When a user makes one voice input, the search results are shown. But then the voice input is still activated.

**Expected Behaviour**

The voice input should not be activated once voice search has been completed.

**Screenshots of the issue**

(Not applicable here)

Reference: #589

[2017-07-14 01:19] harshit98 commented on #645
I would like to work on this. :+1:

[2017-07-14 07:05] #642 closed

[2017-07-14 07:14] nikhilrayaprolu opened #647 "make speech UI responsive"
speech UI doens't fit perfectly on mobile devices and small screens.
![image](https://user-images.githubusercontent.com/15216503/28202262-28b75cee-6892-11e7-93e4-f6fd775a360d.png)

[2017-07-14 07:16] nikhilrayaprolu opened #648 "google gives message Listening... on speech UI after some time"
implement Listening text similar to google on speech UI.
**Screenshots of the issue**

Attach a screenshot of the issue here.
![image](https://user-images.githubusercontent.com/15216503/28202312-54ea4c04-6892-11e7-9853-909f6412a52d.png)

[2017-07-14 07:18] nikhilrayaprolu opened #649 "Implement check audio levels message when user doesn't speak anything for a while."
Google gives this check audio levels message when it is not able to receive any audio signal.
Implement this feature to susper
**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/15216503/28202351-9361d628-6892-11e7-88a2-48c9637a9c7a.png)

[2017-07-14 15:09] #381 closed

[2017-07-14 15:09] #627 closed

[2017-07-14 20:32] Marauderer97 commented on #637
@harshit98 Actually I realised search button is not working at any dimension, correct me if I am wrong, but look at this:
![image](https://user-images.githubusercontent.com/20185076/28229742-9a83148e-6901-11e7-9676-abcd5e452fcb.png)
Working on this :+1:

[2017-07-14 20:40] Marauderer97 commented on #644
@harshit98 Should we do this by manually accessing susi responses, or is there some better way? @nikhilrayaprolu what do you think? I would like to try working on this

[2017-07-14 21:51] harshit98 opened #651 "Show search icon on homepage for smaller screen size."
Follow the market leader.

![screenshot from 2017-07-15 03-19-15](https://user-images.githubusercontent.com/22245418/28232075-74dab5e2-690c-11e7-9af0-6ead595063f0.png)

It should:
- show search icon on the homepage for smaller screen size.
- for large screen size, the search icon should not be displayed as it is working currently.

[2017-07-14 22:48] harshit98 commented on #644
I think if there are responses from SUSI like:
- Hi, I'm Susi
- Hello!

Then I think it's better we can place if/else condition to avoid this issue. @Marauderer97 @nikhilrayaprolu

[2017-07-14 22:59] harshit98 commented on #647
@nikhilrayaprolu On smaller screen size, Google does not provide voice search feature when **opened in a Chrome browser for Android or iOS**.

Note - Although, Google provides voice search feature only in it's **Google Now** built-in app.

[2017-07-15 01:32] harshit98 commented on #648
I would like to work on this.

[2017-07-15 01:40] harshit98 commented on #649
Working on this. :+1:

[2017-07-15 03:57] #640 closed

[2017-07-15 07:42] Marauderer97 commented on #644
@harshit98 Can we just remove all instances of susi and replace it with susper?

[2017-07-15 13:28] Marauderer97 commented on #644
What I mean is, isn't this better?
![image](https://user-images.githubusercontent.com/20185076/28239667-56fd3d5a-698f-11e7-8455-81b686e8af30.png)

[2017-07-15 13:40] Marauderer97 commented on #585
Closing this, since Susi already supports this(Intelligence Component)

[2017-07-15 13:40] #585 closed

[2017-07-15 13:42] Marauderer97 opened #657 "Problems in alignment of Result-count and Auto-correct message"
The messages on top of the text are not properly aligned
![image](https://user-images.githubusercontent.com/20185076/28239770-004bc31c-6991-11e7-95da-e34dd3368a8a.png)
![image](https://user-images.githubusercontent.com/20185076/28239774-185e885e-6991-11e7-91b2-4ba927340889.png)
This can issue can be referred to:
#604
#584
#524

Working on this :+1:

[2017-07-15 20:47] mariobehling commented on #644
Irrelevant issue.

[2017-07-15 20:47] #644 closed

[2017-07-15 20:48] #637 closed

[2017-07-16 04:05] harshit98 commented on #572
This can be closed now.

[2017-07-16 08:09] #572 closed

[2017-07-16 09:48] Marauderer97 commented on #635
I would like to try this issue

[2017-07-16 14:04] #645 closed

[2017-07-16 14:05] #649 closed

[2017-07-16 17:16] harshit98 commented on #306
@Marauderer97 @nikhilrayaprolu @Orbiter

I was working on this issue today. I tried creating thumbnails using `iframe` element. Here it is how it looks like:
![screenshot from 2017-07-16 22-07-14](https://user-images.githubusercontent.com/22245418/28249648-72c617da-6a77-11e7-9479-68cbb14f1905.png)

Problems which are occurring:
- When they are loaded, videos generally gets automatically played. (I

[2017-07-16 17:32] nikhilrayaprolu commented on #635
@Marauderer97 :+1:

[2017-07-17 10:17] Marauderer97 commented on #306
Wasn't there some copyright issue @nikhilrayaprolu had mentioned?

[2017-07-17 12:31] #646 closed

[2017-07-17 14:57] #657 closed

[2017-07-17 17:51] mariobehling commented on #306
@Marauderer97 Policy issues would be discussed elsewhere. Here we focus on technology. If Google can do it, we can do it.

[2017-07-17 18:03] mariobehling opened #661 "Results per page not working"
Results per page is buggy:
1. The number of results cannot be changed when instant results is set to "always on"
2. When it is set to "Never show instant results" the number of results per page can be changed, but when the user performs a search it is still set to the standard "10 results per page"
![screenshot from 2017-07-17 20-01-58](https://user-images.githubusercontent.com/1583873/28282537-0d

[2017-07-17 18:38] Marauderer97 opened #662 "Create a Responsive Drop down Menu"
**Actual Behaviour**

The drop down menu icon doesnot work under 767px

**Expected Behaviour**

There should be a new responsive dropdown implemented, so that we have a drop down in the mobile version too

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/28283952-24896456-6b4d-11e7-9775-656275d6a05e.png)

Please refer to #659

[2017-07-17 19:38] Marauderer97 commented on #662
Working on this :+1:

[2017-07-17 22:03] harshit98 commented on #633
This issue is still not solved.

- [ ] Responsiveness of suggestion box on the results page.
- [ ] Responsiveness of suggestion box on the homepage.

![screenshot from 2017-07-18 03-31-27](https://user-images.githubusercontent.com/22245418/28291830-cafad344-6b69-11e7-9d9e-b6b95e2f78f6.png)
![screenshot from 2017-07-18 03-31-40](https://user-images.githubusercontent.com/22245418/28291832-ccadd768-6

[2017-07-17 22:04] harshit98 commented on #651
Solved in #650 and #637, the search is now working on smaller screen size.

[2017-07-17 22:04] #651 closed

[2017-07-17 22:06] harshit98 commented on #608
Solved in #659

[2017-07-17 22:06] #608 closed

[2017-07-18 07:17] nikhilrayaprolu commented on #306
@harshit98 this might be a wrong practice. we should have thumbnails to show up in png. we should have a separating indexing procedure on the backend, which builds thumbnails too while indexing.
look at google it shows png images as thumbnails.
![image](https://user-images.githubusercontent.com/15216503/28304866-3ab16458-6bb7-11e7-9220-baaecf343d2a.png)

[2017-07-18 08:36] mariobehling opened #664 "Related Searches: Issue with distribution of suggestions with longer suggestions"
The suggestions are not distributed in one line anymore when a suggestion is longer than usual. Please ensure related searches show results in one line.

![screenshot from 2017-07-18 10-34-09](https://user-images.githubusercontent.com/1583873/28307938-eb1b878c-6ba4-11e7-8dea-a8a2a2898940.png)

[2017-07-18 08:39] mariobehling opened #665 "Menu box partly off page"
The menu box is partly off page.
![screenshot from 2017-07-18 10-38-49](https://user-images.githubusercontent.com/1583873/28308064-5a4c8e6c-6ba5-11e7-883a-cb68fd1decf0.png)

[2017-07-18 09:00] harshit98 commented on #664
Working on it. :+1:

[2017-07-18 09:21] #665 closed

[2017-07-18 09:31] nikhilrayaprolu commented on #448
we can take all top sites on the basis of Alexa ranking on News category http://www.alexa.com/topsites/category/News

[2017-07-18 10:42] #648 closed

[2017-07-18 21:11] mariobehling opened #668 "Speech to text not working on Chrome browser on mobile"
Speech to text does not work on the Chrome browser on mobile. A message appears "Please check your microphone".

[2017-07-18 21:16] mariobehling opened #669 "Result page not responsive"
The result page still has issues on mobile screens, e.g.
* search bar is partly off-screen
* search results should not be indented on left wasting screen space
* the previous/next bar if partly off-screen
* drop-down menu off-screen
* on image page photos are not filling screen

![screenshot_2017-07-18-23-16-49](https://user-images.githubusercontent.com/1583873/28340284-7142a8da-6c0f-11e7-9ce0-c7c

[2017-07-19 04:45] #605 closed

[2017-07-19 04:47] Marauderer97 commented on #633
@harshit98 How did you make the page stay in index and not move to results page while you examined the suggestion box width?

[2017-07-19 05:16] nikhilrayaprolu commented on #633
@Marauderer97 turn off instant results, and we have an option built for it on search settings page.

[2017-07-19 12:41] Marauderer97 commented on #669
Working on this :+1:

[2017-07-19 13:45] harshit98 opened #671 "Getting back to results page related to old query is not working."
**Actual Behaviour**

When `query="India"` is searched, related searches appear like this:
![screenshot from 2017-07-19 19-09-14](https://user-images.githubusercontent.com/22245418/28369753-1eb6ba8c-6cb6-11e7-842d-f25858c86099.png)

Clicking on `Mumbai` fetches new results.
![screenshot from 2017-07-19 19-08-29](https://user-images.githubusercontent.com/22245418/28369782-3390798e-6cb6-11e7-864a-70

[2017-07-19 13:54] harshit98 opened #672 ""Did you mean..." still responds when clicked on related search."
**Actual Behaviour**

For query `India` and if I click on the related search like `Mumbai`, even though the spelling of query is correct- the auto correct still shows up.

**Expected Behaviour**

If spelling of query is correct, it should not display "Did you mean..."

**Screenshots of the issue**

![screenshot from 2017-07-19 19-08-29](https://user-images.githubusercontent.com/22245418/28370361-b

[2017-07-19 16:19] nikhilrayaprolu commented on #672
working on this.

[2017-07-19 17:53] #662 closed

[2017-07-20 13:51] #664 closed

[2017-07-20 16:52] nikhilrayaprolu commented on #672
@Marauderer97 is there any way we could add custom words like this into the API used?

[2017-07-20 19:41] #671 closed

[2017-07-21 02:25] harshit98 opened #676 "Provide endless scrolling feature for images."
**Actual Behaviour**

Currently, the image section is having a pagination bar to view more images.

![screenshot from 2017-07-21 07-45-49](https://user-images.githubusercontent.com/22245418/28446625-8d8d930c-6de9-11e7-8951-c694ad8eb430.png)

**Expected Behaviour**

The image section should have endless scrolling feature similar to market leader. Pagination bar should not be present there to load m

[2017-07-21 07:29] harshit98 opened #677 "Intelligence component takes time to display answer when voice search is attempted."
**Actual Behaviour**

When a voice search is made `height of trump`, the intelligence component displays his height. Again when a voice search is made `who is president of USA` then search results are loaded but intelligence component takes at least 1-2 min to respond.

**Expected Behaviour**

_Intelligence component should not get delayed in displaying the answer._

**Screenshots of the issue**

[2017-07-21 14:01] Marauderer97 commented on #672
@nikhilrayaprolu No, as far as I know, we cannot. If we can find a better API for autocorrect. we can replace the current one pretty easily though

[2017-07-21 14:03] Marauderer97 opened #678 "Infobox shown when no results are displayed"
**Actual Behaviour**

The Infobox sometimes appears even when there are no results
**Expected Behaviour**

Hide infobox

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/28466891-82029020-6e4b-11e7-9982-c7d985c673ce.png)

Working on this :+1:

[2017-07-21 19:58] #678 closed

[2017-07-21 20:01] #669 closed

[2017-07-22 07:57] Marauderer97 commented on #635
If anyone else is free, please try this issue, right now I am committed to making Susper Mobile friendly

[2017-07-22 08:23] Marauderer97 opened #680 "Search icon hidden initially"
![image](https://user-images.githubusercontent.com/20185076/28489641-d136055c-6ee4-11e7-8ce2-8b17bb09481f.png)
Search icon is initially hidden when the result page is loaded(in mobiles)
It re-appears on refreshing the page
![image](https://user-images.githubusercontent.com/20185076/28489649-1307edba-6ee5-11e7-8a9a-f4d2317c766a.png)

Working on this :+1:

[2017-07-22 08:34] Marauderer97 opened #681 "White space at the top in Mobile phones"
**Actual Behaviour**

There is some space at the top of the navbar, when I open Susper on my mobile

**Expected Behaviour**

There shouldn't be any such space

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/28489719-f5866e40-6ee6-11e7-984c-6d2da08880c4.png)

[2017-07-22 08:37] Marauderer97 commented on #681
Working on this :+1:

[2017-07-22 13:30] mariobehling opened #683 "On large resolution screens search bar disappears and design is distorted"
Please test the site on large screens and ensure all page items appear as expected. See the bugs on large resolutions in the screenshot below, please.
![screenshot from 2017-07-22 15-29-16](https://user-images.githubusercontent.com/1583873/28491472-b9450b9c-6ef2-11e7-8f30-f5716ceed27a.png)

[2017-07-23 08:49] Marauderer97 commented on #633
I have tried working on this for a while now, the problem is we set the search bar dimension to 584 px forcefully in the index page, but we cannot do this for the auto complete box. It is impossible to access the auto-complete box from anywhere else because it is not present until a query is entered I think. This is what happens when I try to access the auto complete box from any .ts file
![image]

[2017-07-23 09:14] #681 closed

[2017-07-23 13:58] nikhilrayaprolu commented on #633
why do you need to access the auto-complete? just write a class that deals with the width of both search bar and autocomplete and let both inherit this same class

[2017-07-23 14:19] harshit98 commented on #633
@Marauderer97 The solution looks good by @nikhilrayaprolu

[2017-07-23 14:40] nikhilrayaprolu opened #684 "Grid systems not perfectly being followed"
**Actual Behaviour**
Right now I find many anti patterns in our project:
I find a lot of issues being raised on CSS and responsive design, I think the main reason for this is because we are not following any perfect grid structure and just making quick fixes. some of the quick fixes I see which are followed are:

- I find just many hard coded screen sizes with random min and max sizes being used h

[2017-07-23 16:10] harshit98 commented on #147
@nikhilrayaprolu @Marauderer97

I have made image grid responsive and much better. I was working on this issue from 2-3 days. This issue is broad. By broad, I mean that there are some common challenges which we will be facing:
- Creating an expandable area (similar to Google) where an image is displayed.
- Creating previous/next buttons.
- When an expandable area is activated, the image should be

[2017-07-23 16:42] Marauderer97 commented on #684
I agree I am having a very tough time, with responsiveness, even the smallest of issues take more time because we use the same component on different pages, and want different styles for it, how do we introduce a grid structure now @nikhilrayaprolu ?

[2017-07-23 16:46] nikhilrayaprolu commented on #684
@Marauderer97 the only thing we could do is remove all anti patterns one by one. one best way to follow here is a top down approach. first see if there is something that could be changed in app component, then go to its sub components. In this way, we won't break anything.

[2017-07-23 16:58] nikhilrayaprolu commented on #147
good work @harshit98 let me try if I could find some way to achieve this and reply on suggestions from my side. I will try to give some suggestion/solution in a day.

[2017-07-23 17:41] Marauderer97 commented on #680
Hitting a road block here.
![image](https://user-images.githubusercontent.com/20185076/28498331-47e47da4-6fb8-11e7-870a-037492b0b2b1.png)

![image](https://user-images.githubusercontent.com/20185076/28498316-134d3efa-6fb8-11e7-885c-18654c011d9e.png)

Can anybody suggest what is happening here, been stuck on this for a while :worried:

[2017-07-23 17:54] nikhilrayaprolu opened #685 "Display all images at once."
**Actual Behaviour**
Presently images in susper don't load at once.Different images are taking different time spans leading to some chaos on screen.
![image](https://user-images.githubusercontent.com/15216503/28501661-0fd08f7a-6ffe-11e7-8b02-dc8241520846.png)

![screenshot from 2017-07-23 23-23-34](https://user-images.githubusercontent.com/15216503/28501664-1fa9d212-6ffe-11e7-8b46-b366c3208be7.png

[2017-07-23 22:07] harshit98 commented on #684
@nikhilrayaprolu @Marauderer97 We can start on this issue from smaller screen size. Expand the viewport and check if there are any breaking changes or looks bad. Add a breakpoint and repeat.

[2017-07-24 06:02] nikhilrayaprolu commented on #680
@Marauderer97 can you specify the screen size you are testing at? I am not able to replicate this error

[2017-07-27 02:09] harshit98 commented on #384
Fixed in #687.This issue can be closed now.

[2017-07-27 02:14] harshit98 commented on #672
@Marauderer97 @nikhilrayaprolu

Even if I type a correct query, still autocorrect API responds. It would be better to find other external API for autocorrect.

![screenshot from 2017-07-27 07-40-55](https://user-images.githubusercontent.com/22245418/28651383-2f4ae442-729f-11e7-8437-0d55c0215ca6.png)

[2017-07-27 02:51] harshit98 commented on #634
@mariobehling This issue seems to be fixed now.

![screenshot from 2017-07-27 08-20-36](https://user-images.githubusercontent.com/22245418/28652285-8b2bff58-72a4-11e7-9d8d-e1ef15ea8380.png)

[2017-07-27 04:27] Marauderer97 commented on #633
@nikhilrayaprolu We need different widths for index and results page. Correct me if I am wrong, but if I write a class in say search bar component, its not enough, so I will have to write it in the index component and hence will have to access it .

[2017-07-27 05:42] nikhilrayaprolu commented on #633
Yes, you are right, you have to write the CSS class in the index component.

[2017-07-27 06:12] nikhilrayaprolu commented on #672
I have proposed using http://hunspell.github.io/ for this at that time, since it is widely used by many popular projects.

[2017-07-27 11:15] nikhilrayaprolu commented on #676
@harshit98 @Marauderer97 we could use https://www.npmjs.com/package/ngx-infinite-scroll this module to build this.

[2017-07-27 11:16] nikhilrayaprolu commented on #685
I think we could run a method each time new images are fetched that converts the src names to base64 encoding and use those to display images here? @harshit98 @Marauderer97

[2017-07-29 04:14] harshit98 commented on #685
@nikhilrayaprolu Looks good! We can use base64 encoding for the images.

[2017-07-29 19:06] harshit98 opened #689 "Code Maintainability: Arrange the services and components in a separate folder"
**Actual Behaviour**

There are a lot of services inside `src/app/`

**Expected Behaviour**

Create a separate folder for the services and a separate folder for the components to easily distinguish between them.

**Screenshots of the issue**
(Not applicable here)

[2017-07-29 19:09] nikhilrayaprolu commented on #689
@harshit98 I would suggest making similar to loklak_search, https://github.com/fossasia/loklak_search/tree/master/src/app

[2017-07-29 19:19] harshit98 commented on #689
Working on it. :+1:

[2017-07-29 19:22] harshit98 commented on #661
- When instant results are ON then it should show results per page 10 similar to market leader.
- Yes, the feature results per page do not work when instant results are turned OFF.

@nikhilrayaprolu I tried to solve the issue. Maybe the bug has been generated after merge of #624

[2017-07-29 19:24] harshit98 commented on #196
@nikhilrayaprolu @Marauderer97 We can achieve this by storing cookies.

[2017-07-29 19:42] nikhilrayaprolu commented on #196
@harshit98 that is not a permanent solution, what if the user clears cookies.

[2017-07-30 01:02] harshit98 commented on #196
@nikhilrayaprolu Then again it should pop up. Google behaves similarly like this. :)

[2017-07-30 09:28] nikhilrayaprolu commented on #196
@harshit98 I don't find google behaving such if the user has already installed the search extension, why should we show the pop up after clearing cookies?

[2017-07-30 11:38] nikhilrayaprolu commented on #685
@harshit98 I tried working on this issue but finally ended up with CORS issue. we can do this from server-side itself as browsers don't allow CORS requests.

[2017-07-30 11:40] nikhilrayaprolu commented on #676
working on this.

[2017-07-30 19:18] nikhilrayaprolu commented on #448
@Orbiter presently for retrieving results from a specific site in Yacy we can add a modifier `site="bbc.com"` but what if we want results from two or more sites simultaneously? do we have any modifier for the query facet that could accept multiple sites?

[2017-07-31 09:48] nikhilrayaprolu opened #695 "Add meta tags for the general purpose information"
Add additional meta tags for the general information on the browser and devices similar to loklak
https://github.com/fossasia/loklak_search/pull/457
https://github.com/fossasia/loklak_search/issues/455

[2017-07-31 09:52] nikhilrayaprolu commented on #672
I have asked the hunspell community regarding this, one can follow the thread at https://github.com/hunspell/hunspell/issues/518

[2017-07-31 11:22] hpdang commented on #685
@nikhilrayaprolu Please open an issue on Yacy Grid then. Thanks.

[2017-07-31 11:22] #685 closed

[2017-07-31 11:24] hpdang commented on #680
I am also having this issue. It happens on small screens. It is a high priority.

[2017-07-31 14:44] Marauderer97 commented on #680
@nikhilrayaprolu Try any screen size below 600px width to replicate this

[2017-07-31 18:21] harshit98 commented on #695
Working on this.

[2017-07-31 22:02] nikhilrayaprolu commented on #695
@harshit98 the main motive of this issue is for SEO.
please follow up with these works on loklak and implement similarly
https://github.com/fossasia/loklak_search/issues/311
https://github.com/fossasia/loklak_search/issues/456
https://github.com/fossasia/loklak_search/issues/452

[2017-08-01 01:55] harshit98 opened #697 "Heading links are not appearing."
**Actual Behaviour**

On mobile version, the heading links seems to be not appearing.

**Expected Behaviour**

Heading links should appear.

**Screenshots of the issue**

![screenshot_20170731-091857](https://user-images.githubusercontent.com/22245418/28805901-96f008c2-768a-11e7-9d06-983ed2bcf0b0.png)

[2017-08-01 01:59] harshit98 opened #698 "Pagination bar not appearing properly"
**Actual Behaviour**

Currently pagination bar seems to be not getting displayed properly.

**Expected Behaviour**

Pagination bar should appear on mobile screen size.

**Screenshots of the issue**

![screenshot_20170731-091859](https://user-images.githubusercontent.com/22245418/28805955-ec7f2f8e-768a-11e7-8f76-16f84e180292.png)

[2017-08-01 02:01] harshit98 opened #699 "Remove whitespace from smaller screen sizes"
**Actual Behaviour**

On smaller screen sizes, white space is being observed.

**Expected Behaviour**

No whitespace should be present.

**Screenshots of the issue**

![screenshot_20170731-091911](https://user-images.githubusercontent.com/22245418/28806035-6cfa170a-768b-11e7-9201-8f664f7bdbdd.png)

[2017-08-01 03:33] harshit98 commented on #695
@nikhilrayaprolu ok. Working on it.

[2017-08-01 05:16] harshit98 commented on #695
@nikhilrayaprolu Meta tag has been added. But I didn't understood changing titles dynamically. I have done some changes in my PR now. Please review.

[2017-08-01 05:47] #676 closed

[2017-08-01 06:14] #661 closed

[2017-08-01 06:15] mariobehling opened #700 "Related Searches are shown even if there are no related searches"
Related Searches are shown even if there are no related searches. Expected: Only show related searches if available.
![screenshot from 2017-08-01 08-13-16](https://user-images.githubusercontent.com/1583873/28811761-7f986d84-7691-11e7-8b00-3942bd58896d.png)

[2017-08-01 09:16] Marauderer97 commented on #700
Fixing this immediately :+1:

[2017-08-01 10:37] Marauderer97 commented on #698
@harshit98 Can you please specify the dimensions, it is working on my phone
![image](https://user-images.githubusercontent.com/20185076/28821495-42775144-76d3-11e7-9c9d-2a4a5b551556.png)

[2017-08-01 11:05] Marauderer97 opened #702 "Image overlap with 'did you mean?'"
**Actual Behaviour**

The first row of images overlaps with the 'Did you mean: ' message

**Expected Behaviour**

This should be avoided

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/20185076/28822571-588396a6-76d7-11e7-87d0-9db0e44d7bfe.png)

Working on this :+1:

[2017-08-01 11:08] harshit98 commented on #702
Better to remove it. Google does not show did you mean feature in the images section.

[2017-08-01 12:11] #689 closed

[2017-08-01 12:51] harshit98 commented on #680
Actually, on smaller screen size the search icon is not hidden.

![screenshot from 2017-08-01 17-16-24](https://user-images.githubusercontent.com/22245418/28826034-2134297c-76e6-11e7-811d-3e6cebca8ce2.png)

The microphone icon is overlapping the search icon.

[2017-08-01 14:55] nikhilrayaprolu commented on #695
@harshit98 when ever we show results , we could change the title of the tab to the query made by the user,
![image](https://user-images.githubusercontent.com/15216503/28831552-7b669036-76f7-11e7-84b0-440fd88dd4c7.png)

here you could check that the title of the tab is **India- Google Search**

[2017-08-01 14:59] nikhilrayaprolu commented on #680
@Marauderer97 can you please record a screenshot and show how we can replicate this issue.

[2017-08-01 18:06] #695 closed

[2017-08-01 18:56] nikhilrayaprolu commented on #635
sure I am working on this. :+1:

[2017-08-01 23:16] mariobehling commented on #507
Unfortunately this issue was never resolved entirely.

[2017-08-01 23:17] mariobehling commented on #507
* Search box and below results are not aligned at the end
* info box now moved further below
![screenshot from 2017-08-02 01-16-46](https://user-images.githubusercontent.com/1583873/28851043-56cfee88-7720-11e7-996d-c7b2c7c56ae0.png)

[2017-08-01 23:19] mariobehling commented on #589
Still have not seen it working.

[2017-08-02 03:44] harshit98 commented on #684
@nikhilrayaprolu There is no rule as to how many break points a page should have, but one should be added wherever the layout breaks. The aim is to make sure the design and content flow nicely regardless of the width of the viewport. :sweat_smile:

[2017-08-02 04:42] harshit98 commented on #680
I am working on this issue. :+1:

[2017-08-02 05:27] harshit98 commented on #680
@Marauderer97 Why I'm not able to change the width of search bar? It's just, the search icon is getting out of screen size.

![screenshot from 2017-08-02 10-54-11](https://user-images.githubusercontent.com/22245418/28858825-fc623388-7770-11e7-885d-3196b2d6ebbc.png)

Also, you have used:

`@media screen and (max-width: 764px) {
  #nav-group {
    width: 96vw !important
  }
}`

Can you please fix th

[2017-08-02 05:38] harshit98 commented on #698
@Marauderer97 My browser wasn't updated. I have updated it now and Susper is running perfectly. Closing this issue.

[2017-08-02 05:38] #698 closed

[2017-08-02 05:39] harshit98 commented on #697
Closing this issue. Refer #698

[2017-08-02 05:39] #697 closed

[2017-08-02 08:14] nikhilrayaprolu commented on #684
True, but having a breakpoint for each of the 50px is not a good solution. that will just raise issues like this https://github.com/fossasia/susper.com/issues/507 and we have to be verifying in each of the 50-pixel range. this will just increase the length of the code and time of development and testing. do you think having a  50px break point is the only solution? How are other projects loklak_se

[2017-08-02 08:46] nikhilrayaprolu commented on #702
working on this.

[2017-08-02 15:14] harshit98 commented on #634
This issue is fixed after implementing infinite scroll feature. Though, images with broken link still persist to load and can be followed here #277

[2017-08-03 02:23] harshit98 commented on #589
What issue is happening @mariobehling ? It would be great, if you can provide some details so that we can work on it.

[2017-08-03 02:34] harshit98 opened #705 "Make the intelligence component responsive."
**Actual Behaviour**

When intelligence component responds, the width of box crosses the screen size.

**Expected Behaviour**

It should be responsive and should be equal to the width of screen size to avoid white space issue.

**Screenshots of the issue**

![screenshot from 2017-08-03 08-03-27](https://user-images.githubusercontent.com/22245418/28903402-47a8ce72-7822-11e7-9e39-1ae735056dfa.png)

[2017-08-03 02:39] harshit98 commented on #700
Solved in #701. This can be closed now.

[2017-08-03 03:13] harshit98 commented on #699
@Marauderer97 @nikhilrayaprolu Any suggestions on how white space can be removed? From my side, the possible reason may be due to
- the width of menu-bar crossing screen size width.
- the width of search-bar crossing screen size width. (which will be fixed in PR: #703 )

[2017-08-03 04:40] Marauderer97 commented on #705
@harshit98 Have you started working on this? If not I would like to work on this issue. :+1:

[2017-08-03 05:20] harshit98 commented on #705
Yes @Marauderer97 you can start working on this issue.

[2017-08-03 06:15] Marauderer97 commented on #699
@harshit98 Try restricting the width of the menu bar and the search bar and try to see the results

[2017-08-03 07:20] Marauderer97 commented on #705
Waiting for the Responsive Large Screen PR to get merged first, to avoid clashes :+1:

[2017-08-03 08:08] harshit98 opened #709 "Settings of Susper is not working on mobile phones."
**Actual Behaviour**

The settings feature of Susper is not working when touched.

**Expected Behaviour**

On touch, it should work as it works for desktop.

**Screenshots of the issue**

![screenshot_20170803-133514](https://user-images.githubusercontent.com/22245418/28912185-e275c2ce-7850-11e7-9d6e-3b2887678751.png)

[2017-08-03 08:22] harshit98 commented on #709
@nikhilrayaprolu @Marauderer97 We can install hammer.js dependency to solve this issue. Refer: http://hammerjs.github.io/

[2017-08-03 09:44] nikhilrayaprolu commented on #709
![image](https://user-images.githubusercontent.com/15216503/28915988-66b81be2-785e-11e7-962f-7304f7382369.png)

It is working for me.

[2017-08-03 12:35] troublemagnet opened #710 "Indentation not proper."
**Actual Behaviour**

When I opened susper.com, the susper logo on the top left corner wasn't really visible properly.

**Expected Behaviour**

It should be properly located.

**Screenshots of the issue**

![screenshot from 2017-08-03 18-00-52](https://user-images.githubusercontent.com/28952053/28922040-3274f996-7876-11e7-9668-ad38cf0960a9.png)

[2017-08-04 03:36] harshit98 commented on #710
@troublemagnet Please provide us the details regarding viewport so that we can work on it.

[2017-08-04 06:21] harshit98 opened #711 "Remove flickering of text-animation"
**Actual Behaviour**

When a user gives input, there is small flickering of animation observed.

**Expected Behaviour**

The text should not flicker.

Video link to understand the flickering of text: https://www.youtube.com/watch?v=NkkJHwQlaWw&feature=youtu.be

[2017-08-04 07:10] #702 closed

[2017-08-05 04:32] Marauderer97 opened #713 "Make footer responsive"
**Actual Behaviour**
Footer in Susper is not responsive at small mobile sizes

**Expected Behaviour**
Footer needs to have properly aligned links in mobile view like in loklak.net

**Screenshots of the issue**
In Susper:
![image](https://user-images.githubusercontent.com/20185076/28992837-ece3c9ca-79c4-11e7-99ab-78b7096a8b5d.png)
![image](https://user-images.githubusercontent.com/20185076/28992845

[2017-08-05 10:48] mariobehling opened #714 "Result Page: Results are not displayed according Date or Context Rating"
Changing date or context rating does not change anything. Seems not working.
![screenshot from 2017-08-05 12-47-26](https://user-images.githubusercontent.com/1583873/28994964-5ec2207a-79dc-11e7-8076-b2668193bbf8.png)

[2017-08-05 17:17] #683 closed

[2017-08-06 09:48] harshit98 commented on #710
Working on this issue :+1:

[2017-08-06 09:51] harshit98 opened #716 "Dropdown menu not properly aligned on tablet screen size"
**Actual Behaviour**

On screen size (768px) tablet, the dropdown menu is not properly aligned.

**Expected Behaviour**

The drop-down menu is responsive for all the screen size. But I'm observing this issue with tablet screen size of 768px.

**Screenshots of the issue**

![screenshot from 2017-08-06 15-17-58](https://user-images.githubusercontent.com/22245418/29002204-dd2fc078-7aba-11e7-98f0-afd1

[2017-08-06 11:54] Marauderer97 commented on #714
@mariobehling This issue was raised in #500, where we all had a discussion according to which we felt the error seems to be from Yacy side.

[2017-08-06 11:59] Marauderer97 commented on #680
This issue doesn't seem to be occurring anymore, so closing it

[2017-08-06 11:59] #680 closed

[2017-08-06 12:09] Marauderer97 opened #718 "Fix margin for autocorrect and results"
**Actual Behaviour**

Results for videos is skewed. Auto correct alignment is skewed everywhere

**Expected Behaviour**

Correctly align all components

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/29003103-1aaa8f74-7ace-11e7-860f-ff7024a9c120.png)

Working on this :+1:

[2017-08-06 15:25] harshit98 commented on #718
Please refer all new issues regarding mobile compatibility to #524

[2017-08-06 15:28] harshit98 commented on #714
@Marauderer97 Context ranking and sort by date is now working here too: http://search.yacy.net/

[2017-08-06 16:11] harshit98 commented on #710
@Marauderer97 Please refer this issue in your PR #720

[2017-08-06 17:31] harshit98 commented on #714
@nikhilrayaprolu I tried solving this issue using `urldata.sort = 'published_date desc'` but it seems to be not working. 'last_modified desc' seems to be not working now.

[2017-08-07 11:18] nikhilrayaprolu commented on #714
@harshit98 yes, adding a sort attribute is not working, in http://search.yacy.net/, it is implemented by appending a `/date` to the query. so you can proceed by doing something similar.
![image](https://user-images.githubusercontent.com/15216503/29024552-376f51d6-7b90-11e7-88f0-fd7b37938f51.png)

[2017-08-07 16:04] #714 closed

[2017-08-07 16:16] harshit98 commented on #716
@Marauderer97 Can we do it like this: changing width of `nav-group` id element and adjusting the position of dropdown menu?

[2017-08-07 16:29] harshit98 commented on #699
@Marauderer97 The search bar width was fixed here #680. I'm working on this to change the width of the menu to avoid white space issue.

[2017-08-07 23:49] mariobehling opened #722 "Typing on start page search box does not move search bar anymore"
Expected just like with loklak and Google search bar should move up.

![screenshot from 2017-08-08 01-47-54](https://user-images.githubusercontent.com/1583873/29050366-bbba5ef4-7bdb-11e7-900c-960b22229649.png)

[2017-08-08 02:53] harshit98 commented on #500
Closing this issue, solved in #721

[2017-08-08 02:53] #500 closed

[2017-08-08 03:01] harshit98 commented on #710
This issue is solved in #720  and can be closed.

[2017-08-08 05:28] #710 closed

[2017-08-08 05:32] nikhilrayaprolu commented on #722
@mariobehling similar to google we have implemented a customisable option to choose whether the user requires instant results or not. to have instant results please go to search settings.
![image](https://user-images.githubusercontent.com/15216503/29057544-cd795f4e-7c28-11e7-8a4d-4ba08c02bea2.png)
and select always show instant results.
![image](https://user-images.githubusercontent.com/15216503/2

[2017-08-08 05:35] harshit98 commented on #722
@mariobehling Should we then keep instant result feature as default?

[2017-08-08 05:44] nikhilrayaprolu commented on #722
@harshit98 what does google has as default, for me, I don't have instant results as default. Is it same with all browsers.

[2017-08-08 15:25] #633 closed

[2017-08-08 16:33] harshit98 commented on #718
Please reopen this issue. It is still not solved.

![screenshot from 2017-08-08 22-02-20](https://user-images.githubusercontent.com/22245418/29083169-62fbb51a-7c85-11e7-80a4-bc48bb004eca.png)

[2017-08-08 16:57] nikhilrayaprolu commented on #718
@Marauderer97 please look at this error and fix it early.

[2017-08-09 02:56] harshit98 opened #724 "Lot of empty space being left over at the end of results."
**Actual Behaviour**

Due to recently implemented statistics box, a lot of space is being left between the last result of the page and pagination bar.

**Expected Behaviour**

There should not be so much empty space. The design should look clean.

**Screenshots of the issue**

![screenshot from 2017-08-09 08-22-25](https://user-images.githubusercontent.com/22245418/29103270-38f07452-7cdc-11e7-8683

[2017-08-09 03:02] harshit98 commented on #713
This issue can be closed now.

[2017-08-09 03:04] harshit98 commented on #507
@Marauderer97 When you were working for responsiveness for the screen size greater than 1920px, has it been fixed?

[2017-08-09 13:09] Marauderer97 commented on #724
One solution is to hide the Analytics box, and show it with a toggle button that reads 'Show Analytics'

[2017-08-09 13:15] Marauderer97 opened #725 "Better Alignment of Infobox and Analytics Box"
The responsiveness of Infobox and Alignment box has to be improved and made similar to Google and loklak
Currently it is breaking at certain dimensions

**Screenshots of the issue**
In Firefox
![image](https://user-images.githubusercontent.com/20185076/29123239-b636fae8-7d32-11e7-93ae-a79af012c2e8.png)

In Chrome,(1216px)
![image](https://user-images.githubusercontent.com/20185076/29123272-d20421e

[2017-08-10 04:54] harshit98 commented on #709
@nikhilrayaprolu @Marauderer97 Please test this issue. When I check it for all the screen sizes, it is working but when I test it on my smartphone, the settings option does not work.

[2017-08-10 07:07] nikhilrayaprolu opened #728 "Change Date statistics in statisticsbox such that it supports monthly and potentially weekly results"
Presently Date graph shows only yearly statistics, change Date statistics in statistics box such that it supports monthly and potentially weekly results.
Also change "Protocol Frequency" to "Protocol Distribution".

[2017-08-10 07:08] #713 closed

[2017-08-10 07:20] nikhilrayaprolu commented on #709
@harshit98 yes I am facing the same issue on my smart phone.

[2017-08-10 15:03] #716 closed

[2017-08-10 18:36] #711 closed

[2017-08-10 21:17] mariobehling opened #729 "Match design and width of search areas to market leaders"
The exact width and design of search results is still different. Please ensure the following is correct:
* Search result link text is matching market leader and never longer than expected
* Search result description text is matching market leader and font size and design is same
(Google)
![screenshot from 2017-08-10 23-03-01](https://user-images.githubusercontent.com/1583873/29192213-e8ee19f0-7e20

[2017-08-10 21:21] mariobehling opened #730 "Cannot change number of results after instant predictions settings are changed"
After instant predictions settings are changed, it is not possible to change instant results.

![screenshot from 2017-08-10 23-20-32](https://user-images.githubusercontent.com/1583873/29192703-a9f20174-7e22-11e7-82da-cad54c5faf86.png)

[2017-08-11 18:50] harshit98 commented on #709
@Marauderer97 @nikhilrayaprolu I'm not able to understand this issue why this is happening. Everything in the code looks good to me.

[2017-08-11 20:02] mariobehling opened #733 "Sidebar not showing links and clicking on links does not always show results"
1. The sidebar shows links to e.g. authors and a number with the results. Clicking on some links shows no results though.

2. Scrolling over the links does not show a link URL in the browser bottom bar as usually.

![screenshot from 2017-08-11 21-59-34](https://user-images.githubusercontent.com/1583873/29229836-b75fcf3a-7ee0-11e7-8383-1dbc26c3d5b3.png)

[2017-08-12 06:51] harshit98 commented on #730
I would like to work on this. :+1:

[2017-08-12 07:21] harshit98 commented on #635
@nikhilrayaprolu What else features are being left to be implemented regarding this issue?

[2017-08-12 10:24] #730 closed

[2017-08-12 10:44] nikhilrayaprolu commented on #709
@Marauderer97 any idea regarding this, even I am not able to figure this out.

[2017-08-12 10:52] nikhilrayaprolu commented on #635
@harshit98 Date feature which shows graphs in week/month format is required. another issue is raised regarding this at https://github.com/fossasia/susper.com/issues/728

[2017-08-12 10:58] Marauderer97 commented on #729
Working on results feed width, results feed formatting and color of infobox graphs

[2017-08-12 11:34] ParthS007 opened #737 ""Running on Local host" heading is small in README.md"
**Actual Behaviour**
"Running on Local host" heading is small in README.md

**Expected Behaviour**
It should be large enough so that it is easily visible.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/24358501/29240148-c97a000e-7f7c-11e7-9404-76fba27b4960.png)

[2017-08-12 11:47] ParthS007 commented on #737
I am a new contributor and want to work on this issue.

[2017-08-12 11:54] harshit98 commented on #737
@ParthS007 Hi! Good to see, you're interested in contributing in Susper. You can proceed with the issue. Please add `Step 4: Go to localhost:4200 where the application will be running locally` also after step 3.

[2017-08-12 13:42] #725 closed

[2017-08-12 13:56] #737 closed

[2017-08-13 07:20] harshit98 commented on #718
I'm working on this. :+1

[2017-08-13 10:40] Marauderer97 opened #739 "Intelligence box position disturbed"
**Actual Behaviour**

The intelligence box position has been disturbed again.

**Expected Behaviour**

Make the box responsive and properly positioned

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/29248911-dc7c7dc4-8041-11e7-8ae5-13fbc2344274.png)
Working on this immediately :+1:

[2017-08-13 11:09] mariobehling commented on #729
After recent commits the info boxes are now in different width.
![screenshot from 2017-08-13 13-07-20](https://user-images.githubusercontent.com/1583873/29249080-a3492d5e-8028-11e7-9cb0-0adddaffad5e.png)

[2017-08-13 11:20] mariobehling opened #740 "Move "Customization" to Settings Dropdown"
* Move "Customization" to Settings Dropdown
![screenshot from 2017-08-13 13-15-34](https://user-images.githubusercontent.com/1583873/29249109-c943380a-8029-11e7-8b0c-b824e18cd9c1.png)

[2017-08-13 11:44] Marauderer97 commented on #740
Working on this :+1:

[2017-08-13 11:48] Marauderer97 opened #742 "Boxes disturbed in Google chrome"
**Actual Behaviour**

The Infobox and Analytics box are not properly placed in Google Chrome, though they are correctly positioned at the same dimension in Firefox.

**Expected Behaviour**
We need to write browser specific CSS to fix this problem.

**Screenshots of the issue**
(Both taken at 1289px)
![image](https://user-images.githubusercontent.com/20185076/29249345-29b11baa-804b-11e7-9053-01c881

[2017-08-13 12:35] #739 closed

[2017-08-13 13:01] nikhilrayaprolu commented on #733
@mariobehling there is an error when clicked on Undefined Author, that renders no results. other than that this is working well with other links on my browser, can you please specify if there are other errors too.

can you explain the second point in a bit detail.
working on removing the link for undefined user.

[2017-08-13 13:01] mariobehling opened #745 "Using facettes like "date" does not yield results in image and video tab and no results message misplaced"
Using facettes like "date" does not yield results in image and video tab. Also "no results message" is not placed in correct location. It should be in the same area as results usally.

![screenshot from 2017-08-13 15-00-08](https://user-images.githubusercontent.com/1583873/29249876-2b742378-8038-11e7-8d26-d522c749550b.png)

[2017-08-13 14:17] nikhilrayaprolu opened #747 "Speech to text not working"
speech to text is not working due to pause in the speech.

[2017-08-13 20:06] #740 closed

[2017-08-14 01:52] harshit98 commented on #718
This issue can be closed now. Fixed in #741

[2017-08-14 05:12] Marauderer97 commented on #745
Working on this :+1:

[2017-08-14 12:53] #718 closed

[2017-08-14 13:02] nikhilrayaprolu opened #749 "Google shows next page instead of pagination bar in mobile devices"
![image](https://user-images.githubusercontent.com/15216503/29272694-cc169888-811e-11e7-970c-7c8de10527e8.png)

google shows next page instead of pagination bar in mobile devices, where as we show a full pagination bar,implement next page similar to google on mobile devices.

[2017-08-14 14:16] ParthS007 commented on #749
I want to work on this issue.How should I proceed ?

[2017-08-15 03:54] Marauderer97 opened #750 "Design infobox for Mobile Phones"
Currently at around 1100 px Susper hides its Infobox. We can change this by implementing a different version of the infobox for mobiles like Google does here:
![image](https://user-images.githubusercontent.com/20185076/29301647-4de04676-819b-11e7-82af-63972510f223.png)

Refer #743
I am working on this :+1:

[2017-08-15 07:18] nikhilrayaprolu commented on #749
@ParthS007 we have results component at https://github.com/fossasia/susper.com/tree/master/src/app/results which have code related to pagination bar, you can modify that code, to achieve the required enhancement.
Happy Coding.

[2017-08-15 08:55] nikhilrayaprolu opened #751 "remove the require is not defined error on susper"
**Actual Behaviour**

![screen shot 2017-08-15 at 2 24 16 pm](https://user-images.githubusercontent.com/15216503/29309001-91b8f29c-81c5-11e7-8f7b-12dd782bc769.png)

[2017-08-15 09:04] #742 closed

[2017-08-15 13:45] harshit98 commented on #751
Working on this issue. :+1:

[2017-08-15 16:41] harshit98 opened #752 "Intelligence component not working properly."
**Actual Behaviour**

To reproduce the bug:
- Write 'Trump'. It will show intelligence like this:
![screenshot from 2017-08-15 22-06-11](https://user-images.githubusercontent.com/22245418/29325691-460794c0-8206-11e7-8208-d5ca0221eb41.png)

- The second time, if I type "Jaipur" the intelligence component does not hide or gets changed.
![screenshot from 2017-08-15 22-06-25](https://user-images.githu

[2017-08-16 19:27] #751 closed

[2017-08-17 06:28] Marauderer97 commented on #750
![image](https://user-images.githubusercontent.com/20185076/29398569-f8f0c2d6-8342-11e7-846a-2da8c6a8f07c.png)
Currently with the order of the components, the infobox is at the bottom like this. Is this alright? My only other option is to design a new box exclusively for mobiles

[2017-08-17 07:13] nikhilrayaprolu commented on #750
Please put it at the top of the results similar to google.

[2017-08-17 17:26] harshit98 commented on #752
Closing this issue. SUSI API is working fine now. :+1:

[2017-08-17 17:26] #752 closed

[2017-08-18 09:53] #747 closed

[2017-08-21 05:18] Marauderer97 opened #756 "Menu hidden in Amazon kindle"
The Main menu icon is hidden in the amazon kindle
![image](https://user-images.githubusercontent.com/20185076/29504568-31cb5670-865e-11e7-903a-6c5dc9cabd16.png)

Working on this :+1:

[2017-08-21 13:00] #750 closed

[2017-08-21 16:23] harshit98 opened #758 "When speech mode occurs, microphone is being blocked"
**Actual Behaviour**

Speech to text feature is not working. When speech mode occurs, the microphone is automatically being blocked for susper.com

**Expected Behaviour**

The microphone should not be blocked and should work as expected.

**Screenshots of the issue**

![screenshot from 2017-08-21 21-49-46](https://user-images.githubusercontent.com/22245418/29528856-21d0d24c-86bb-11e7-96b0-f2da30fc

[2017-08-21 22:41] #756 closed

[2017-08-23 08:42] mariobehling opened #759 "Search results from browser address bar/ search box not following standard"
If the user has Susper as standard search engine installed and puts in searches into the address bar in Chrome/Fx or search box in Firefox the search performed is "searchterm+searchterm" instead of "searchterm searchterm".

![screenshot from 2017-08-23 10-40-28](https://user-images.githubusercontent.com/1583873/29606870-cb14d01c-87ef-11e7-9ade-0a82400b2faf.png)

[2017-08-28 08:41] nikhilrayaprolu opened #760 "Make documentation to Susper using Yaydoc"
Create documentation to Susper using https://github.com/fossasia/yaydoc ,
@Marauderer97 @harshit98 start working on documenting the features you have created. I will document the features I have made in Susper.

[2017-08-28 08:59] harshit98 commented on #760
@nikhilrayaprolu Sure. Working on it. 👍

[2017-08-28 09:02] harshit98 opened #761 "Code improvements and indentation."
**Actual Behaviour**

Susper repository code has not been organized perfectly.

**Expected Behaviour**

- Organize the code.
- Indent the code where it is necessary.

**Screenshots of the issue**

(Not applicable here)

This issue is with reference with #760

[2017-08-28 17:17] harshit98 commented on #761
@Marauderer97 @nikhilrayaprolu Please add here if something else other than these tasks has to be done.

[2017-08-30 22:38] #749 closed

[2017-08-31 06:51] Marauderer97 commented on #761
Can we update the readme file with screenshots?
For example:
![image](https://user-images.githubusercontent.com/20185076/29910146-5fe9f9ea-8e46-11e7-9f5c-9cc9fd5c69ee.png)
![image](https://user-images.githubusercontent.com/20185076/29910153-6bf2cbb8-8e46-11e7-8bd0-7cc97a1662fd.png)
![image](https://user-images.githubusercontent.com/20185076/29910177-851c7cc4-8e46-11e7-882e-e54d48eb2440.png)
![imag

[2017-08-31 12:14] harshit98 commented on #761
No need of screenshots @Marauderer97. Please follow up issue #760. Regarding, updating readme file please see what updated things can be written in it and mention them here before attempting to solve issue.

[2017-09-02 15:01] Marauderer97 opened #764 "Speech to text occurs multiple times"
**Actual Behaviour**

If the word is typed too fast, speech to text repeats the first few lines multiple times.

**Expected Behaviour**

This should not happen, the speech should be generated only once

**Screenshots of the issue**

Please see the video [Link](https://www.youtube.com/watch?v=3aFDJ6EDhF4)

[2017-09-02 15:43] Marauderer97 opened #765 "Problem with scroll feature"
**Actual Behaviour**
Sometimes after clicking on the images tab, clicking on any other tab gives wrong results(image results)
This happens because of the infinite image scroll. To replicate the issue, click on the images tab, scroll down a bit, now click on any other tab. You will see that wrong results appear.

**Expected Behaviour**

Every tab should have its own results

**Screenshots of the is

[2017-09-02 15:44] Marauderer97 commented on #765
Working on this :+1:

[2017-09-02 18:29] Marauderer97 opened #767 "Speech feature doesnot stop after one query"
**Actual Behaviour**

If I enter a query with speech, the text to speech feature continues for the next query too.

**Expected Behaviour**

It should get activated for the first query only

**Screenshots of the issue**

Not applicable

Working on this :+1:

[2017-09-04 11:58] nikhilrayaprolu commented on #745
@Marauderer97 any status regarding, I think this might require working with backend?

[2017-09-04 12:00] nikhilrayaprolu commented on #729
@Marauderer97 @harshit98 what is the status of this? are all subissues solved?

[2017-09-04 12:02] nikhilrayaprolu commented on #722
@harshit98 shall we close this issue, since activating instant search moves the search bar to top?
or shall we make instant results as default.

[2017-09-04 12:03] #700 closed

[2017-09-04 12:04] nikhilrayaprolu commented on #647
closing this as same issue is at https://github.com/fossasia/susper.com/issues/668

[2017-09-04 12:04] #647 closed

[2017-09-04 12:05] nikhilrayaprolu commented on #635
closing this as we can follow #728 for the required change.

[2017-09-04 12:05] #635 closed

[2017-09-04 12:06] nikhilrayaprolu commented on #589
closing this as same issue is referenced at https://github.com/fossasia/susper.com/issues/758 and a solution of migrating to https is proposed there.

[2017-09-04 12:06] #589 closed

[2017-09-04 12:09] #765 closed

[2017-09-05 00:20] harshit98 commented on #761
@nikhilrayaprolu @Marauderer97 I didn't found any changes which has to be done in `README.md` file. So, I'm closing this issue as it has been solved completely.

[2017-09-05 00:20] #761 closed

[2017-09-09 12:25] harshit98 commented on #571
Already these was a PR regarding implementing Maps feature to Susper: #587. Can it be re-opened @nikhilrayaprolu or you will make a new PR for it?

[2017-09-09 13:13] harshit98 opened #768 "Load scripts via HTTPS"
**Actual Behaviour**

- There are some scripts which are being loaded as `http://` instead of `https://`.
- Some scripts are not having `http://` and `https://` both.

**Expected Behaviour**

- Change scripts from `http://` to `https://`
- Add `https://` if nothing is defined in scripts.

[2017-09-09 19:24] Hardik113 opened #769 "Design Standards of Crawl Job Page #769"
**Actual Behaviour**

The design standards of the crawl job page are not maintained.

**Expected Behaviour**

Please let me know the structure so that I can start working on it

**Screenshots of the issue**

![screen shot 2017-09-10 at 12 49 56 am](https://user-images.githubusercontent.com/18461983/30243188-144334b0-95c2-11e7-9efb-97e5a1e89b74.png)

[2017-09-09 19:46] harshit98 commented on #769
Hi @Hardik113. Good to see you're interested in contributing in Susper. Please implement the same design as it has been done here: http://yacy.searchlab.eu/CrawlStartExpert.html

[2017-09-17 04:49] DeveloperAlfa opened #770 "The chat bot responds awkwardly to get"
**Actual Behaviour**

returns undefined when anything is put after get

**Expected Behaviour**

analyse and search on the internet

**Screenshots of the issue**

https://ibb.co/ivCG3k

I can solve the issue with some assisstance in Language Processing

[2017-09-17 04:52] DeveloperAlfa opened #771 "meme is not working"
**Actual Behaviour**

get me a meme request sends [not clickable]path/link of the meme

**Expected Behaviour**

show the meme as an image

**Screenshots of the issue**

https://ibb.co/nrwFw5

I can work on the issue

[2017-09-17 04:53] #771 closed

[2017-09-17 04:53] #770 closed

[2017-09-17 06:51] harshit98 commented on #771
@DeveloperAlfa May I know the reason why you opened this issue?

[2017-09-17 06:59] DeveloperAlfa commented on #771
This was an issue in the susi ai not. I opened it here

[2017-09-17 08:16] DeveloperAlfa commented on #771
https://github.com/fossasia/chat.susi.ai/issues/803

[2017-09-21 17:32] vaibhavsingh97 commented on #768
@harshit98 Can i work on this issue?

[2017-09-23 16:35] mariobehling commented on #768
@vaibhavsingh97 Please go ahead.

[2017-09-23 16:37] mariobehling opened #772 "Voice input not working since switch to https"
Voice input not working in https.

![screenshot from 2017-09-23 18-36-44](https://user-images.githubusercontent.com/1583873/30775095-3260f262-a08e-11e7-8cbb-d51cd0cf8db0.png)

[2017-09-23 18:07] harshit98 commented on #768
Yes @vaibhavsingh97 :)
Please go ahead.

[2017-09-25 21:46] vaibhavsingh97 commented on #772
@mariobehling voice input icon is missing here
![image](https://user-images.githubusercontent.com/8705386/30832543-ec7e0f92-a23a-11e7-9042-f449e09c4f95.png)
I will try to solve the issue 😄

[2017-09-26 06:39] harshit98 commented on #772
@vaibhavsingh97 In which browser you're running Susper? In Firefox, we have not added the voice feature. So there is no icon of it. The voice feature is only available for Chrome browser.

[2017-09-26 06:40] #768 closed

[2017-09-26 06:40] vaibhavsingh97 commented on #772
@harshit98 Ohh! I am running Firefox so no issue. 😄 I will try in chrome and try to fix this bug 😁

[2017-09-26 23:49] collinx commented on #772
@mariobehling @harshit98 @vaibhavsingh97 I get to know about the Susper project yesterday. I looked into to the code, and have resolved this issue.
You can view the results [here](https://susperdeploy.firebaseapp.com/)
Let me know what you think. 😄

[2017-09-28 07:33] soumam007 opened #776 "Firefox could not install the search engine from: https://susper.com/susper.xml"
**Actual Behaviour**
Firefox could not install the search engine from: https://susper.com/susper.xml

**Expected Behaviour**
Should remove google.com(my default search engine) and replace it with susper.com

**Screenshots of the issue**
[https://pasteboard.co/GMqm9C8.png](url)
![screenshot from 2017-09-28 12-57-25](https://user-images.githubusercontent.com/21683311/30954317-544c1bb4-a44d-11e7-8f7b

[2017-09-28 07:43] soumam007 opened #777 "Susper.com not showing microphone.png in mozilla firefox"
**Actual Behaviour**
Susper.com not showing microphone.png in mozilla firefox

**Expected Behaviour**
microphone.png should be visible in all type of web browsers

**Screenshots of the issue**
![screenshot from 2017-09-28 13-12-56](https://user-images.githubusercontent.com/21683311/30954705-c6a3adde-a44e-11e7-97c2-80eaea1da775.png)

[2017-09-28 08:13] mariobehling opened #778 "Voice Output not working with Chromium and Chrome"
Voice input now works, but output still does not.

[2017-09-28 08:13] mariobehling commented on #777
The reason is, because Firefox does not support TTS and STT.

[2017-09-28 08:13] #777 closed

[2017-09-28 08:30] soumam007 commented on #777
@mariobehling sorry for my ignorance ,thanks for the information :)

[2017-09-28 08:41] dimfried commented on #729
Hi @mariobehling
is this still a thing? I'd like to help if there's still something left :)

[2017-09-28 08:47] harshit98 commented on #772
This issue can be closed now.

[2017-09-28 08:49] harshit98 commented on #729
Hi @dimfried
You can cross-check if something we have missed, you can fix it. Let me know if you face any issue somewhere. :)

[2017-09-28 08:55] harshit98 commented on #776
Have you checked xml file @soumam007 ? There was a recent update in the xml file by @collinx.

[2017-09-28 09:10] soumam007 commented on #776
@harshit98 I didnt get you, please rephrase :)

[2017-09-28 09:46] harshit98 commented on #729
@dimfried If you find any issue regarding UI/UX, you can update here. No need of opening it as a separate issue. :)

[2017-09-28 12:28] collinx commented on #778
@harshit98 I am able to get output from voice input, could you explain where the output is not producing?
Also, dbpedia doesn't have https domain so, it is not working.

[2017-09-28 16:17] smokingwheels commented on #776
I have FireFox ESR Windows VER running in Playonlinux and I got the error.
I have no special hosts file installed.

[2017-09-29 06:26] ajayns opened #779 "Navbar code repeated for each component"
![image](https://user-images.githubusercontent.com/20743219/31003365-f3b3d6d2-a50c-11e7-896b-eebd3698ca96.png)
This navbar, used to navigate the terms, contact and about pages is separate code written for each of the pages. I'd suggest another component be created for this navbar and that to be reused in all of these pages.

If we're moving forward in solving this issue, I'd like to help.

[2017-09-29 06:47] ajayns opened #781 "Improve dropdown menu UI"
**Actual Behaviour**

In the dropdown menu, the logo images are of different sizes, the text links are underlined and on hover the added border causes the dropdown container itself to expand a bit.

**Expected Behaviour**

Logo images should be restricted to same width.
Text links underline should be removed.
Fix the hover issue.
Also, each text element should be centered.

**Screenshots of the is

[2017-09-29 06:53] ajayns commented on #769
Hey! If no one is working on this issue, I'd like to try and help! @Hardik113 @harshit98

[2017-09-29 06:57] ajayns commented on #634
![image](https://user-images.githubusercontent.com/20743219/31004306-77b61914-a511-11e7-98a1-c2d4294a0bb9.png)
The no results block is not positioned correctly. I'd like to help! @harshit98 @mariobehling

[2017-09-30 07:28] juslintek commented on #684
Looks like a job for me 😁 Scss grid patternization to the rescue.

[2017-09-30 09:06] harshit98 commented on #769
@ajayns Yeah sure. Please go ahead. :)

[2017-09-30 11:41] harshit98 commented on #634
Sure @ajayns. Please go ahead. :)

[2017-09-30 11:48] harshit98 commented on #779
Hi @ajayns. There is no need of creating a separate component for it. You can close this issue. The terms, about and contact page has already been developed and responsive as well.

It will better to focus on some other high priority issues which are currently open. They will serve as a good contribution. :)

[2017-09-30 12:09] harshit98 commented on #759
I'm not able to reproduce this bug. @collinx Are you able to reproduce this bug?

[2017-09-30 12:18] harshit98 commented on #684
@juslintek How you'll proceed to solve this issue?

[2017-09-30 12:32] harshit98 commented on #781
@ajayns Some few corrections from my side:
- The icons which we have used are each of 48x48 pixels. So the icons which you're referring as 'logo-images' are of same width and height. :)
- The underline action of text should be removed.
- Hover feature should not be removed. We have tried to make it similar to Google. However, I have observed one thing while hovering over `Contact`, the rectangular

[2017-09-30 13:33] juslintek commented on #684
I would use bootstrap grid scss find the biggest density of columns in current design and change variable in scss code to generate required grid density css. Then replace in layout custom css classes with bootstrap grid classes.

[2017-09-30 15:07] harshit98 commented on #684
Sounds good @juslintek. Please go ahead. :)

[2017-09-30 18:45] collinx opened #783 "Travis CI build is failing"
**Actual Behaviour**

Travis CI build is failing due to the usage of the same name for global and local variables (shadowing a variable).

**Expected Behaviour**

Travis Build should be successful.

**Screenshots of the issue**
![capture](https://user-images.githubusercontent.com/13784830/31048580-a0bfe2ae-a63d-11e7-9727-0b231e274e73.PNG)

I would like to solve this issue.

[2017-10-01 08:33] ajayns commented on #781
@harshit98

* It's great that the icon dimensions are square but then when displayed they don't seem to be perfect cause of the placement of the eventyay and maybe minor such issues.
* When I mentioned about the bug with the hover issue, my suggestion was not to remove but I meant I'd see why the whole container seems resizing on hover and fix that issue, keeping the hover effect intact as per the

[2017-10-01 08:37] ajayns commented on #779
Okay @harshit98  but it's the same code that's repeated and also different styles used for each one individually, complicating stuff rather than a simple reused component with common styling. That's why I opened this issue. I'm sorry to bother you but do check it out once more but if you are still sticking to leaving this issue, mention and I'll close it. Thanks for the reply!

[2017-10-02 19:26] #783 closed

[2017-10-03 06:30] #759 closed

[2017-10-03 23:03] harshit98 commented on #779
@ajayns Yes I know the code is being repeated but it would be better to close. Creating a new component for it will require a lot of work again. It is already been developed and responsive as well. So, there is no need of creating a new component. :)

You can close this issue.

[2017-10-03 23:43] harshit98 opened #786 "Current webpage is not redirecting to previous page."
**To reproduce the bug**
- Search a keyword, for e.g. `india`
- From Analytics box, click on any top provider.
- The search box will now display keyword as `india site:link`.
- Going back to previous page action is not occurring.

**Actual Behaviour**

Going back to previous webpage is not working on Susper.

**Expected Behaviour**

The webpage should redirect to previous page even if search is us

[2017-10-03 23:50] harshit98 commented on #733
@mariobehling

Scrolling over the link is showing a link at the bottom of the browser like this, if I hover on top-provider `www.greenpeace.org`:

![screen shot 2017-10-04 at 5 15 45 am](https://user-images.githubusercontent.com/22245418/31154225-4345e7c6-a8c3-11e7-898e-5f55efb251d3.png)

Do you mean it should only show `www.greenpeace.org` or it should show- `https://susper.com/search?query=india

[2017-10-04 00:04] harshit98 commented on #745
@nikhilrayaprolu @Marauderer97

Susper is currently not showing any images without any use of facets. This is currently happening due to images are being loaded as http. The http requests are getting blocked on Susper and hence they should be loaded in https.

[2017-10-04 00:10] harshit98 commented on #622
Closing this issue, since it has been solved from the backend side.

[2017-10-04 00:10] #622 closed

[2017-10-04 00:14] harshit98 commented on #668
@mariobehling This issue can be closed.

Speech to text is now working on Chrome browser on mobile. 👍

[2017-10-04 00:17] harshit98 commented on #758
With the new Google Chrome update, the microphone was being blocked on http and hence this issue was occurring.

Closing this issue, since it has been solved by shifting Susper on the https.

[2017-10-04 00:17] #758 closed

[2017-10-04 05:30] ajayns commented on #779
Alright, understood. @harshit98

[2017-10-04 05:30] ajayns commented on #779
Alright I understand @harshit98

[2017-10-04 05:30] #779 closed

[2017-10-04 05:40] collinx commented on #786
I would like to work on it

[2017-10-04 11:42] harshit98 commented on #722
@nikhilrayaprolu We should make instant results as default. I will make it just function like Loklak Search. I'm working on this. 👍

[2017-10-04 12:11] collinx commented on #786
@harshit98 I would like to work on it

[2017-10-04 16:16] collinx commented on #772
@mariobehling @harshit98 Is this issue still occurring??

[2017-10-04 17:54] harshit98 commented on #772
No @collinx. It has been fixed. :)

[2017-10-09 16:49] #722 closed

[2017-10-09 16:49] #786 closed

[2017-10-10 02:00] harshit98 commented on #781
@ajayns Issue has been solved, you can close this issue.

[2017-10-10 02:01] harshit98 commented on #778
@collinx I talked to DBpedia devs. They only serve their API in `Http` not in `Https`. We need to find some another solution.

[2017-10-10 02:02] harshit98 commented on #776
@soumam007 I will check and see what is happening and why it's not working. 👍

[2017-10-10 14:26] collinx commented on #778
@harshit98 I will look into it. Will notify as I get something relevant. 😄

[2017-10-10 14:27] collinx commented on #767
@Marauderer97 Is this issue still occurring?

[2017-10-10 14:45] harshit98 commented on #767
@collinx Basically, the description of a query which was being rendered in infobox was being uttered whenever search was attempted in voice mode. This was the feature. Since the infobox is not responding (using DBpedia), we can't work on this issue right now.

[2017-10-10 17:09] collinx commented on #767
ok 👍 @harshit98

[2017-10-11 05:28] #781 closed

[2017-10-12 06:37] collinx opened #789 "Empty card appearing for no results"
**Actual Behaviour**

An empty card is appearing after no result text. When results are shown, this card is used for showing pagination bar.

**Expected Behaviour**

No empty card should appear in case of no results.

**Screenshots of the issue**

![screenshot_2017-10-12-12-04-22-343_com android chrome](https://user-images.githubusercontent.com/13784830/31482386-b62b8452-af45-11e7-81df-eabea36e5b1

[2017-10-12 07:30] harshit98 commented on #764
@Marauderer97 This issue can be closed. It is not happening anymore.

[2017-10-12 08:04] harshit98 commented on #127
This issue can be closed @nikhilrayaprolu

[2017-10-12 14:07] #772 closed

[2017-10-12 20:03] #789 closed

[2017-10-22 06:54] ParthS007 opened #791 "Translations needed for JSON definition list of all repos and filemasks, so they can be imported to weblate"
[https://github.com/fossasia/labs.fossasia.org/issues/231](url)

Please refer to this issue for more info.

[2017-10-22 06:59] gopal86 commented on #791
@ParthS007   the link you provided gives the error :- page not found

[2017-10-23 07:11] ParthS007 commented on #791
@gopal86 Now it's working you can access the link

[2017-10-23 20:19] Remorax commented on #791
I would like to work on this :)

[2017-10-24 15:19] harshit98 commented on #791
Please go ahead @Remorax :)

[2017-10-24 16:34] Remorax commented on #791
Just wanted to ask, does this count as a PR?

[2017-10-25 10:42] Remorax commented on #769
What's the status of this issue? I'd like to take it up, if no one is working on it :) @ajayns @Hardik113 @harshit98

[2017-10-25 18:57] harshit98 commented on #791
@Remorax Yes. Please open up a separate PR solving this issue.

[2017-10-25 19:20] Remorax commented on #791
But the JSON has to be on the Google docs page, right? How can I make a PR then without changing any files in the code base?

[2017-10-26 11:12] Remorax opened #794 "UI improvements needed in Advanced Search page"
**Actual Behaviour**

In the advanced search page, there are a few UI-related issues:
1. The labels are not properly aligned with the text fields, its' too near the top of the text field.
2. Its' all in lowercase, which could be changed to uppercase and font size could be increased
3. The submit button is too much to the right, making it look slightly out of place. Also the font size is a bit too

[2017-10-26 13:54] harshit98 commented on #794
@Remorax We tried to make it similar to Google's advanced search.

![screen shot 2017-10-26 at 7 18 03 pm](https://user-images.githubusercontent.com/22245418/32056526-81a7967e-ba82-11e7-8457-0dbac2be7bab.png)

That was the reason:
- Advanced search button was aligned towards right.
- Label heading were in lower case.

There is no need to change UI of advanced search. You can check #769 where the c

[2017-10-26 14:00] Remorax commented on #794
Oh okay :P. But Google's advanced search has the labels centered and aligned with the text field. Is it okay if I undo the aligning of the button and the label heading being in lower case, but let the margin-top remain? I really feel that it's very confusing the way it is right now :)

[2017-10-26 19:09] harshit98 commented on #794
@Remorax Yes, undo aligning of the button and the label heading being in lower case only.

[2017-10-27 10:50] harshit98 commented on #769
@Remorax Yes you can take this issue. Do the UI improvements similar to here: http://yacy.searchlab.eu/CrawlStartExpert.html

[2017-10-27 10:53] harshit98 commented on #724
Closing this issue, it is not occurring anymore.

[2017-10-27 10:53] #724 closed

[2017-10-27 10:59] harshit98 commented on #524
Closing this issue, since majority of the work has been done on it and some minor issues are still open as separate issue.

[2017-10-27 10:59] #524 closed

[2017-10-27 11:04] harshit98 commented on #729
@mariobehling This issue can be closed now. 👍

[2017-10-28 02:09] #776 closed

[2017-10-28 06:26] harshit98 commented on #794
@Remorax You can close this issue now.

[2017-10-28 06:27] #794 closed

[2017-10-28 19:41] Remorax commented on #769
@harshit98 Can I implement it exactly as its' given over there? With the green background color etc?

[2017-10-30 18:10] Remorax commented on #769
![screen shot 2017-10-30 at 11 33 20 pm](https://user-images.githubusercontent.com/26062692/32187608-99f9163e-bdcb-11e7-9620-c06b140df05a.png)
![screen shot 2017-10-30 at 11 33 29 pm](https://user-images.githubusercontent.com/26062692/32187610-9a311e4e-bdcb-11e7-9a46-ba6ad7b42c87.png)
![screen shot 2017-10-30 at 11 33 38 pm](https://user-images.githubusercontent.com/26062692/32187611-9a5dd920-bdcb

[2017-10-31 02:13] harshit98 opened #797 "DBpedia request is getting blocked on HTTPS"
**Actual Behaviour**

The infobox (knowledge graph) in Susper was implemented using DBpedia. The requests are getting blocked on HTTPS due to which infobox seems to be not appearing in the results section. Currently, DBpedia API only works on HTTP and not on HTTPS.

**Expected Behaviour**

The infobox should appear with the fetched results.

**Screenshots of the issue**

(Not applicable here)

[2017-10-31 17:38] bhaveshAn opened #798 "Add CONTRIBUTING.md and Modify TEMPLATES"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Screenshots of the issue**

Attach a screenshot of the issue here.

**Yes, I would like to work on this issue**

[2017-10-31 17:51] bhaveshAn commented on #760
@nikhilrayaprolu Is this issue still active. As I would like to work on this. Please tell !!

[2017-10-31 18:25] bhaveshAn commented on #699
Is this an active issue. Please let me know !!

[2017-10-31 18:39] bhaveshAn commented on #797
@harshit98 Can we use any of these https://alternativeto.net/software/dbpedia/ in place of DBpedia. Please let me know. Thanks !!

[2017-10-31 19:11] harshit98 commented on #797
@bhaveshAn Looks good to me. Please start a discussion regarding this issue on the gitter channel. :+1

[2017-10-31 19:17] bhaveshAn opened #800 "Dockerize susper.com"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Screenshots of the issue**

Attach a screenshot of the issue here.

**Yes, I would like to work on this issue**

[2017-10-31 20:04] bhaveshAn opened #802 "Provide heroku deployment"
**Yes, I would like to work on this issue**

[2017-11-01 10:27] harshit98 commented on #53
@nikhilrayaprolu @mariobehling This issue can be closed now. We can't separate the images, videos, normal results into different components. They all should load in a single component i.e. `resultscomponent`.

[2017-11-01 11:06] vaibhavsingh97 commented on #196
Claiming this issue

[2017-11-01 11:08] harshit98 commented on #196
Sure @vaibhavsingh97. Please go ahead. Kindly while making a PR for it, follow up the best practices.

[2017-11-01 11:14] harshit98 commented on #672
Closing this issue because it is not occurring anymore.

[2017-11-01 11:14] #672 closed

[2017-11-01 15:22] nikhilrayaprolu commented on #797
@harshit98 Probably, we can build a proxy to the DBpedia API that takes requests in https and makes a callback to DBpedia.
I would suggest to once get in touch DBpedia community and know if they could provide https route.

[2017-11-01 15:25] #53 closed

[2017-11-01 15:26] nikhilrayaprolu commented on #699
@bhaveshAn yes this is an active issue

[2017-11-01 15:31] nikhilrayaprolu commented on #760
Yes sure @bhaveshAn this issue will give you an opportunity to get complete understanding the project. please go through blogs on susper at blog.fossasia.org and you can start writing the documentation.

[2017-11-01 15:31] vaibhavsingh97 opened #804 "Automatic Heroku Deployment with each PR"
**Actual Behaviour**
Right now, user have to deploy manually and comment on thier PR

**Expected Behaviour**
Automatic Heroku deployment should be there .

**yes, i am interested to work on this issue**

[2017-11-01 15:32] #729 closed

[2017-11-01 22:37] harshit98 opened #805 "Images are loading on HTTP, due to which no images appear."
**Actual Behaviour**

Images are being loaded on HTTP due to which they are getting blocked on Susper. Susper has been shifted to HTTPS recently.

**Expected Behaviour**

The images should be loaded on the HTTPS.

**Screenshots of the issue**

(Not applicable here)

[2017-11-01 22:40] harshit98 opened #806 "Intelligence component is not working after switch to HTTPS."
**Actual Behaviour**

For any query, the intelligence component is not responding.

**Expected Behaviour**

It should respond whenever a question is asked. To proceed with the issue, please check if there is any issue with the SUSI chat API which we have used.

**Screenshots of the issue**

(Not applicable here)

[2017-11-01 22:48] harshit98 commented on #791
I have just gone through the issue @Remorax. The JSON has to be on the Google Docs page. Don't make a PR for it. Would you like to take up this issue?

[2017-11-01 22:59] harshit98 opened #807 "Add LICENSE file for this repository."
**Actual Behaviour**

Currently, susper.com repository is not having any license.

**Expected Behaviour**

Add license file to susper.com repository.

**Screenshots of the issue**

(Not applicable here)

[2017-11-02 03:13] ParthS007 commented on #807
@harshit98  I want to work on this

[2017-11-02 03:19] ParthS007 commented on #805
I want to work on this @harshit98 .

[2017-11-02 06:24] vaibhavsingh97 commented on #807
@ParthS007 I think let first commer solves this issue. @harshit98 Can you please add necessary labels 😄

[2017-11-02 07:14] harshit98 commented on #807
@vaibhavsingh97 Let him try if he wants to! :)

@ParthS007 Please go ahead. You can use any license like GPL 3.0, MIT license or Apache license etc.

[2017-11-02 07:17] harshit98 commented on #805
@ParthS007 This is actually more kind of *backend issue*. I would suggest you not to claim this issue at this moment.

[2017-11-02 07:34] harshit98 commented on #802
@bhaveshAn You can close this issue now.

[2017-11-02 10:22] Remorax commented on #791
No, please assign the issue to someone else :)

[2017-11-02 13:16] #802 closed

[2017-11-02 18:13] bhaveshAn commented on #800
Closing in relation to #801

[2017-11-02 18:13] #800 closed

[2017-11-02 18:13] bhaveshAn commented on #798
Closing in relation to #799

[2017-11-02 18:13] #798 closed

[2017-11-07 10:28] bhaveshAn commented on #807
I think can be closed in relation to #809

[2017-11-07 21:24] #807 closed

[2017-11-12 20:43] bhaveshAn commented on #804
Can you please share the progress or the idea you have in mind.

[2017-11-12 20:45] bhaveshAn commented on #384
Is this issue still active ?

[2017-11-12 20:45] bhaveshAn commented on #584
Is this issue still active ?

[2017-11-12 20:51] bhaveshAn commented on #507
@harshit98 Is this issue active? I would like to work on...

[2017-11-12 20:54] bhaveshAn commented on #769
Is this issue still active ? As I would like to work on this ...

[2017-11-12 20:56] bhaveshAn commented on #306
@nikhilrayaprolu Is this issue still active ? As I would like to work on this...

[2017-11-12 20:59] bhaveshAn commented on #267
Can I try on this one !!

[2017-11-12 21:02] bhaveshAn commented on #147
Is this issue still active ?

[2017-11-12 21:18] ParthS007 commented on #769
@bhaveshAn I working on this due to inactivity of PR . I forgot to comment here

[2017-11-13 04:52] Remorax commented on #769
@bhaveshAn @ParthS007 Please stop working on this. I've worked a lot for this, but I've been swamped the past few days, so please let me finish this as well.

[2017-11-13 09:43] vaibhavsingh97 commented on #804
@bhaveshAn I can send PR only when anyone form maintainer can make me temp owner of heroku to make some config 😅

[2017-11-13 21:13] #760 closed

[2017-11-13 21:59] marvin08 opened #812 "Adding "PRIVACY" Page and linking it in the Footer"
**Current behavior:**
There is no page for privacy policy in the footer.

**Expected behavior:**
There should be a link to the "PRIVACY" page in the footer on the right hand side.

**Would you like to work on this issue?**
Yes.

[2017-11-13 22:01] marvin08 commented on #812
Suggestions required @harshit98 @mariobehling

[2017-11-14 17:59] harshit98 commented on #812
Yes @marvin08 please go ahead. :)

[2017-11-14 18:01] marvin08 commented on #812
:+1:

[2017-11-14 18:18] marvin08 commented on #812
@harshit98 Please tell me exactly what should be added in the Privacy Page.

[2017-11-14 18:51] harshit98 commented on #812
@marvin08 Take help from @ParthS007. He developed the privacy page of loklak_search.

[2017-11-14 19:46] marvin08 commented on #812
@harshit98 Ok :+1:

[2017-11-16 14:19] aashutoshrathi opened #814 "The search query is not selectable"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Currently, when we click on suggestions, only the part where the text is placed is selectable and clickable.

**Expected behavior:**
Whole suggestion row should be clickable

**Screenshots**

![screen shot 11-17-17 at 05 47 pm 001](https://user-images.githubusercontent.com/21199234/32946932-8ce9e2e6-cbbf-11e7-83

[2017-11-17 11:50] harshit98 commented on #814
@aashutoshrathi Please provide screenshots and steps to reproduce the bug.

[2017-11-17 12:06] harshit98 opened #816 "[UPDATE]: Angular version bump from v4.1.3 to v5.0.2"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The current repo of Susper has Angular version v4.1.3 running.

**Expected behavior:**
Update all the packages and dependencies and upgrade to the latest version of Angular i.e. v5.0.2

**Screenshots of the issue:**
(Not applicable here)

I'm working on this issue. 👍

[2017-11-17 12:19] aashutoshrathi commented on #814
@harshit98 updated with screenshots.

[2017-11-17 12:23] harshit98 commented on #814
@aashutoshrathi Would you like to work on this issue?

[2017-11-17 12:25] aashutoshrathi commented on #814
Actually I'm still working on how to reproduce this bug, but yeah I want to work on this.

[2017-11-17 12:26] harshit98 commented on #814
@aashutoshrathi I have figured out the bug. You can start working on its fix. 👍

[2017-11-17 12:28] aashutoshrathi commented on #814
Yes 👍

[2017-11-17 12:36] aashutoshrathi commented on #814
@harshit98 what exactly is causing it?

[2017-11-17 12:46] harshit98 commented on #814
Maybe `<a>` tag. It is a one-line fix. :)

[2017-11-17 12:50] harshit98 commented on #797
@bhaveshAn Would you like to work on this issue?

[2017-11-17 12:59] bhaveshAn commented on #797
Sure @harshit98

[2017-11-17 13:26] harshit98 commented on #797
This may help you regarding Wikidata: https://www.mediawiki.org/wiki/API:Query#Sample_query

[2017-11-17 19:06] ParthS007 opened #820 "Updation of SUSI.AI logo in drobox"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Presently there is an old logo of susi.ai.

**Expected behavior:**
It should be replaced with new one.

[2017-11-17 19:07] ParthS007 commented on #820
I am working on this

[2017-11-18 10:50] aashutoshrathi opened #822 "Correction in instructions for deploying GH Pages"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] typo

**Current behavior:**

Step 2 says **`$ git checkout angular`**

![image](https://user-images.githubusercontent.com/21199234/32979501-571787e6-cc7c-11e7-836d-bf2be1c959fa.png)

**Expected behavior:**

It should be **`$ git checkout master`**

- [x] I would like to work on this.

[2017-11-18 17:50] harshit98 commented on #806
I'm working on this issue. 👍

This issue can also be referred to: #677

[2017-11-18 21:08] #814 closed

[2017-11-18 21:11] #820 closed

[2017-11-19 05:47] aashutoshrathi opened #825 "Typo in PR Template comments"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] typo

**Current behavior:**
![image](https://user-images.githubusercontent.com/21199234/32987806-2f1d06a4-cd1b-11e7-8d3c-9ae8a2e932a6.png)

**Expected behavior:**
Highlighted `you` should be `your`

[2017-11-19 07:04] harshit98 commented on #825
@aashutoshrathi It does not makes any sense. Have you noticed it is just a comment ? Please stop making such issues. There are other major issues as well on which more focus has to be done.

[2017-11-19 07:10] #825 closed

[2017-11-19 07:14] harshit98 commented on #804
@vaibhavsingh97 Please close this issue. Already we're deploying PRs using `npm run deploy`.

[2017-11-19 11:30] vaibhavsingh97 commented on #804
Sure👍

[2017-11-19 11:30] #804 closed

[2017-11-21 19:40] harshit98 opened #827 "[FEATURE]: Auto deploy to 'surge' on every pull request."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The deployment link can be generated using `ng build` and `npm run deploy`. This process sometimes takes upto 30 mins on the slower network.

**Expected behavior:**

Once the PR is created, automatically deployment link should be generated in the Travis report.

**Screenshots of the issue:**

(Not applicable he

[2017-11-24 08:39] #812 closed

[2017-11-24 18:42] marvin08 opened #829 "Removing 'github' icon link from the dropdown menu"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Both 'code' and 'github' icon links refer to the repository of susper.com on github.

**Expected behavior:**
Only 'code' icon link should be present in the the dropdown menu.

**Screenshots of the issue:**
(Not applicable here)

**Would you like to work on this issue?**
Yes.

[2017-11-24 18:44] marvin08 commented on #829
@harshit98 Suggestions?

[2017-11-24 21:04] harshit98 commented on #829
No need of removing it @marvin08. Please close this issue. Before opening a issue, kindly discuss it with the mentors on public channel.

[2017-11-24 21:18] marvin08 commented on #829
Ok @harshit98 :+1:.

[2017-11-24 21:18] #829 closed

[2017-11-26 20:30] bhaveshAn opened #830 "Minor bug: Links not working for terms and privacy routes"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

1. Incorrect `Board of Directors: Phuc Hau Dang` in https://susper.com/contact
2. Link not provided `please visit our contact page. ` in last line of https://susper.com/terms
3.  Link not provided `please visit our contact page. ` https://susper.com/privacy
4. Incorrect Link provided to Blogs at index page it i

[2017-12-01 18:36] imujjwal96 opened #832 "Implement Yaydoc docs generation in susper.com"
Yaydoc is FOSSASIA's own automatic documentation generation and deployment project. At the crux of it, Yaydoc generates a documentation website using the markdown present in a project's repository and keeps the website in sync with the changes made in project's documentation.

The project requires a .yaydoc.yml configuration file at the project's root directory. Adding necessary information in the

[2017-12-01 22:06] marvin08 commented on #832
@imujjwal96 I want to work on this issue.

[2017-12-02 21:05] marvin08 commented on #832
@imujjwal96 I think this issue was already resolved in #810. @harshit98 Your views?

[2017-12-05 12:29] 0x48piraj commented on #832
Can I work on this ?

[2017-12-05 15:25] bhaveshAn commented on #830
@harshit98 Are you getting the issue, now ?

[2017-12-06 11:19] harshit98 opened #833 "[GCI Task]: Design a new logo for Susper."
**OBJECTIVE:**

Refactor the current logo of Susper.

**REQUIREMENTS:**

Designing software.

**OUTCOME:**

A new logo that will look better than the previous logo.

**LINKS:**

- Checkout here: https://github.com/fossasia/susper.com
- If you have any doubts or face any difficulty then please reach out to our gitter channel: https://gitter.im/fossasia/fossasia
- Time period: 3 days.
- Type: Docume

[2017-12-06 11:31] harshit98 opened #834 "[GCI Task]: Code Formatting."
**OBJECTIVE:**

Many parts of code in different files of the project is not properly indented. Your task is to properly indent code in any one file of the codebase. Also you have to remove extra lines, create a blank line between functions and overall make the code look neat and tidy.

**REQUIREMENTS:**

Indentation, Code formatting.

**OUTCOME:**

A pull request with a properly formatted and neat

[2017-12-12 23:02] #830 closed

[2017-12-12 23:02] #827 closed

[2017-12-12 23:03] #806 closed

[2017-12-12 23:03] #822 closed

[2017-12-13 10:54] #709 closed

[2017-12-13 10:58] harshit98 opened #836 "[GCI Task]: Refactor the UI of the Footer and making it responsive"
**OBJECTIVE:**

Present footer in Susper is responsive but some of the features on click are not working. Refactor the code, to make it working.

**REQUIREMENTS:**

HTML, CSS, Bootstrap and Git knowledge.

**OUTCOME:**

A pull request with all the features in the footer working on desktop and mobile.

**LINK:**

Time period: 5 days.
Type: Code, Advanced Task.

[2017-12-13 11:01] #833 closed

[2017-12-13 11:45] STEdirisuriya opened #837 "At least, there is not anything about SUSPER on SUSPER"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

At least, there is not anything about SUSPER on SUSPER!

**Expected behavior:**
Please improve it.

**Screenshots of the issue:**

![issue](https://user-images.githubusercontent.com/33794760/33937346-1b4cc5da-e029-11e7-94d8-e89603e007c7.JPG)

[2017-12-13 12:39] duttaditya18 commented on #836
What exactly is not working?

[2017-12-13 15:39] harshit98 commented on #837
@STEdirisuriya This is not an issue related to Susper. The results are being loaded from server. Please close this issue. You can open an issue regarding any feature which is not working properly. : )

[2017-12-13 16:32] STEdirisuriya commented on #834
https://github.com/fossasia/susper.com/pull/838

[2017-12-13 16:42] #837 closed

[2017-12-16 09:06] YashKumarVerma commented on #836
@harshit98
the ui is already responsive 👍
![screenshot 190](https://user-images.githubusercontent.com/14032427/34069051-6df2bd7a-e26e-11e7-8d96-1fc87bbbb997.png)
![screenshot 191](https://user-images.githubusercontent.com/14032427/34069052-6e50210e-e26e-11e7-9c92-c5d418f5cae8.png)
![screenshot 192](https://user-images.githubusercontent.com/14032427/34069053-6e9617ae-e26e-11e7-896b-08be80b5b6ba.png

[2017-12-17 14:33] harshit98 commented on #836
@duttaditya18 @YashKumarVerma The actual goal of this task is to fix this issue: https://github.com/fossasia/susper.com/issues/709

[2017-12-18 01:48] harshit98 commented on #836
Basically @duttaditya18 @YashKumarVerma , if you will observe on mobile phone screen size: the `Settings` option is not working. Hence, it may require refactoring the whole footer UI.

[2017-12-18 17:26] agentcap opened #840 "Problem with Pagination Bar's "next" button"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The **next** button in the pagination bar is hidden for some pages even if it is not the last page of the results, and also the **next** button is not being hidden for the last page of the search results.
To replicate the issue, search for anything whose results are more than 10 pages and then move to the page n

[2017-12-18 18:39] bhaveshAn commented on #769
@Hardik113 Please close this Issue

[2017-12-18 18:41] bhaveshAn commented on #816
@harshit98 Is this issue still there, then I would like to work on it.

[2017-12-18 19:43] STEdirisuriya opened #842 "Add voice search feature for Firefox"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
The voice search feature not available on Firefox.

**Expected behavior:**
Add voice search feature.

**Screenshots of the issue:**
![screenshot from 2017-12-19 01-09-41](https://user-images.githubusercontent.com/33794760/34124671-c563b4b4-e459-11e7-9996-94e2c8fb7b01.png)

[2017-12-18 19:54] STEdirisuriya opened #843 "Add a feature for dark interface"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Only it has bright interface.

**Expected behavior:**
Make dark interface for it. It will improve user friendly interface of SUSPER.

[2017-12-19 15:06] hardy1334 opened #844 "Adding feature of Gmail login to get more traffic"
It will be great if Gmail login feature is added ,because from user's point of view it will be great if that user is getting queries or results based on his/her search history @Orbiter @mariobehling

[2017-12-19 21:17] bruce-wayne99 opened #845 "intelligence component accessing attributes of undefined object."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
'intelligence component' trying to access res.answers[0].actions even if res.answers[0] is **undefined**.
an error showing **TypeError: res.answers[0] is undefined** is returned in the console.

**Expected behavior:**
check if  res.answers[0] exists or not then try to access res.answers[0].actions.

**Screenshot

[2017-12-22 09:28] imujjwal96 commented on #832
Oh! I must have missed that. Thanks @marvin08 for notifying.  Closing this.

[2017-12-22 09:28] #832 closed

[2017-12-26 14:04] naveentherocker opened #847 "No Documentation regarding Contributions Best Practices"
It would be great if there is Documentation regarding Contributions Best Practices.

[2017-12-29 15:31] #847 closed

[2017-12-29 18:04] naveentherocker opened #849 "No Meta Data"

[2017-12-29 19:32] YashKumarVerma opened #851 "The pull request template misses deployment link"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
The pull request template does mention of the deployment link generated by travis by surge.

**Expected behavior:**
There should be a link template too.

**Screenshots of the issue:**

Not applicable

Working on it

[2017-12-30 10:47] agentcap opened #853 "Store the Preference of theme"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The **Customization** feature provides a way to choose between the available themes, but it does not store's the selected theme, and so the user have to manually switch to the preferred theme always.

**Expected behavior:**

The theme selected by the user in **Customization** modal should be stored and made the

[2017-12-30 10:51] agentcap commented on #853
@harshit98 can I work on this?

[2018-01-02 07:33] abishekvashok opened #854 "Parallelize the Travis CI bui;d"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Travis CI builds run on only one instance.

**Expected behavior:**
Multiple instances should be used to decrease the build time and accessiblity of the logs

**Screenshots of the issue:**
- Not valid

[2018-01-02 07:34] abishekvashok commented on #854
Working on it

[2018-01-02 08:02] abishekvashok commented on #854
@fossasia/susper-admin done in #855

[2018-01-04 07:04] #834 closed

[2018-01-04 23:24] 0x48piraj opened #858 "Integrate Twitter API to Susper.com, Search Engine Optimization"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

No any integration for twitter.

![image](https://user-images.githubusercontent.com/5800726/34588638-0ddd56dc-f1d4-11e7-95c9-3b82e9ed05bd.png)

**Expected behavior:**

**Complete Twitter integration for** _**susper.com**_ :heart_decoration:

Just like I did for fossasia's official website :100:

![image](https:

[2018-01-05 23:23] 0x48piraj commented on #764
Please close this @Marauderer97

[2018-01-05 23:28] 0x48piraj opened #860 "Adding Selenium Unit Tests"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There's no **selenium unit tests** for susper.com, for testing purposes :tada:

**Expected behavior:**
**There should be !**

**Screenshots of the issue:**
Nah! Not needed.

Ping @harshit98 @Orbiter @Remorax :100:

[2018-01-06 13:25] 0x48piraj opened #861 "Fix the broken eventyay icon"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Broken **eventyay** icon in menu. (Also, in wrong dimensions. Should be in `48x48`)

**Expected behavior:**
Should display and can navigate to eventyay

---
**Screenshots of the issue:**

![image](https://user-images.githubusercontent.com/5800726/34640130-13e9c4c6-f313-11e7-9a9e-435f0ba62bf5.png)

[2018-01-06 13:34] 0x48piraj opened #862 "Fix the same navigating icons/links"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Same navigation to many of the icons. It distorts the UI.

**Expected behavior:**
Crystal clear navigation.

**Demo of the issue:**
![susper_bug](https://user-images.githubusercontent.com/5800726/34640206-496b9da8-f314-11e7-8ef0-ebbe2d767677.gif)

[2018-01-06 18:43] YashKumarVerma opened #864 "travis.yml undocumented"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The travis.yml file is completely undocumented, making it difficult to comprehend

**Expected behavior:**
- The file should have prover comments to explain the process

**Screenshots of the issue:**
https://github.com/fossasia/susper.com/blob/master/.travis.yml

[2018-01-07 03:27] naveentherocker opened #866 "Add Code of Conduct"
Code of Conduct is missing

[2018-01-09 17:48] saarthakchats opened #870 "Need to improve PR template"
Working on it

[2018-01-09 18:21] aniket223 opened #872 "using font awesome icons and changing navbar inverse for better ui"
![screenshot-2018-1-9 susper](https://user-images.githubusercontent.com/21195423/34735715-6498f560-f596-11e7-9790-1c2c7d65052a.jpg)

[2018-01-10 04:17] praveenojha33 opened #873 "Feature request for interactive buttons and a search button on home page."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently the home page of search engine do not have any interactive buttons and looks vacant.The Search Results are shown on pressing Enter button.
**Suggested Modification:**
A search button can be introduced on home page of the Search Engine further an extra button can be introduced which will be link to a pa

[2018-01-10 06:03] arjunpandey2003 opened #874 "Improve Issue tEMPLATE"
**I'm submitting a ...**
- [ ] bug report
- [ X] feature request

**Current behavior:**
lacking info

**Expected behavior:**

info added
**Screenshots of the issue:**

I am workin g pls dont without my consent

[2018-01-10 10:37] samyakbvs opened #876 "The SUSPER image"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The  SUSPER is blank currently
**Expected behavior:**

The  SUSPER image should lead to about.html
**Screenshots of the issue:**

[2018-01-10 16:01] arjunpandey2003 opened #877 "Improve PR template"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Info needed
**Expected behavior:**

Info added
**Screenshots of the issue:**

[2018-01-10 16:39] arjunpandey2003 opened #879 "Add more sister projects"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

less projects
**Expected behavior:**

more added
**Screenshots of the issue:**

[2018-01-10 17:15] naveentherocker opened #881 "Update .editorconfig"
Update .editorconfig to Reduce Lint Errors

[2018-01-11 04:04] harshit98 commented on #860
@0x48piraj Why do we need selenium tests for Susper? We're already having unit tests.

[2018-01-11 04:05] harshit98 commented on #877
@arjunpandey2003 Close this issue.

[2018-01-11 04:06] harshit98 commented on #879
Your pull request is not acceptable. @arjunpandey2003 go through the readme file to check how to get deployment link. I have already integrated the Travis CI of the Susper with surge. So whenever Travis passes, deployment link is generated.

[2018-01-11 04:09] harshit98 commented on #873
The idea behind it was to follow the market leader. If you check Susper on Google Chrome browser, the search icon is hidden but if you check on Firefox, it appears to be there. This is basically a feature.

Currently the topic of widgets like weather, news etc is out of scope at present.

@praveenojha33 You can close this issue.

[2018-01-11 04:10] harshit98 commented on #872
@aniket223 Kindly follow the template and give details of the issue. It is not easy to understand what you're trying to do here.

[2018-01-11 04:12] harshit98 commented on #862
@0x48piraj I didn't understood the issue well. Can you elaborate more?

[2018-01-11 04:14] harshit98 commented on #858
@0x48piraj
- The idea is great! But what is the purpose of loklak search project?
- How it will benefit Susper?
- How it will differeniate between loklak search and susper?

[2018-01-11 04:15] harshit98 commented on #853
Yes @agentcap you can work on this.

Although I have reviewed your pull request. Good work so far! Keep it up! 🎉

[2018-01-11 04:18] harshit98 commented on #816
@bhaveshAn Yes. Please go ahead.
- Make sure tests should not fail.
- Once you've updated all the dependencies and upgraded to Angular v5.0.2, run tests on your machine to avoid failure of Travis CI.

[2018-01-11 04:25] #860 closed

[2018-01-11 04:26] 0x48piraj commented on #860
Oh. I was unaware of this fact. Thanks!

[2018-01-11 04:26] 0x48piraj commented on #862
@harshit98 Both the icons point at the same URL.

[2018-01-11 04:30] 0x48piraj commented on #858
No, I have added a separate background for it.
I mentioned because, It's being accepted in other Projects.
You can check the files :100:

[2018-01-11 04:36] samyakbvs commented on #879
I am also adding one sister project

[2018-01-12 18:19] saarthakchats opened #885 "rxJS Module calls incorrect"
**I'm submitting a ...**
- [ ] bug report

**Current behavior:**

While running `ng serve` to install Susper locally, terminal throws 'Cannot find module' errors for rxJS modules, one of the required modules for Susper (refer to screenshots below). This is due to incorrect calls of the modules. For example, there are multiple calls to `rxjs/operators/tap` inside the folder node-modules/rxjs, even

[2018-01-12 18:24] saarthakchats opened #886 "Advanced Search feature not working"
**I'm submitting a ...**
- [ ] bug report

**Current behavior:**

The Advanced Search feature is not working as there is no action upon clicking the 'Advanced Search' button even after filling out all the fields.

**Expected behavior:**

Advanced Search button works and performs a search with the queries specified.

***Reference link***
[Advanced Search Page](https://susper.com/advancedsearch)

[2018-01-12 20:24] YashKumarVerma opened #887 "Refactor Entire App in one format"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Files are formatted the same way

**Expected behavior:**
All files formatted in same fashion

[2018-01-13 07:32] #853 closed

[2018-01-13 17:28] abishekvashok commented on #836
@harshit98 can I work on it?

[2018-01-14 06:17] abishekvashok commented on #836
@harshit98 done in #890 pls review, thank you.

[2018-01-15 06:48] #873 closed

[2018-01-15 07:12] #864 closed

[2018-01-15 11:59] jajodiaraghav opened #892 "Clicking "Sort by Date" keeps appending /date to search"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Clicking "Sort by Date" keeps appending /date to search

**Expected behavior:**

/date should only be appended once to search

**Screenshots of the issue:**

![capture](https://user-images.githubusercontent.com/18749480/34941403-90874de8-fa19-11e7-98d0-ba979370b5e4.PNG)

[2018-01-15 11:59] jajodiaraghav commented on #892
Claiming this issue

[2018-01-15 12:01] jajodiaraghav opened #893 "Fix design for Advanced Search modal"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Screenshots of the issue:**

![capture](https://user-images.githubusercontent.com/18749480/34941485-ef606a84-fa19-11e7-9e66-c2276cf4dde4.PNG)

[2018-01-15 12:02] jajodiaraghav commented on #893
Claiming the issue

[2018-01-15 14:22] #877 closed

[2018-01-15 14:23] #874 closed

[2018-01-15 15:58] abishekvashok commented on #885
Fixed in #890 @saarthakchats

[2018-01-16 12:52] aniket223 commented on #872
@harshit98  what i have done here is added a navbar-invere so it looks better and then added then added font awesome icons to the age so it looks better.

[2018-01-17 00:08] S2606 opened #897 "Change the color of links under Top Providers douring converting to dark theme"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/18497513/35018623-7cfe13b2-fb48-11e7-9342-f80e2d4a45c6.png)

**Expected behavior:**
Change the color to white from blue

[2018-01-17 09:45] ParthS007 opened #898 "Increase Lighthouse Performance of Susper"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

![image](https://user-images.githubusercontent.com/24358501/35036206-9c450572-fb99-11e7-8c9a-9d1e5a36245b.png)

**Current behavior:**
- Progressive web app
  - [x] The App does not provide fallback content when Javascript is not available.
  - [x] User is not prompted to install the Web App ( prompt for adding to home screen)
  - [x]

[2018-01-17 19:11] praveenojha33 commented on #897
@harshit98 I am taking this issue.

[2018-01-19 19:34] harshit98 commented on #897
Okay @praveenojha33 please go ahead. 👍

[2018-01-20 04:29] ajayns commented on #898
@ParthS007 User will not be prompted to install webapp? Should it actually be there? User should be prompted right? Is it a typo there?

[2018-01-20 06:03] #872 closed

[2018-01-20 13:02] #836 closed

[2018-01-20 13:03] #879 closed

[2018-01-20 13:03] #881 closed

[2018-01-20 13:05] mariobehling commented on #866
We dont need more code of conducts. Please help to delete your mass submissions in all kinds of repositories of code of conducts. FOSSASIA already has a code of conduct. There is not requirement for each repository to have a code of conduct.

[2018-01-20 13:05] #866 closed

[2018-01-20 13:38] #849 closed

[2018-01-24 22:24] clownfeces opened #903 "Can't access susper, because of cloudflare"
I would love to use susper on a regular basis, but unfortunately I can't because it's behind a cloudflare wall:

If I try to access susper I'm getting bombarded with an **endless** (it's really endless) flood of bogus captchas, because I'm using the tor network to surf the internet. I need to use tor because in the country I live in I have to protect my identity, but cloudflare hates tor and discr

[2018-01-28 16:01] #897 closed

[2018-01-28 16:18] #840 closed

[2018-01-28 16:35] #845 closed

[2018-01-28 16:54] #851 closed

[2018-01-29 09:27] #893 closed

[2018-01-29 17:46] GingerDragon7 opened #904 "Adding images in the side card in search"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**
![screenshot from 2018-01-29 23-14-29](https://user-images.githubusercontent.com/17198965/35525409-627cebec-054a-11e8-92fb-d78073aa6a30.png)

**Expected behavior:**
![screenshot from 2018-01-29 23-14-48](https://user-images.githubusercontent.com/17198965/35525429-713c9e5c-054a-11e8-883b-4d4e41bcb90e.png)

I am w

[2018-02-03 04:46] rupav opened #905 "couple of typos in readme.md"
**I'm submitting a ...**
- [] bug report
- [x] feature request

[2018-02-16 15:17] ValentinBercaru commented on #843
I want to solve this bug. Please assign me to it.

[2018-02-17 15:30] ValentinBercaru commented on #733
Hello @mariobehling ! At the first point, do you mean that by clicking on the links from this screenshot redirects you to a query like: "youtube site:www.youtube.com"? If so, by clicking on a link, would you prefer to be redirected to the website address (and leave susper search engine) or to change the query search to be like: "www.youtube.com" instead of "youtube site:www.youtube.com"?
![img](ht

[2018-02-17 15:35] ValentinBercaru commented on #892
I see this bug is still unsolved. I tried to solve it and now it works fine. Please assign me to it and check my changes.

[2018-02-19 14:29] ValentinBercaru commented on #699
Hello, @harshit98 ! I see that this bug still exists even tough all the html elements are well organized. I think this problem can be solved by adding meta view-port tag in the index page. Can I make a Pull Request on this issue with the this issue fixed?

![screenshot_20180219-162414](https://user-images.githubusercontent.com/33882273/36382425-858543d0-1591-11e8-92c5-b92491526503.png)

[2018-02-19 15:48] Tanuj9043 commented on #886
@saarthakchats This functionality hasn't been added yet. You can see a "newadvancedsearch" component is used instead of "advancedsearch". I think it's functionality is yet to be written.

[2018-02-19 20:56] ValentinBercaru commented on #876
Do you refeer to Susper logo from the main page?
![3f1823b6-3294-48e5-be1d-19d0fcfc78a5](https://user-images.githubusercontent.com/33882273/36396688-156d0a2e-15c8-11e8-8598-b153261ce7c2.png)

[2018-02-21 04:40] praveenojha33 opened #913 "Mixed Content Problem due to loading HTTP content over HTTPS connection."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Currently the Susper Search is very slow.The possible problem can be of Mixed Content which is blocked.

**Expected behavior:**
If possible,the resources should be loaded from different source.
@harshit98 @nikhilrayaprolu @mariobehling Please suggest your views.

**Screenshots of the issue:**
![err](https://user

[2018-02-21 04:48] #913 closed

[2018-02-21 20:45] ValentinBercaru commented on #861
Hello! Is this bug fixed?

[2018-02-21 20:46] ValentinBercaru commented on #862
Hello @0x48piraj ! I see that this issue is not resolved on susper.com. Can I make a pull request for this?

[2018-02-22 18:37] #861 closed

[2018-02-22 18:37] 0x48piraj commented on #861
See this for reference - https://github.com/fossasia/susper.com/pull/863

[2018-02-22 18:41] 0x48piraj commented on #862
When @harshit98 will approve the change, I will complete it in 5 minutes, as it's a very small bug.
Also have a ref commit : https://github.com/0x48piraj/susper.com/commit/2b3a092af0d9a7af0994b1d461be9f3318d5707d 👍

[2018-02-22 23:48] STEdirisuriya opened #914 "Add a black theme as well."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

No Themes

**Expected behavior:**

Add more themes

**Screenshots of the issue:**

[2018-02-22 23:53] ValentinBercaru commented on #914
Are you referring to dark interface? If so, I'm working on this feature. I will submit a pull request these days.

[2018-02-25 17:23] harshit98 commented on #699
Yes sure @ValentinBercaru. Please go ahead. :)

[2018-02-27 00:16] ValentinBercaru opened #917 "Broken video links - redirects me to broken wrong link"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Clicking on a video from the Video Tab list redirects me to susper.com/"video_name.extenstion"

**Expected behavior:**

It should redirect me to website.domain/"video_name.extension"

**Screenshots of the issue:**

![screenshot from 2018-02-27 02-14-53](https://user-images.githubusercontent.com/33882273/3670339

[2018-02-27 00:17] ValentinBercaru commented on #917
I will submit a pull request with this bug fixed as soon as possible. :D

[2018-02-28 11:50] sathiraumesh commented on #904
Can i work on this issue

[2018-02-28 19:17] praveenojha33 opened #920 "Contents of Video Search and Image Search do not get modified according to theme."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Contents of video search and Image search like Links,Titles,Description etc do not change its color according to theme.Further the links in "Did you mean:" also do not change.

**Expected behavior:**
It should change its color according to theme selected by the user.

**Screenshots of the issue:**
![err](https:/

[2018-02-28 22:22] ValentinBercaru commented on #920
I added a commit and tested it and now I think it works fine.
Surge link: https://pr-918-fossasia-susper.surge.sh

[2018-03-01 05:24] praveenojha33 commented on #920
@ValentinBercaru Please modify the color of auto-corrected links.

[2018-03-01 06:26] praveenojha33 commented on #448
@mariobehling @harshit98 @nikhilrayaprolu I have decided to fetch news from [NewsApi.org](newsapi.org) or should we retrieve results from YaCy only. Please guide me about this.

[2018-03-01 11:51] ValentinBercaru commented on #920
@praveenojha33 I tried to edit the colors of the auto-correct part and I submitted a commit, but it seems that I do something wrong.
Here are the files I modified to change those colors: [Click to see the commit](https://github.com/fossasia/susper.com/pull/918/commits/d7167d90325ffc7e60759e8db79df9dfe2d173d6)

Travis CI returned the error `The command "ng test --single-run --code-coverage --report

[2018-03-01 13:59] praveenojha33 commented on #920
@ValentinBercaru Please look at my comment on your PR. That will help you for sure.

[2018-03-01 14:13] sathiraumesh opened #921 "Footer in search settings/search settings tab page is not positioning correctly"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The footer is positioning little higher from the bottom of the settings/search settings tab page

**Expected behavior:**
The footer should be positioned at the bottom of the page

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-01 at 5 57 55 pm" src="https://user-images.githubuserconten

[2018-03-01 23:37] ValentinBercaru commented on #921
Hello @sathiraumesh ! I tested the `Search Settings` page from :
- Ubuntu 14.04 and 16.04 (both Chrome and Firefox);
- Windows 7 (both Chrome and Firefox);
- Android 4.2, 4.4, 5.0, 6.0 (both Chrome and Firefox);
- Windows Phone 8.1 (Internet Explorer);
and in any browser the footer is placed well.

Are you sure that this bug is not only in your localhost? Did you try to test the `Search Setting` p

[2018-03-02 05:27] sathiraumesh commented on #921
Yeah i just went out to the  search setting page on

<img width="1440" alt="screen shot 2018-03-02 at 10 56 57 am" src="https://user-images.githubusercontent.com/28914919/36884701-85aaa740-1e08-11e8-9726-4cd96411dd86.png">
susper.com and yet the problem exists

[2018-03-02 07:01] sathiraumesh commented on #921
The problem also exists in some other pages in different devices for devices like i pad pro the footer seems to be rising up

<img width="1440" alt="screen shot 2018-03-02 at 12 30 53 pm" src="https://user-images.githubusercontent.com/28914919/36887112-9d02c2d0-1e15-11e8-9905-edff8d0208c1.png">

[2018-03-02 07:03] sathiraumesh commented on #921
same for the about us page too

[2018-03-03 22:26] lonnieOST opened #923 "Docker images does not build"
Hello,

I'm submitting a problem report in that the Docker image does not build properly:

Using the commands located at (https://github.com/fossasia/susper.com/blob/master/docs/installation/docker.md)

/builds/susper.com$ docker build -t susper:latest .
Sending build context to Docker daemon  114.9MB
Step 1/15 : FROM node:boron
 ---> 13bbee462f0a
Step 2/15 : MAINTAINER Mario Behling <mb@mariobehl

[2018-03-03 22:28] lonnieOST commented on #923
Also, where do I configure Susper so that I can tell it which YaCy node to connect to?

Thanks and I am excited about starting up the software locally for testing.
Cheers and have a great day

[2018-03-04 14:06] sathiraumesh opened #924 "Background images in the about tab page and contact tab page are not properly responsive"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

The background images in the contact page and about page doesn't fit to all the devices properly

**Expected behavior:**

The background images in the contact page and about page should fit to all the devices properly

**Screenshots of the issue:**

In mobile view
<img width="1440" alt="screen shot 2018-03-04 a

[2018-03-04 22:32] lonnieOST commented on #923
Hello,

I solved this problem by creating a new Dockerfile. I would suggest that your current Dockerfile be updated or replaced if others have this same problem.

Thanks,
Lonnie

[2018-03-04 22:32] #923 closed

[2018-03-06 04:04] praveenojha33 commented on #448
I and @ValentinBercaru are working on this feature but we were unable to find any modifier for query facet that can use multiple sites to filter the results retrieved from YaCy. Currently we can only use a single site to filter the results and show it under News tab. @Orbiter we have researched a lot but we have not found any modifier that accepts multiple sites. @Orbiter can you tell what we are

[2018-03-06 04:14] praveenojha33 commented on #448
![result](https://user-images.githubusercontent.com/25537606/37013769-df237966-2121-11e8-9869-a52e71e57558.jpg)
Above result we got by filtering results by `*ngIf` and below is the result that we get by using a modifier to the search query.
![help2](https://user-images.githubusercontent.com/25537606/37013904-eacc6498-2122-11e8-8084-679d8ddb067d.png)

[2018-03-07 09:26] #858 closed

[2018-03-07 09:27] #921 closed

[2018-03-07 09:28] #917 closed

[2018-03-07 09:28] #920 closed

[2018-03-07 09:28] #699 closed

[2018-03-07 09:28] #905 closed

[2018-03-07 09:29] #892 closed

[2018-03-07 12:35] 0x48piraj commented on #858
Sir, What happened?
Please elaborate so that I can improve from next point

[2018-03-07 18:59] sathiraumesh opened #926 "/date gets appended to the search query when clicked sort by date under tools tab"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

When clicked the sort by date option under tools tab it  appends /date to the search query
**Expected behavior:**

/date not should not be appended to the search query  when clicked sort by date option under tools tab

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-08 at 12 14 00 am"

[2018-03-08 16:21] lonnieOST opened #928 "HUGE Latency Problem"
Hello

I'm submitting something that I keep running into no matter what configuration that I setup in the

src/app/services/search.service.ts

I have a YaCy server running on a remote server (6-core, 30 GB RAM, 2TB storage, 64-bit, Ubuntu 16.04) and I am able to web access YaCy on port 8000.

To test just the YaCy server, I go to the web instance of my YaCy server and make a query request (i.e. "S

[2018-03-09 02:40] lonnieOST commented on #928
Hi All,

Just a small update.  I was researching this high latency problem and it is also apparent on the main site as well:

https://www.susper.com

This leads me to ask if it might be something internal to the susper code base.

Any one else experience this?

If not, then please advise on how you configured your system to have low latency from the Susper instance to your YaCy server as I would r

[2018-03-10 09:49] 94151 commented on #924
Can i work on this problem?

[2018-03-10 16:56] lonnieOST commented on #928
I solved the problem of the HIGH latency

[2018-03-10 16:56] #928 closed

[2018-03-10 17:45] 94151 commented on #136
I would like to contribute to documentation for using super.

[2018-03-10 17:53] 94151 opened #931 "Susper is not responsive tested on chrome"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Settings are not working for mobile chrome. Crowl Jobs is not working on desktop chrome.
**Expected behavior:**

All the elements of a website should work fine like settings crawl jobs. Super should responsive on all devices and browsers.
**Screenshots of the issue:**

![capture](https://user-images.githubuserc

[2018-03-10 18:01] 94151 commented on #684
I want to work on this issue using bootstrap 3 grid system rules. I will add media queries which fits for desktop, mobile, tablets, and other devices. Can I go-ahead to work?

[2018-03-11 11:37] tushar-nitave commented on #924
Has anyone started working on this?

[2018-03-11 11:56] tushar-nitave commented on #844
Can you elaborate this. I mean where it should be added. Can I work on this?

[2018-03-11 12:31] 94151 commented on #684
@nikhilrayaprolu @harshit98 I have added media queries with multiple breakpoints according to device requirement. Please tell me the procedure how can I pull request to this branch.

[2018-03-11 17:09] sathiraumesh commented on #931
yep nice work need to fix some of the css styles in the pages

[2018-03-11 17:09] sathiraumesh commented on #931
can i work on this issue

[2018-03-11 17:12] sathiraumesh commented on #684
Yep when i review the code i saw some areas where the css grid system is not followed correctly.And  the other case is there are some problems related with some styling rules that effects the grid system on the code

[2018-03-12 19:45] tushar-nitave commented on #876
Can I work on it?

[2018-03-12 19:46] tushar-nitave commented on #904
Anybody working on this?

[2018-03-13 06:22] singhpratyush opened #932 "loklak not pointing to loklak.org"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The loklak logo in top right service menu box points to https://loklak.net.

**Expected behavior:**

It should point to https://loklak.org

[2018-03-13 19:50] 94151 commented on #931
@sathiraumesh  I am working on it.

[2018-03-13 20:09] 94151 opened #933 "The search bar is not showing on a mobile device during keypad terminal working."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The search bar is not showing on a mobile device during keypad terminal working.
**Expected behavior:**

Search bar should shift upper side of the screen when keypad gets active.
**Screenshots of the issue:**

![screenshot_20180310-214219](https://user-images.githubusercontent.com/17044000/37367073-6256d1e6-272

[2018-03-13 20:58] 94151 commented on #924
@tushar-nitave I think this issue gets closed.

[2018-03-13 21:24] 94151 commented on #932
#932 assigned

[2018-03-14 04:06] praveenojha33 opened #934 "Showing date and other descriptions in Video Search."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Video search do not show date and descriptions of search results.

**Expected behavior:**
Video search should show date and descriptions of search results.

**Screenshots of the issue:**
![request](https://user-images.githubusercontent.com/25537606/37382853-18ea8afa-276b-11e8-9225-0faf365ef75f.png)

[2018-03-14 09:37] lonnieOST opened #936 "Pagination bar moving"
I'm submitting what I think is a bug for the Pagination bar shifting after you cycle to the second, and beyond pages after getting some results.

I have noticed something strange with the pagination on the http://susper.com website. I do a test query of "solar panels" and then I get back a list of URL which the pagination showing on the first page of results. Then, if I select Page-2, for example,

[2018-03-14 14:49] sathiraumesh opened #938 "Some contexts the bottom of the page are not visible as the footer overlaps them in ters and policy page"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The contents at the bottom of the page goes under the  footer
**Expected behavior:**

The contents should be visible to the user
**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-14 at 8 15 31 pm" src="https://user-images.githubusercontent.com/28914919/37409654-d73119ee-27c4-11e8-86d4-a7

[2018-03-14 15:07] tushar-nitave commented on #938
Can I take this?

[2018-03-14 16:02] sathiraumesh commented on #938
Already finished

[2018-03-15 06:11] sathiraumesh opened #940 "Found some unterminated string literals in the crawlstart component template"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

There are some typing mistakes in the code
-unterminated string Literals

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-15 at 11 35 22 am" src="https://user-images.githubusercontent.com/28914919/37446955-8cd88a2c-2845-11e8-94fe-add5a79c255b.png">

[2018-03-16 00:27] praveenojha33 opened #944 "Implementing Internationalization Feature in SUSPER."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
The idea is to implement internationalization feature using Angular's ngx-translate.

[2018-03-16 00:28] praveenojha33 commented on #944
@mariobehling @nikhilrayaprolu @harshit98 @Marauderer97 Can we discuss about having i18n feature in SUSPER search.

[2018-03-16 03:03] #934 closed

[2018-03-18 02:19] praveenojha33 opened #945 "Issue with Footer in Crawl Job and Advanced Search."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Footer is stuck at its position while scrolling down.
The bug can be reproduced by opening Settings->Crawl Job or Settings->Advanced Search
This bug was produced due to changes made in this PR #922 . I think it should be reverted as I was unable to regenerate the bug claimed in issue #921 .

**Expected behavior:

[2018-03-18 12:53] #945 closed

[2018-03-19 19:51] akalanka95 commented on #936
Is any one working on this ?

[2018-03-19 20:31] akalanka95 opened #950 "Searched content get lost when editing the searched word/phrase."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

If I type a letter/space bar after the searched word/phrase, then  lost the searched result content.

**Expected behavior:**

The result content should be present until user searched for a new word/phrase .And search bar should give list of suggested searches.

**Screenshots of the issue:**

- When searched for

[2018-03-19 21:30] praveenojha33 commented on #950
I am claiming this issue.

[2018-03-19 21:47] ValentinBercaru commented on #950
Sorry @praveenojha33 but I did not see your comment and I implemented it before you mentioned you'd claim it.

[2018-03-19 21:49] praveenojha33 commented on #950
Ok no problem @ValentinBercaru

[2018-03-20 05:23] sathiraumesh opened #952 "The footer comes up above the footer in contact, about and search setting pages"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The search bar comes above from the bottom
This is a fix regarding the reverted  fossasia/susper.com#947
**Expected behavior:**

footer should always be at the bottom

**Screenshots of the issue:**
In about page

<img width="1440" alt="screen shot 2018-03-20 at 11 07 48 am" src="https://user-images.githubuserco

[2018-03-20 21:23] Dipesh-Budhiraja opened #954 "Related Search section overlapping with analytics section"
**I'm submitting a ...**
- [x] bug report

**Current behaviour:**

Related Searches are overlapping with the Analytics Section as shown in the screenshot.

**Screenshots of the issue:**

![screen shot 2018-03-20 at 2 16 46 pm](https://user-images.githubusercontent.com/29384452/37683438-d710b6e8-2c49-11e8-8e9f-491758f86be8.png)

Can I work on solving this issue?

[2018-03-20 23:17] ValentinBercaru commented on #954
Hello @Dipesh-Budhiraja ! Yes, you can work on this issue. All you have to do is to check if the result is longer than N characters. If so, substr it and concatenate with '...'. :smile:

[2018-03-22 06:44] tushar-nitave commented on #924
@94151 Yeah. No reply from anyone.

[2018-03-22 06:54] sathiraumesh commented on #924
hi  @94151  a pr for the issue has already being created

[2018-03-22 17:56] tushar-nitave opened #956 "Contents for help section in search settings"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

The help section in settings -> search settings, re-directs to home page.
**Expected behavior:**

We need to design help page which will help users to troubleshoot frequent problems.
**Screenshots of the issue:**

Can I work on this? Any suggestions?

[2018-03-23 16:42] sathiraumesh opened #957 "semicolon missing in a css file in infobox component"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

syntax error no semi colon

**Expected behavior:**

need semicolon
**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-23 at 10 11 58 pm" src="https://user-images.githubusercontent.com/28914919/37842115-45ab9eac-2ee7-11e8-91d0-aaab0889edb8.png">

[2018-03-24 15:35] praveenojha33 opened #959 "Suggestion box do not closes on clicking outside it."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Suggestion box do not closes on clicking outside it.

**Expected behavior:**
It should be closed on clicking outside it.

**Screenshots of the issue:**
![bug](https://user-images.githubusercontent.com/25537606/37865741-ffeb988e-2fa6-11e8-8b4b-24c332c1a4da.png)

I will fix it soon.

[2018-03-24 15:51] praveenojha33 commented on #959
I am working on it.

[2018-03-26 16:08] praveenojha33 opened #962 "'+' is replaced by [space] in search query."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Whenever we have a string of '+++...' in our search query it is replaced by ' ' . For eg. if we search for 'c++' it will be replaced by only 'c  ' .

**Expected behavior:**
This behaviour should not occur.

I am working on it, any suggestions will be helpful.

[2018-03-27 07:43] sathiraumesh opened #964 "Found some unterminated statments and a typing error in crawlstarts.css"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-03-27 at 1 06 22 pm" src="https://user-images.githubusercontent.com/28914919/37953458-91f28fc4-31c0-11e8-851d-640f19a0a733.png">

<img width="1440" alt="screen shot 2018-03-27 at 1 06 33 pm" src="https://user-images.githubusercontent.com/28914919/37953460-940501d4

[2018-03-27 23:05] ValentinBercaru commented on #962
Hello @praveenojha33 :smile: ! In the `/src/app/results/results.component.ts` on the line 190, you can see that the '+' is replaced with ' '. I replaced that '+' with ' ' and now the + is not replaced and the results are displayed fine. Teoretically, it replaces the spaces with spaces, so there are no characters changed to the query string. Also, if we remove that condition from the lines 189-191

[2018-03-27 23:36] praveenojha33 commented on #962
@ValentinBercaru I do not understand why we have that condition, Also the results of c,c+++++... are same i.e the results of SearchQuery and SearchQuery+++... is same.

[2018-03-27 23:43] praveenojha33 commented on #962
@ValentinBercaru Look at the results, look at the susi, it is showing results for letter C.

[2018-03-27 23:49] praveenojha33 commented on #962
@ValentinBercaru Look at the url the search is done for "c  " not "c++".

[2018-03-27 23:51] praveenojha33 commented on #962
I think the problem is related to back end because manually changing the url and making query=c++ also not works.

[2018-03-28 00:07] ValentinBercaru commented on #962
@praveenojha33 oh yeah, you're right, that condition seems to be useless but removing it, Susper's first search will not work. I just saw that "c++" and "c" return the same results. And yeah, it is probably a back-end problem, but I think it is not Susper's back-end problem because Susper get the results from yach.searchlab.eu. If you search "c++" on yacy searchlab, you will see that the results a

[2018-03-28 00:45] praveenojha33 commented on #962
@ValentinBercaru I think we should leave this issue as it is for now as it is a problem of back end and the condition in which '+' is replaced by space is done intentionally to let user know about the correct search term.

[2018-03-29 15:53] sathiraumesh opened #967 "The links in the analytics box keeps appending to the the search query when clicked"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

When clicked a link in the analytics box it gets appended to the query string.Even going further It keeps itself appending again and agin

**Expected behavior:**

It should not get appended to the query strting

**Screenshots of the issue:**

- when clicked once
<img width="1440" alt="screen shot 2018-03-29 at

[2018-03-29 16:04] praveenojha33 commented on #967
Shall I fix it?

[2018-03-29 16:17] sathiraumesh commented on #967
Have you fixed it

[2018-04-01 18:07] #967 closed

[2018-04-01 18:07] mariobehling commented on #870
Low priority.

[2018-04-01 18:07] #870 closed

[2018-04-01 18:08] #843 closed

[2018-04-01 18:09] #634 closed

[2018-04-01 18:09] #957 closed

[2018-04-01 18:10] #940 closed

[2018-04-01 18:11] #964 closed

[2018-04-02 04:44] harshit98 commented on #956
@tushar-nitave You can work on the issue. But the issue details is still not clear. Can you elaborate? Cheers. ✨

[2018-04-02 04:45] harshit98 commented on #954
Looks like @Dipesh-Budhiraja is no longer active. @ValentinBercaru can you solve this issue? ✨

[2018-04-02 05:04] ValentinBercaru commented on #954
@harshit98 sure! I will solve it today. :smile:

[2018-04-02 14:03] sathiraumesh opened #970 "Found a small unterminated css style statement"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Screenshots of the issue:**
<img width="1440" alt="screen shot 2018-04-02 at 7 31 12 pm" src="https://user-images.githubusercontent.com/28914919/38199015-a6590498-36ac-11e8-9d06-e178602e34b2.png">

[2018-04-02 16:44] Kunalgarg2100 opened #974 "Search results take very long time to come"
Please increase the speed of search,  results usually come after a long long time (3-5 mins), specifically, I searched two words, '**ball'** and '**VHDL**'

[2018-04-04 15:37] sathiraumesh opened #975 "found some unfinished css style rules"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-04-04 at 9 05 08 pm" src="https://user-images.githubusercontent.com/28914919/38318049-1c0a2780-384c-11e8-8edf-8bbd2b34827d.png">

<img width="1440" alt="screen shot 2018-04-04 at 9 03 55 pm" src="https://user-images.g

[2018-04-05 13:29] sathiraumesh opened #977 "Advanced search filter gets appended twice when selected a an option for filter"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The filter gets appended  for the search query twice when clicked

**Expected behavior:**

The filter should get appended once

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-04-05 at 6 47 36 pm" src="https://user-images.githubusercontent.com/28914919/38368110-0b6b5578-3902-11e8-9c23-f5d

[2018-04-07 07:31] sathiraumesh opened #980 "Missing arrow symbol to direct to the previous page in pagination bar"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The arrow symbol to the previous page is missing
**Expected behavior:**

The arrow symbol should be present with the previous word

**Screenshots of the issue:**

<img width="1440" alt="screen shot 2018-04-07 at 1 03 20 pm" src="https://user-images.githubusercontent.com/28914919/38452566-5df709c8-3a64-11e8-8f8a

[2018-04-09 04:28] #932 closed

[2018-04-21 16:18] sathiraumesh opened #985 "Found unterminated css style rule in contact com"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Screenshots of the issue:**
<img width="1440" alt="screen shot 2018-04-21 at 9 44 14 pm" src="https://user-images.githubusercontent.com/28914919/39086349-a869d7ac-45ad-11e8-8382-9a0e45f8c6ad.png">

[2018-04-29 21:36] praveenojha33 commented on #974
Hello @Kunalgarg2100 Thanks for your suggestion. We will work on this issue this summer, I think the search results will become more relevant and faster once we change back end to YaCy Grid.If possible, We will also aim to remove dependencies to other APIs.

[2018-04-29 21:39] praveenojha33 commented on #956
@tushar-nitave what is the status of your progress?

[2018-04-29 21:41] praveenojha33 commented on #904
@GingerDragon7 What is the status of this issue. Share it ASAP.

[2018-04-30 11:44] #876 closed

[2018-05-01 00:24] praveenojha33 opened #988 "Commits not getting reflected to susper.com"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

All the latest merged commits are not shown on susper.com . However everything works fine locally and also code for the same commits are present on master branch of the project.

**Expected behavior:**

Merged Commits should be reflected on susper.com .

**Screenshots of the issue:**

![local](https://user-imag

[2018-05-02 00:31] praveenojha33 commented on #988
https://github.com/fossasia/susper.com/pull/979
https://github.com/fossasia/susper.com/pull/978
https://github.com/fossasia/susper.com/pull/968
https://github.com/fossasia/susper.com/pull/949
https://github.com/fossasia/susper.com/pull/935
https://github.com/fossasia/susper.com/pull/929
https://github.com/fossasia/susper.com/pull/943
It is the list of all PRs which are commited but their changes d

[2018-05-08 04:00] praveenojha33 commented on #977
Hello @sathiraumesh Please refer to the issue properly in PR. So that it can be figured out that a PR for the issue has been made.

[2018-05-09 05:09] praveenojha33 commented on #862
@0x48piraj Please close this issue.

[2018-05-09 05:36] praveenojha33 commented on #634
Hello @mariobehling This PR https://github.com/fossasia/susper.com/commit/f57a89ff38b247086ccf677900d3a570a2c2029a might fix this issue but actually changes introduced in it is not working due to this issue.

[2018-05-09 05:42] praveenojha33 commented on #634
![issue](https://user-images.githubusercontent.com/25537606/39797475-ddc4b3ca-5379-11e8-8d96-1c098de73671.png)
This issue appears on susper.com

[2018-05-09 05:43] praveenojha33 commented on #634
![fixed](https://user-images.githubusercontent.com/25537606/39797506-f54af626-5379-11e8-9939-07fa8a7afa71.png)
It does not appear locally.

[2018-05-09 06:06] praveenojha33 commented on #985
Hello @sathiraumesh try closing some issues which are alike this issue.As you have merged all the PRs a single issue is sufficient for it. You can refer all closed issues in comments. :sparkle:

[2018-05-09 07:01] 0x48piraj commented on #862
@praveenojha33 Why ?

[2018-05-09 07:01] 0x48piraj commented on #862
The bug is still there, so will be the issue. :+1:

[2018-05-09 09:20] praveenojha33 commented on #862
Yes I understand your concern but it was done intentionally to increase contribution. Read the conversation of devs here https://github.com/fossasia/susper.com/pull/955

[2018-05-09 09:50] 0x48piraj commented on #862
I guess you guys are mistaken somewhere.
First of all, there are two icons directing to same URLs, what's the intention ?
Just to fix. We can leave the Github link as it is but what about the other ?
I saw his changes, he didn't understood the issue.

[2018-05-09 19:54] harshit98 opened #990 "Update the project to latest Angular version."
**Current behavior:**
Susper is running on Angular version 4.x.x.

**Expected behavior:**
Update the project to latest Angular version and update all the dependencies related to the project.

[2018-05-09 20:04] harshit98 commented on #988
Hi @praveenojha33 I can suggest you some solutions to solve the issue:

- Update all the dependencies.
- Do the latest version bump of Angular.
- Update RxJS.

[2018-05-09 20:06] harshit98 commented on #985
This issue can be closed. @mariobehling

[2018-05-09 23:25] praveenojha33 commented on #862
Actually there is no need of one icon. Make a PR removing one icon.

[2018-05-10 04:52] praveenojha33 commented on #990
I am working on it :v:

[2018-05-12 14:26] #980 closed

[2018-05-12 14:26] #950 closed

[2018-05-12 14:27] #954 closed

[2018-05-12 14:28] #952 closed

[2018-05-12 14:28] #959 closed

[2018-05-13 04:54] praveenojha33 commented on #988
Last commit whose change are shown own susper.com is https://github.com/fossasia/susper.com/commit/f0a6f5c2a7632b6e1d8b834c29880605d703402e

[2018-05-15 15:14] praveenojha33 opened #991 "Implementing a documents tab in SUSPER"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
This feature can be easily achieved by creating a Documents Tab in the UI
and using filter query (fq) parameter and ‘url_file_ext_s’ and filtering the files
with extensions pdf,doc,ppt etc.
More about fq parameter and ‘url_file_ext_s’ can be found here:
https://wiki.apache.org/solr/CommonQueryParameters

.One m

[2018-05-15 17:59] praveenojha33 commented on #991
@mariobehling @harshit98 @sathiraumesh Please suggest your views. I am working on it.

[2018-05-16 17:13] praveenojha33 opened #993 "Implement a file specific search in Advanced Search Option."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**

Currently Advanced Search allows Provider,Protocols etc based search. It should also have options to make file specific search.

[2018-05-17 18:39] mariobehling commented on #944
Low priority. Please focus on implementing things like news, proper picture search and connecting with Yacy-Grid.

[2018-05-17 18:39] #944 closed

[2018-05-18 21:06] praveenojha33 commented on #988
This issue is caused due to an error with Travis CI Clean Deploy on `gh pages`.This causes error in generated builds on server.It can be seen on console on susper.com.

[2018-05-20 11:40] mariobehling commented on #991
Please implement this as a filter in advanced search.

[2018-05-20 11:46] praveenojha33 commented on #991
I have opened a separate issue for that so I am closing it.

[2018-05-20 11:46] #991 closed

[2018-05-21 18:36] #988 closed

[2018-05-21 18:46] praveenojha33 opened #995 "Revert changes made by Devs to check the New Theme on susper.com"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

There are some inert changes which were made by @ValentinBercaru in this commit https://github.com/fossasia/susper.com/pull/983 to check whether it is shown on susper.com in reference to this issue #988 . Like `testTerminal` button in customization option, Also make `night` button to `Night`.

**Expected behavi

[2018-05-21 21:31] praveenojha33 commented on #985
@sathiraumesh Close this issue as it is solved now.

[2018-05-21 21:31] praveenojha33 commented on #975
@sathiraumesh Close this issue as it is solved.

[2018-05-21 21:32] praveenojha33 commented on #970
@sathiraumesh Please close this issue as it is solved.

[2018-05-21 21:33] #985 closed

[2018-05-21 21:33] #995 closed

[2018-05-21 21:34] #975 closed

[2018-05-21 21:48] praveenojha33 opened #997 "Adding Yarn as a Dependency Manager along with NPM."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**
Yarn is a dependency manager introduced by facebook . It is faster than npm and it can install dependencies even when the machine is offline. More about Yarn can be found here https://yarnpkg.com/en/

[2018-05-21 21:48] ValentinBercaru commented on #995
Hello @praveenojha33 ! Sorry, but I didn't have enough time to revert the changes. Thank you for repairing it! :D

[2018-05-21 21:49] praveenojha33 commented on #997
@simsausaurabh Please suggest your views.

[2018-05-22 03:37] simsausaurabh commented on #997
@praveenojha33 go ahead :+1:

[2018-05-24 03:33] praveenojha33 commented on #854
@mariobehling This issue should be closed now.

[2018-05-24 03:35] praveenojha33 commented on #885
@mariobehling This issue should be closed now.

[2018-05-24 03:37] praveenojha33 commented on #887
@mariobehling This issue should be closed.

[2018-05-24 04:17] praveenojha33 opened #999 "Implement YaCy Grid as a back end for SUSPER."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
SUSPER was developed with an aim to use YaCy Grid as back end but currently it uses legacy YaCy to show results. For YaCy Grid currently only the back end exists, that can be used via terminal.
Steps to use YaCy Grid:
1.Clone all the components from here https://github.com/yacy i.e loader,parser,crawler and mcp.

[2018-05-24 04:22] praveenojha33 opened #1000 "Allow user to open different result section in New Tab"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently the user cannot open different result section like `Image` , `Video` etc in New Tab by right click.

**Expected behavior:**
Allow user to open the results in new tab.

**Screenshots of the issue:**
![image](https://user-images.githubusercontent.com/25537606/40464312-2a3b3ae8-5f38-11e8-8612-2507e402bc78

[2018-05-25 13:20] praveenojha33 opened #1001 "Use Error handling for some services and make request again in case of an error."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Error handling is not present for some of the services like `autocorrect` and `autocomplete`.
**Expected behavior:**

Implement error handling and `retry` for the services in case of an error.

[2018-05-26 22:11] praveenojha33 opened #1003 "Adding package-lock.json file to the project."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
`package-lock.json` is automatically generated for any operations where npm modifies either the `node_modules` tree, or `package.json`. It describes the exact tree that was generated, such that subsequent installs are able to generate identical trees, regardless of intermediate dependency updates.

**Expected be

[2018-05-26 23:41] praveenojha33 opened #1005 "Reduce application size by using build optimizer ."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently `--build-optimizer` flag is not used to build the project.It can be used to reduce application size.

**Expected behavior:**
Reduce application size by using build optimizer.

[2018-05-30 18:49] praveenojha33 commented on #924
@sathiraumesh Please close this issue if it is done.

[2018-05-30 18:49] praveenojha33 commented on #914
@mariobehling @ValentinBercaru This issue should be closed now.

[2018-05-30 18:59] praveenojha33 commented on #791
@ParthS007 Is it still needed? If not please close the issue.

[2018-05-31 04:00] praveenojha33 opened #1009 "Intelligence component is shown below the suggestions when no results are displayed."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Intelligence component is shown below the suggestions when no results are displayed.

**Expected behavior:**
It should appear above the suggestions.

**Screenshots of the issue:**
![image](https://user-images.githubusercontent.com/25537606/40760646-47fa6b6c-64b5-11e8-954b-8901ae847c63.png)

[2018-05-31 06:10] praveenojha33 commented on #1009
@simsausaurabh Please suggest your views

[2018-05-31 18:47] #997 closed

[2018-05-31 18:47] #1001 closed

[2018-05-31 18:48] #1003 closed

[2018-05-31 18:48] #1005 closed

[2018-05-31 19:58] praveenojha33 opened #1010 "Inconsistent results from YaCy"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

The results are coming very slowly and sometimes even YaCy server is not responding with results on susper.com

**Expected behavior:**

It should give results quickly.
**Screenshots of the issue:**

![image](https://user-images.githubusercontent.com/25537606/40805185-1996d018-653b-11e8-9298-dad19d8c29b5.png)

[2018-06-01 22:22] praveenojha33 opened #1012 "Using `const` instead of `let` for all the variables which will not be reassigned."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**

All the variables which are not reassigned can be replaced by `const` in code in place of `let` .This will help in early detection of coding mistakes.

[2018-06-02 02:54] #797 closed

[2018-06-02 11:52] ValentinBercaru opened #1013 "Analytics tab colliding with results"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

When the results are displayed, the analytics tab is colliding with the results.

**Expected behavior:**

The analytics tab should not overlap with the results.

**Screenshots of the issue:**

![susper_problem](https://user-images.githubusercontent.com/33882273/40874144-48da9eb0-6674-11e8-9a12-7ea3a5585b0c.gif)

[2018-06-02 12:12] ValentinBercaru opened #1014 "Wikipedia tab collide with page content on different screen dimensions"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Wikipedia tab is colliding with page content on different screen dimensions.

**Expected behavior:**

The Wikipedia tab should disappear on a window size smaller than x pixels (width) or should behave like a show-hide effect.

**Screenshots of the issue:**

![susper](https://user-images.githubusercontent.com/33

[2018-06-03 00:10] praveenojha33 opened #1016 "Improve UI of Analytics Box and Infobox."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently the Analytics Box is not visible as results are not retrieved from YaCy. Infobox has been implemented without having a check on Analytics Box which is also a part of Infobox in SUSPER.
There are currently UI issues like responsiveness and alignment of both Infobox and Analytics box.

**Expected behavi

[2018-06-03 23:29] praveenojha33 opened #1018 "Potential security vulnerability in hoek dependency"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
It is being notified by GitHub that there might be a security vulnerability present in hoek dependency defined in `package.lock.json` .

**Expected behavior:**
If possible update or remove the vulnerable dependency.

[2018-06-06 10:33] praveenojha33 opened #1020 "Show Infobox for screen width less than 1131px and greater than 768px."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Infobox is not shown for screen width less than 1131px and greater than 768px.
**Expected behavior:**

Show infobox for above mentioned screen sizes.
**Screenshots of the issue:**