[2017-01-19 14:06] mariobehling opened #1 "Implement automatic deployment to gh-pages"
Please implement Angular2 to gh-pages branch on each commit.

This is already implement in the loklak search project. You can check there for questions as well: https://github.com/fossasia/loklak_search

[2017-01-19 18:03] nikhilrayaprolu commented on #1
@mariobehling I looked at the auto deployment code there ,
firstly I have to generate ssh keys and add them on deploy keys here for this repository.
but I couldn't add them since I dont have maintainer rights for it ,so shall I generate the ssh keys and send them to you,so that you can add them here ?

[2017-01-19 19:26] mariobehling commented on #1
Let's get @hemantjadon on board.

@hemantjadon Could you help with the setup, please?

[2017-01-20 04:31] hemantjadon commented on #1
@mariobehling @nikhilrayaprolu Yes I can definitely help with this.

The code script there automatically takes care of almost all the common cases during building. The thing is to add the deploy keys. and encrypt them, I will add the the keys for now.

[2017-01-22 14:18] nikhilrayaprolu commented on #1
@hemantjadon any updates? can you add the deployment keys and update the deploy_key.enc with right keys.

[2017-01-22 14:20] nikhilrayaprolu opened #2 "add codecoverage scripts , html linters"
adding the codecoverage , and html linters would make the code quallity better and easier to view and understand. one picking up this issue needs to correct html lint errors present in the project too.

- [ ] add codecoverage

- [ ] add html linter and correct lint errors present

[2017-01-22 14:25] nikhilrayaprolu opened #3 "Add more tests"
this is an evolutionary issue. and one could start by contributing the tests to those functions not covered in the test suite .
addition of the code coverage tools could also be done.

[2017-01-22 14:26] nikhilrayaprolu opened #4 "implement the add susper is default toast"
once the initial project is setup one could start working on this.
![screenshot from 2017-01-17 23-02-53](https://cloud.githubusercontent.com/assets/15216503/22032128/25eb485a-dd09-11e6-99e4-a6189973c609.png)

[2017-01-22 14:27] nikhilrayaprolu opened #5 "adding the filters and search tools"
the present filter functionality and search tools functionality could be implemented.

- [ ] implement the filters

- [ ] implemet the search tools bar

[2017-01-22 14:40] nikhilrayaprolu commented on #5
@mariobehling I have started working on the first task of these two

[2017-01-22 14:51] nikhilrayaprolu opened #6 "implement image search in susper"
present susper susper-backbone has a choice to search images, this could be implemented here.

[2017-01-22 15:00] nikhilrayaprolu opened #7 "implementing 404 page"
when we type a url which isn't present , the site isn't rendering us anything in router-outlet. a 404 error page implementation would make this fixed

[2017-01-22 15:01] nikhilrayaprolu opened #8 "auto search on key up"
now when ever user wants to search something he has to type it and click enter , a auto search feature while user types would fix this

[2017-01-22 15:03] nikhilrayaprolu opened #9 "query isn't displaying in the navigation bar search"
when user searches for something ,the search bar in the results page is empty, query could be parsed  and displayed there
![image](https://cloud.githubusercontent.com/assets/15216503/22183345/0721280e-e0e2-11e6-92e4-1d2f8e9cbcd8.png)

[2017-01-22 16:47] vishalburri commented on #9
I would like to work on this issue

[2017-01-22 17:23] Bhargavasomu commented on #7
@nikhilrayaprolu @mariobehling I would like to work on this issue.

[2017-01-23 04:11] nikhilrayaprolu commented on #9
@vishalburri you can proceed on this.

[2017-01-23 04:12] nikhilrayaprolu commented on #7
@Bhargavasomu you can proceed on this.

[2017-01-24 04:17] yasirunilan commented on #3
Can I work on this one?

[2017-01-24 04:18] yasirunilan commented on #4
Can I work on this issue?

[2017-01-24 04:38] nikhilrayaprolu commented on #4
@yasirunilan you can proceed

[2017-01-24 04:39] nikhilrayaprolu commented on #3
@yasirunilan you can proceed.

[2017-01-24 05:58] yasirunilan commented on #4
@nikhilrayaprolu can you please explain on this more. It would be really helpful

[2017-01-24 06:05] yasirunilan opened #12 "Progress bar for search"
Isn't it good to have a progress bar to show while doing a search.

[2017-01-24 06:16] yasirunilan opened #13 "Placeholder for search box"
Isn't it good to have a place holder for search input box.

[2017-01-24 09:39] nikhilrayaprolu commented on #4
@yasirunilan
https://github.com/fossasia/susper-backbone/issues/14
https://github.com/fossasia/susper-backbone/pull/46

look at the above issues and pulls ,those were about the implementation of this issue in susper-bacbone repository which is being moved to angular here

[2017-01-25 06:46] isuruAb commented on #7
I have #14  this solution.could you please check that

[2017-01-25 10:42] #5 closed

[2017-01-25 10:42] #13 closed

[2017-01-25 14:08] nikhilrayaprolu commented on #12
@yasirunilan right now we have a prgressbar which shows "loading" on search. how do you want to change the progressbar?

[2017-01-25 14:16] nikhilrayaprolu opened #15 "design change of susper"
implement susper ,similar to google.

- [ ]     Implement a menu with tabs "All", "Images", "Videos" and "Search Tools"

- [ ]  On clicking "Search Tools" show submenus

- [ ] Below menu "All" show options

-  Sort by date

- All Results, File Types, Provider, Authors - with a dropdown menu that opens on scroll over and shows tick boxes

- [ ] Below Images show options

-             All Images, F

[2017-01-25 14:28] nikhilrayaprolu opened #16 "change matrix parameters to query parameters"
the url parameters are implemented as matrix parameters(default way to pass parameters in angular2 using semi colon) now , but since matrix parameters are not good for our case ,it is better to change them to query parameters with ? and &.

[2017-01-25 14:29] nikhilrayaprolu commented on #15
@mariobehling can you add more details for this issue.

[2017-01-25 15:46] yasirunilan commented on #12
some thing like a circular, rotating progress bar

[2017-01-26 08:41] nikhilrayaprolu commented on #7
@isuruAb thank you for your pull,can you make the page look good(instead of just "not found works")
![image](https://cloud.githubusercontent.com/assets/15216503/22324783/214255ea-e3d1-11e6-87bb-edb7a3095112.png)

or
![image](https://cloud.githubusercontent.com/assets/15216503/22324805/39a5374c-e3d1-11e6-8120-d0def74518d2.png)

addition of index route below the 404 image will add the search bar eve

[2017-01-26 11:17] isuruAb commented on #7
@nikhilrayaprolu working on it. will send another pull asap.Is there any recommended UI framework to use ?

[2017-01-26 11:54] nikhilrayaprolu commented on #7
For now we are using bootstrap , so  you could continue using it

[2017-01-27 07:12] nikhilrayaprolu opened #18 "ngrx implementation for redux based architecture"
currently we have only one component for results page, but it is a bad practice to have a whole page as one component .subdividing the results component to subcomponents will lead to cross component communication, and extending susper in future would lead to many more cross component state dependencies.
so a solution to this is to implement redux based architecture for search results and any other

[2017-01-27 13:28] mariobehling commented on #1
@nikhilrayaprolu Could you help with this, please?

[2017-01-28 09:08] nikhilrayaprolu commented on #18
@hemantjadon what do you feel about storing search data in a store , since we would have a cross state dependencies on implementing subcomponents for sidebar and search results. Is it worth using a store for it . or input/output is enough?

[2017-01-28 09:09] nikhilrayaprolu commented on #3
@yasirunilan any updates regarding this?

[2017-01-28 09:10] nikhilrayaprolu commented on #7
@isuruAb any updates on this?

[2017-01-28 09:25] yasirunilan commented on #4
@nikhilrayaprolu  not stated yet,

[2017-01-28 09:25] yasirunilan commented on #3
@nikhilrayaprolu not yet started

[2017-01-28 10:16] #16 closed

[2017-01-29 06:16] nikhilrayaprolu opened #27 "adding a custom domain to susper"
since github doesn't make calls to http servers (mixed content) ,susper doesn't work on github pages .one way we could make a workaround for this is to publish the site to a custom domain by adding a CNAME file.
 @mariobehling

[2017-01-30 03:39] isuruAb commented on #7
@nikhilrayaprolu I have made a 404 page with simple background pic.but repository is not working now.can you check it

[2017-01-30 06:24] nikhilrayaprolu commented on #7
@isuruAb can you point out the errors you are facing

[2017-01-30 07:59] isuruAb commented on #7
I just get a new clone of repository and run. this is the result I got.
![screenshot from 2017-01-30 13-25-46](https://cloud.githubusercontent.com/assets/7692626/22415793/08d87738-e6f0-11e6-8d54-d5731bec4272.png)

[2017-01-30 08:13] nikhilrayaprolu commented on #7
@isuruAb change the base href tag in index.html from '/susper.com/' to '/'

[2017-01-30 08:33] isuruAb commented on #7
@nikhilrayaprolu  I have #30 this solution. can you check that pull.do i need to keep this `/susper.com/` as it is

[2017-01-31 13:27] Marauderer97 commented on #18
@nikhilrayaprolu There is another concern with regard to the component structure. As we extend susper and add an image view, video view etc, each view comes with its own sub-components such as pagination bar, or other search tools. We need to find a  maintainable and  extendable way of implementing this.

[2017-01-31 13:30] Marauderer97 commented on #15
@nikhilrayaprolu @mariobehling I would like to help with this

[2017-01-31 13:40] Marauderer97 opened #33 "Hide search box in title bar in index page"
The index page having two search bars is redundant. The search bar in the title bar needs to be hidden in the index page and displayed only in the search page.
![image](https://cloud.githubusercontent.com/assets/20185076/22467023/ef637e70-e7e8-11e6-8736-5ad4ddbeef35.png)

[2017-01-31 13:45] Marauderer97 opened #34 "Add "About" page"
Clicking on About this page under the help icon gives a 404 error.
![image](https://cloud.githubusercontent.com/assets/20185076/22467198/aacc17e4-e7e9-11e6-90e2-9e34e66b5e4f.png)

[2017-01-31 14:04] Marauderer97 opened #35 "Problems with the pagination bar"
The pagination bar has the following two problems

1. The next and previous only update the pagination bar, not the entire page
2. Its functionality for images is unclear, as it tries to display images from the same page where documents were last viewed.
@mariobehling @nikhilrayaprolu  What do you suggest? How should images be displayed? Should there be paging for them at all? Google doesnot displ

[2017-01-31 15:01] nikhilrayaprolu commented on #35
@Marauderer97 when user clicks on images reset the page to first page. Secondly Google doesn't load all images at once, it loads sufficient number of images initially and then starts adding extra images on scroll , it's a type of pagination involving automated Ajax calls based on scroll length. Implementation of image page similar to Google is highly appreciated.

[2017-02-01 07:48] #6 closed

[2017-02-01 07:48] #35 closed

[2017-02-01 07:50] mariobehling opened #37 "Implement design of google.com and loklak.net and avoid old susper.com style"
The basis of the service was the old susper.com website. The goal of the new development would be to get a service that has a more modern design similar to google and loklak.

[2017-02-01 08:03] mariobehling commented on #34
Yes, we need an about page, but rather follow the google.com design not the old susper site.

[2017-02-01 08:04] mariobehling commented on #33
Please implement same as in Google.com. Also ensure search bar etc. look similar.

[2017-02-01 08:04] #27 closed

[2017-02-01 08:05] mariobehling commented on #15
@nikhilrayaprolu Please follow the design of google.

[2017-02-01 08:10] mariobehling commented on #12
It might be useful, but we should first implement the basic app to understand where this could go to. In some areas search will be fast and then we don't need such an info item there.

Closing it there fore. Open when the time has come.

[2017-02-01 08:10] #12 closed

[2017-02-02 23:37] BhaveshSGupta opened #39 "Letter are Not appearing Full."
![image](https://cloud.githubusercontent.com/assets/4209637/22573309/65bf9df6-e9ce-11e6-81d3-93c8353daa3a.png)

There are few letters which are cutting from bottom like 'g' and 'j'

[2017-02-02 23:42] BhaveshSGupta commented on #33
this seems done but I guess we should hide the logo at top left corner there is no meaning of having two logo's.

[2017-02-07 18:43] isuruAb opened #40 "Extra white space in 404 page"
![404page](https://cloud.githubusercontent.com/assets/7692626/22705840/1c19aea8-ed93-11e6-9c10-309dce3f256f.png)

there is an extra space on top of the page

[2017-02-07 18:44] isuruAb commented on #39
this issue is fixed, I think

[2017-02-07 19:03] isuruAb opened #42 "Logo does not link to the home page"
To give good user experience we have to link nav-bar logo and 404 page with the home page. like google does.

[2017-02-08 11:22] harshit98 commented on #33
@BhaveshSGupta I agree with you. Is anyone assigned for this issue?

[2017-02-08 11:32] BhaveshSGupta commented on #33
I can try this out tomorrow..

On Wed 8 Feb, 2017, 4:52 PM Harshit Prasad, <notifications@github.com>
wrote:

[2017-02-10 10:37] Marauderer97 opened #44 "Change in component architecture"
The search bar in the home page and the results page need to be linked, i.e, text in one should be displayed in the other. I think a common component that is injected into both pages will be a solution. What do you think @nikhilrayaprolu ?

[2017-02-10 11:42] Marauderer97 opened #45 "Help icon to be modified"
The links under the help icon are redundant as they all point to yacysearch(as it was in susper-backbone), they require to be updated, and restyled. @mariobehling  Any ideas on how to go about this? Especially since google has no feature like this.
Susper:
![image](https://cloud.githubusercontent.com/assets/20185076/22825536/e2cb8284-efb3-11e6-9c58-d25e3f180136.png)

Google:
![image](https://cloud

[2017-02-10 11:44] Marauderer97 commented on #34
This is a sub-issue of #45, where all the links will be updated(not just the about page). Hence closing the issue.

[2017-02-10 11:44] #34 closed

[2017-02-10 11:47] Marauderer97 commented on #33
@BhaveshSGupta This issue has already been fixed. :smile:
This is how Susper looks currently:
![image](https://cloud.githubusercontent.com/assets/20185076/22825680/b91ba012-efb4-11e6-9763-71271b1df8b8.png)

[2017-02-10 11:47] #33 closed

[2017-02-10 13:27] Marauderer97 opened #46 "Search bar on results page is not working"
The search bar on the results page seems to have a bug. It does nothing on clicking the search button.

[2017-02-10 14:45] mariobehling opened #48 "Do not show a loading screen on the start page"
The start page shows a loading info. Please avoid loading infos.

[2017-02-11 05:23] nikhilrayaprolu opened #49 "Replace github's default 404 page with susper's 404 page"
![image](https://cloud.githubusercontent.com/assets/15216503/22851457/35d4472e-f048-11e6-869c-49dcb5e1039c.png)

replace github's default 404 page with susper's

[2017-02-11 08:06] harshit98 opened #50 "SUSPER logo directs to yacy.net"
On the homepage susper.com , clicking on SUSPER logo directs to yacy.net . The logo should not link to any website just like Google search engine.

[2017-02-11 08:15] harshit98 opened #51 "SUSPER logo not linked to homepage."
Here are the screenshots of the following logo i'm taking about :-
![11](https://cloud.githubusercontent.com/assets/22245418/22852332/084ec3ac-f060-11e6-990d-c92fbcb5f5ec.PNG)
![11a](https://cloud.githubusercontent.com/assets/22245418/22852334/0dbee2ae-f060-11e6-8965-9472be118858.PNG)

On clicking the SUSPER it should- direct to susper.com just like Google.

[2017-02-11 11:50] #40 closed

[2017-02-11 11:50] #42 closed

[2017-02-11 12:18] isuruAb commented on #51
This issue is already fixed in #41 this

[2017-02-11 12:19] isuruAb commented on #50
this issue is already fixed  in #41

[2017-02-11 12:22] #51 closed

[2017-02-11 12:22] #50 closed

[2017-02-12 05:17] nikhilrayaprolu commented on #18
@Marauderer97 I have implemented advanced tools using ngrx architecture,where I have created a store for search results you could look at the pull https://github.com/fossasia/susper.com/pull/52 and use it where ever you feel it can be incorporated.

[2017-02-12 05:17] #18 closed

[2017-02-12 05:24] nikhilrayaprolu opened #53 "refactor susper's result page"
result's page is a single component now . which could be sub divided into many components which makes the code maintainable and understandable.
- [x] Search bar component.
- [x] Autocomplete component.
- [x] Infobox component.
- [x] Related search component.
- [x] Dropdown component.
- [x] Navbar component.
- [x] Footer navbar component.

Left :-
- [ ] Pagination component.

- [ ] Images component

[2017-02-12 05:25] nikhilrayaprolu opened #54 "not showing results count"
![image](https://cloud.githubusercontent.com/assets/15216503/22859871/ab495c82-f111-11e6-8576-6323cd1e032d.png)

when a search is made , the results count isn't displaying.

[2017-02-12 05:26] nikhilrayaprolu opened #55 "hovering on advanced search option is changing its alignment"
![image](https://cloud.githubusercontent.com/assets/15216503/22859880/ea16d606-f111-11e6-81a9-5e54b4a89bd5.png)

[2017-02-12 05:36] #39 closed

[2017-02-12 05:39] #1 closed

[2017-02-12 05:40] nikhilrayaprolu commented on #7
#30 solved this issue.

[2017-02-12 05:40] #7 closed

[2017-02-12 19:24] harshit98 commented on #2
@nikhilrayaprolu can we use Coala for HTML linters to make the code quality better?

[2017-02-13 15:24] nikhilrayaprolu commented on #2
@harshit98 this is similar to the work done on this issue at loklak_search
https://github.com/fossasia/loklak_search/pull/208
https://github.com/fossasia/loklak_search/issues/158

you proceed adding html-linter as done there

[2017-02-13 15:29] nikhilrayaprolu commented on #44
same as #9 closing this

[2017-02-13 15:29] #44 closed

[2017-02-13 16:45] #46 closed

[2017-02-13 16:45] nikhilrayaprolu commented on #55
#47 fixed this issue

[2017-02-13 16:45] #55 closed

[2017-02-13 16:50] Marauderer97 opened #56 "Search bar on 404 error page needs to be changed"
The search bar in the 404 page needs to be updated. It does not render search results, moreover it needs to be updated to the latest version which looks like this
![image](https://cloud.githubusercontent.com/assets/20185076/22893012/7c1ae6f4-f23a-11e6-8d0f-a3fb7de08edc.png)

instead of:

![image](https://cloud.githubusercontent.com/assets/20185076/22892964/58297dfa-f23a-11e6-8263-0af55f3a9b11.png)

[2017-02-13 16:57] nikhilrayaprolu commented on #54
#47  has solved this issue.

[2017-02-13 16:57] #54 closed

[2017-02-13 17:58] Marauderer97 commented on #45
In continuation to the discussion on PR #47,
We can add a well styled button, with a menu of icons. We need to finalise the menu for this though.
What links should the menu contain?
Apart from the About page and a page to the github link of susper.com, can we add other items to our menu?
@nikhilrayaprolu @mariobehling What do you recommend?

[2017-02-13 18:03] nikhilrayaprolu commented on #45
as in the discussion on #47 ,You can make separate icons for each subtopic in help page and make the help icons look like google apps . for now you could use matching material icons ( https://material.io/icons/ ) for the help pages.
and comming to the links you have to make only the about page in susper , all others links are regarding the yacy backend and yacy tutorials which can be redirected as

[2017-02-13 22:36] #48 closed

[2017-02-14 11:13] Marauderer97 commented on #53
@nikhilrayaprolu i would like to be assigned to this.

[2017-02-14 15:36] #56 closed

[2017-02-14 19:21] #9 closed

[2017-02-15 03:23] harshit98 commented on #2
@nikhilrayaprolu I would like to work on this.

[2017-02-15 05:18] nikhilrayaprolu commented on #8
#61 solves this issue

[2017-02-15 05:18] #8 closed

[2017-02-15 05:20] nikhilrayaprolu commented on #2
@harshit98 you can proceed working on this.

[2017-02-15 05:47] Marauderer97 opened #63 "Image display not working"
The image display of susper seems to be broken. Only the links are being displayed
![image](https://cloud.githubusercontent.com/assets/20185076/22962025/44b39ab2-f370-11e6-83ed-7e5c9cbab8e7.png)

[2017-02-15 09:14] #45 closed

[2017-02-15 10:05] #63 closed

[2017-02-15 12:49] harshit98 opened #66 "Blurred icons."
In about this page section- the icons seems to be blurred (not sharp, pixels are observed) . I would like to work on this.
Also rather than using pictures, we can use icons. It would be much better to have fast website.
![selection_002](https://cloud.githubusercontent.com/assets/22245418/22974976/dfa624d8-f3aa-11e6-8f57-e3e868aa5b42.png)

[2017-02-15 12:56] harshit98 opened #67 "Clicking on the link directs to 404 Page not found."
Searching a particular thing, and results being fetched is working good! But when I click on any of the link - it redirects me to 404 Page not found. Here are the screenshots -
![selection_001](https://cloud.githubusercontent.com/assets/22245418/22975260/1de66018-f3ac-11e6-95b9-62dbed12dfc4.png)
After clicking on a desired link -
![screenshot from 2017-02-15 18-20-44](https://cloud.githubuserconte

[2017-02-15 13:21] harshit98 opened #68 "Pagination shifts from it's original position."
Searching images more than 3 - seems good. Pagination remains in it's position. But, searching images less than 3 - the pagination shifts from it's position upwards. Here are the screenshots -
![screenshot from 2017-02-15 18-31-16](https://cloud.githubusercontent.com/assets/22245418/22976059/1cd46e38-f3af-11e6-8f35-348be4722fd2.png)
![selection_003](https://cloud.githubusercontent.com/assets/22245

[2017-02-16 04:40] Abhi2424shek commented on #2
@nikhilrayaprolu html linters are already there in the gh-pages branch it's not working because the gem file is not there.

[2017-02-16 04:45] Abhi2424shek commented on #2
@nikhilrayaprolu I don't know why it is present on the gh-pages branch maybe @adarsh would give us an explanation --- the gh-pages is deployed branch. It would be erased for each commit on angular. There is no point in putting it there i guess.

[2017-02-16 05:45] Marauderer97 commented on #53
@nikhilrayaprolu How do you propose we go about this?
Text results, Image results and Video results will be sub-components of the results page, which will only contain the general layout(pagination bar etc)?

[2017-02-16 15:46] adarsh commented on #2
Wrong Adarsh, sorry!

On Wed, Feb 15, 2017 at 8:45 PM Abishek V Ashok <notifications@github.com>
wrote:

--
Sent from my mobile

[2017-02-17 08:49] Abhi2424shek commented on #2
@adarsh I updated it to @adarsh-ideal :D I am sorry

[2017-02-17 15:26] Abhi2424shek opened #73 "Remove coala from gh-pages"
Coala should not be on gh-pages but on the angular branch as done by @harshit98 we should remove it. It is also not working there!

[2017-02-17 16:38] #67 closed

[2017-02-17 16:42] nikhilrayaprolu commented on #73
@Abhi2424shek susper-backbone https://github.com/fossasia/susper-backbone/ has been hosted on gh-pages , due to which this project has the same files from it as this is a fork of the susper-backbone.

[2017-02-17 20:42] #49 closed

[2017-02-17 20:43] #66 closed

[2017-02-18 02:51] Abhi2424shek commented on #73
Well the gh-pages is a generated branch currently. It is unneeded to put linting there!

[2017-02-18 07:28] Marauderer97 commented on #68
@harshit98 Do you want to work on this?

[2017-02-18 08:05] #73 closed

[2017-02-18 10:37] nikhilrayaprolu commented on #4
#62 resolved this issue.

[2017-02-18 10:37] #4 closed

[2017-02-18 12:27] harshit98 commented on #68
@Marauderer97 I'll give it a try! :)

[2017-02-18 13:21] #2 closed

[2017-02-18 13:48] harshit98 commented on #3
@nikhilrayaprolu Not able to understand. We have added Travis CI to test the code quality. Should we have to add codecov also?

[2017-02-18 15:35] adarsh commented on #2
No problem! I like to hear from you guys occasionally! 😎

On Sat, Feb 18, 2017 at 5:21 AM Nikhil Rayaprolu <notifications@github.com>
wrote:

--
Sent from my mobile

[2017-02-18 16:02] nikhilrayaprolu commented on #3
@harshit98 here you have to write unittests covering  the functions or views of each component, (as many as you can)  . so that we wont be breaking the code in future .
every component has a separate <component-name>.spec.ts which could be updated with new test cases.
secondly end to end tests can be added in this folder https://github.com/fossasia/susper.com/tree/angular/e2e
you could start picki

[2017-02-18 17:06] harshit98 opened #76 "Site not loading."
Whether I go to susper.com or work locally on my machine (localhost:4200) the site ends up loading a default options box.
![screenshot from 2017-02-18 22-14-56](https://cloud.githubusercontent.com/assets/22245418/23095110/8ca4c636-f62a-11e6-82e0-b795da671ede.png)

[2017-02-18 17:38] nikhilrayaprolu commented on #76
thats due to addition of '/nav' in this commit https://github.com/fossasia/susper.com/commit/8f9ce597912a8021990143e0df7b2971ab0786b1#diff-17dbed4a514c9206a6d65b113a823ebbR14
removing it will make everything work well. Also as we don't have any unittests to test if your commit is broken , please commit your changes  only after you recheck that everything is working fine from nexttime.

[2017-02-18 22:59] mariobehling opened #77 "No search bar - blank page on Chrome"
The start page of susper is currently blank. It shows an option to add search to Firefox very shortly (on Chrome) and then only a blank white page is shown.

![screenshot from 2017-02-19 06-58-06](https://cloud.githubusercontent.com/assets/1583873/23097521/eb693da0-f670-11e6-9254-79957d92df97.png)

[2017-02-18 23:29] BhaveshSGupta commented on #77
There is some problem in last commit, I am yet to find the cause of the problem..

[2017-02-19 00:02] BhaveshSGupta opened #79 "Removing Link from homepage to homepage"
We should not have link from homepage to homepage again, from accessibility point of you, Sometime this could be confusing..

[2017-02-19 00:03] vibhcool commented on #77
There is also an error while building the project -> https://dpaste.de/sBZ7 or it is just me?

[2017-02-19 00:17] BhaveshSGupta commented on #77
@vibhcool I am finding any error while building

[2017-02-19 00:21] harshit98 commented on #77
@vibhcool Same here. Removing just </nav> makes the site load again.

[2017-02-19 00:22] harshit98 commented on #76
@nikhilrayaprolu I don't know why I didn't noticed it! Sorry for that.

[2017-02-19 00:29] harshit98 commented on #79
@BhaveshSGupta Would you like to work on it? If yes, go ahead! :)

[2017-02-19 00:40] BhaveshSGupta commented on #79
@haritha28  Yes there are several other changes which could be done would combine all of them together.

[2017-02-19 00:45] harshit98 commented on #79
@BhaveshSGupta You can open issue regarding to the changes to be done! :) I have fixed the link error.

[2017-02-19 00:48] harshit98 opened #80 "Default box does not appears on Chrome."
When the site loads on Firefox, it looks like this -
![screenshot from 2017-02-19 06-13-47](https://cloud.githubusercontent.com/assets/22245418/23098097/0cd371be-f66b-11e6-9587-b79a3ee77437.png)

While on Chrome- it appears just for seconds and get disappear and ends up loading the search bar.

[2017-02-19 02:30] harshit98 commented on #68
@Marauderer97 I tried to fix it, but I'm unable to understand. I think pagination seems to be okay (I have included the screenshot), but the only thing that disturbs it- is maybe the pictures which are being rendered. Also, these pictures are not linked. Clicking on them happens nothing! Suggestions are welcomed :)
![screenshot from 2017-02-19 07-53-18](https://cloud.githubusercontent.com/assets/2

[2017-02-19 02:38] harshit98 opened #82 "Images appear by clicking 2 times on 'images' tab."
Here are the screenshots -
First click on the image tab shows- link of the images but no images are display.

![screenshot from 2017-02-19 08-03-02](https://cloud.githubusercontent.com/assets/22245418/23098650/102b07e6-f67a-11e6-87c3-091fcb5f1b3c.png)

Second click on the image tab shows- images with no link (from the website they have been rendered).

![screenshot from 2017-02-19 08-03-22](https:

[2017-02-19 03:00] harshit98 commented on #3
@nikhilrayaprolu I would like to take some time on this. First I have to read docs. :p Can you refer me some links or solved issues related to it? Your suggestions are welcomed :)

[2017-02-19 04:53] Abhi2424shek commented on #68
Clicking on them should open a pop-up like the one on Google search imo, with a link to the image, image name and other things :P Well I think you could put the parent div of the images to occupy complete width thereby the pagenation would never overlap.

[2017-02-19 07:00] nikhilrayaprolu commented on #80
@harshit98 actually this feature is only for firefox so , it dissappears on chrome, one way we could do is to stop even rendering for seconds on chrome

[2017-02-19 07:06] nikhilrayaprolu commented on #3
@harshit98 you could learn it from https://angular.io/docs/ts/latest/guide/testing.html offficial docs of angular , also there are some articles on medium and range.io , which are good to read.

[2017-02-19 07:08] nikhilrayaprolu commented on #77
#78 solved this

[2017-02-19 07:08] #77 closed

[2017-02-19 07:08] nikhilrayaprolu commented on #76
#78 solved this

[2017-02-19 07:08] #76 closed

[2017-02-19 08:03] BhaveshSGupta opened #83 "Design Changes"
We could do following do following changes
1) Alignment of the search results page(PS:the red lines), please see the image below
![alignment](https://cloud.githubusercontent.com/assets/4209637/23100408/d9da5f80-f6a5-11e6-92fd-d84cce219e86.jpg)

2) The Menu about right now works on both hover and click, we can keep it just one which would be make it easy even I feel icons are pretty huge may be we

[2017-02-19 08:26] Marauderer97 commented on #82
This is how google displays images:
![image](https://cloud.githubusercontent.com/assets/20185076/23100581/fa563b30-f6aa-11e6-8d77-5e3b4a301b9c.png)
So I am guessing by links, you meant , the link the image redirects to when clicked on?

[2017-02-19 08:34] Marauderer97 commented on #82
P.S However, the issue has been noted, the images page is being refactored as mentioned in #53, this issue will be addressed there. Thank you for your input :smile:

[2017-02-19 08:40] harshit98 commented on #82
@Marauderer97 Yes! but also, images only appear when the 'Images' tab on susper.com is clicked 2 times. :sweat_smile:

[2017-02-19 09:25] harshit98 commented on #83
@BhaveshSGupta I can try to fix them. 1st and 2nd seems to be easy. How should I solve 3 and 4 ?

[2017-02-19 09:31] BhaveshSGupta commented on #83
@harshit98 For 3rd one we need moderator's input as I would suggest to hide that for now from mobile devices.
and 4th one I need to check myself..

I would suggest pick any one and submit the PR and if anyone else wants to take issue the can. Still moderator's would be best to comment on this issue

[2017-02-19 09:52] harshit98 commented on #83
@BhaveshSGupta I have fixed 3rd one also. 4th is left. I have no idea about it.

[2017-02-19 13:17] nikhilrayaprolu commented on #83
@harshit98 let the Floater be present only on index page and not on the results page.once user searches something , the floater should be removed or hided

[2017-02-20 02:44] harshit98 commented on #83
@nikhilrayaprolu done! what about the 4th one?

[2017-02-20 13:13] Marauderer97 commented on #53
@nikhilrayaprolu Can you also figure out why issue #87 is occurring? This did not happen before, and persists even when images-page is made a separate component

[2017-02-20 16:49] Marauderer97 commented on #83
@harshit98 Try doing the following.. rename susper.ico to favicon.ico, delete favicon.ico and similarly update the code to favicon.ico wherever susper.ico has been used, this should solve the problem

[2017-02-20 21:06] saurabh0402 opened #84 "Site not responsive on different screens"
I was testing out the site on different screen sizes and it seems that the site is not responsive on all screens. Here are the screenshots:
![screenshot_2017-02-21_02-32-46](https://cloud.githubusercontent.com/assets/12875685/23141754/4efd79d0-f7de-11e6-87e8-8da28194f6c1.png)
![screenshot_2017-02-21_02-32-57](https://cloud.githubusercontent.com/assets/12875685/23141756/5291795c-f7de-11e6-8b08-353a

[2017-02-20 21:47] harshit98 commented on #84
@saurabh0402 Right now, we're enhancing the site for better user experience. Even - images section is also being re-factored. So, we should keep the responsive design issue as a low priority right now. What you think @nikhilrayaprolu ?

[2017-02-20 22:28] harshit98 opened #86 "Resizing the logo at top-right side."
We should resize the susper logo - it should be little more big in size. And there is too much area between the logo and the search bar. It should also be reduced. It should have similar design just like Google have! Here are the screenshots -

![selection_002](https://cloud.githubusercontent.com/assets/22245418/23143854/b28ef3ec-f7e9-11e6-9890-215d6ff0565c.png)

![selection_001](https://cloud.git

[2017-02-21 01:19] #79 closed

[2017-02-21 10:01] nikhilrayaprolu commented on #84
@saurabh0402 if you feel like you could contribute upon this issue . go ahead.There are alot changes that would happen in the near future , but we could start maintaining responsive design on each pull that would change the design aspects of susper.

[2017-02-21 10:27] nikhilrayaprolu commented on #82
https://github.com/fossasia/susper.com/commit/8f9ce597912a8021990143e0df7b2971ab0786b1#diff-566a81b45e1d8778f156f29c1bf39732R24
@harshit98 addition of `type="button"` in the above commit has raised this error.
I think time has come to have some tests suite as in #3 or else we will be breaking our code in each commit.

[2017-02-22 10:30] harshit98 commented on #82
@nikhilrayaprolu I don't think so. I tried removing `type="button"`. It does not solves this issue.

[2017-02-22 14:21] harshit98 commented on #68
@Abhi2424shek Oh got it. I tried it. It worked. Will be making new PR soon. :)

[2017-02-23 14:40] harshit98 commented on #3
@nikhilrayaprolu I would like to do this.

[2017-02-23 16:12] harshit98 commented on #86
@nikhilrayaprolu - Fixing the search bar- disturbs it's position on the homepage. Below are the screenshots. I made changes in `search-bar.component.css` file - under `#nav-group` Any suggestions? :)

![screenshot from 2017-02-23 21-35-51](https://cloud.githubusercontent.com/assets/22245418/23267272/429e1080-fa10-11e6-84c7-70bec68031fe.png)

![screenshot from 2017-02-23 21-36-41](https://cloud.git

[2017-02-23 16:35] nikhilrayaprolu commented on #86
@harshit98 you could fix it in index.component.ts by changing it's position ,similarly change the positions everywhere search bar component is used.

[2017-02-23 16:35] nikhilrayaprolu commented on #3
ok you could start working on this @harshit98 .

[2017-02-24 01:23] #83 closed

[2017-02-24 06:44] harshit98 commented on #82
Please close this issue, as it has been solved in PR no #88 :)

[2017-02-24 06:51] #82 closed

[2017-02-24 15:58] #68 closed

[2017-02-27 20:19] sandeepm96 commented on #80
Hi! I am new to the community and for getting started I have fixed this issue and created a PR. :)

[2017-02-28 03:44] harshit98 commented on #84
@saurabh0402 any updates regarding this issue?

[2017-02-28 04:05] harshit98 opened #92 "Redesigning the site using MaterializeCSS framework."
As mentioned in issue no #37 , the style of susper.com looks a bit dull. It should be attractive and eye-catching in terms of styling. Here are the screenshots -

![selection_008](https://cloud.githubusercontent.com/assets/22245418/23391107/75af87d4-fd98-11e6-931b-5a15038ab5b5.png)

It should be styled similar to loklak.net. Also, we can add a tag-line between susper logo and search bar. We can di

[2017-02-28 04:32] harshit98 opened #93 "Search bar - not appearing on mobile screen."
Here is the screenshot of the following bug -

![screenshot_20170228-094830](https://cloud.githubusercontent.com/assets/22245418/23391711/e8d6ef6e-fd9c-11e6-8518-88b6afd2644f.png)

This issue is similar to issue #84

[2017-02-28 04:46] sandeepm96 commented on #93
I also noticed it. Its actually because the frontend is not responsive. The search bar appears when the width of the screen is increased.

Here's a screenshot after screen resizing.
![screenshot from 2017-02-28 10 15 28](https://cloud.githubusercontent.com/assets/15105247/23391998/e62c879a-fd9e-11e6-9e05-eda19b526516.png)

[2017-02-28 06:09] ShishirBondre opened #94 "The titles on the image (main image slider) of an index page are not responsive"
I have attached the screenshots please do review it,
The error.png denotes the issue image
and the correct.png refers to correct image
![correct](https://cloud.githubusercontent.com/assets/14989325/23393688/96cbcd4e-fdaa-11e6-865a-c4e26e1f1acb.png)
![issue](https://cloud.githubusercontent.com/assets/14989325/23393689/96cd8544-fdaa-11e6-9621-c54027c6b4c7.png)

[2017-02-28 06:55] harshit98 commented on #94
@ShishirBondre Here you're not supposed to post issues which are not related to susper.com. If you're new to community - join FOSSASIA communication channels and start contributing to projects you're interested in. Here you can find projects - https://github.com/fossasia . You can post this issue here - https://github.com/fossasia/fossasia.org . Thank you!
@nikhilrayaprolu Please close this issue.

[2017-02-28 07:28] #94 closed

[2017-02-28 07:41] nikhilrayaprolu commented on #93
closing this issue ,since this is similar to #84 . @harshit98 post this image on issue #84

[2017-02-28 07:41] #93 closed

[2017-02-28 07:57] nikhilrayaprolu commented on #92
basically frameworks are not much preferred when data gets loaded dynamically, sometimes required functionalities may not get activated.
Also MaterializeCSS is now in beta , and doesn't have much support for frameworks which load data dynamically . I would prefer 'Angular Material' but there are a lot syntactical changes we have to do for it.
Bootstrap has a good support when comes to dynamic load

[2017-02-28 10:54] sandeepm96 commented on #84
I think maintaining a responsive design from the start is essential. So I am willing to contribute on this.

[2017-02-28 12:15] harshit98 commented on #92
@nikhilrayaprolu I would like to work on this.

[2017-02-28 12:41] harshit98 commented on #84
Here is one more screenshot regarding to responsiveness -

![screenshot_20170228-094830](https://cloud.githubusercontent.com/assets/22245418/23405592/f9a781a2-fde0-11e6-81ea-ed07d498dd3c.png)

@sandeepm96 You can go ahead. Don't forget to post screenshots after fix within your PR. :)

[2017-02-28 13:50] nikhilrayaprolu commented on #92
@harshit98 you can proceed and discuss all issues regarding design changes on issue #37

[2017-02-28 13:50] #92 closed

[2017-02-28 15:14] sandeepm96 commented on #84
@harshit98 I have started working on it. Using bootstrap components to get it done. I will post screenshots within the PR whenever its ready. :)

[2017-02-28 15:18] harshit98 commented on #37
I would like to work on this issue #92 . I'll start this work soon.

[2017-03-01 15:53] #80 closed

[2017-03-04 04:48] Marauderer97 commented on #86
What is the status of the issue @harshit98 ?

[2017-03-04 04:58] Marauderer97 opened #96 "Problems with pagination bar"
When we navigate from one page of images, to the next and then click on the all tab, we get results from the 10th page(since a 100 images are displayed each time).
![image](https://cloud.githubusercontent.com/assets/20185076/23576211/fcaf558c-00c4-11e7-9965-d85ff91c6b7d.png)

This may confuse the user, we have two possible solutions
1. Separate pagination bar for each view type(image, all etc)
2.

[2017-03-04 05:01] Marauderer97 commented on #96
@nikhilrayaprolu Should I go ahead and rectify it (implementing suggestion 2), I realise this can be a part of #53 , but for refactoring a lot of design decisions have to be made first (PS : sorry for my delay on that, have been busy with a personal emergency).

[2017-03-04 05:02] sandeepm96 commented on #96
Yeah this is the problem that is occurring after I made the search bar responsive. As the same search bar code is being used in the navbar also, so it appears in the middle. I am working on it now and it will be fixed soon .

[2017-03-04 05:06] sandeepm96 commented on #96
@Marauderer97 You can go ahead and fix the pagination bar. :)

[2017-03-04 05:07] Marauderer97 opened #97 "About Page link not working"
Clicking on About page gives a 404 Page not found error.
![image](https://cloud.githubusercontent.com/assets/20185076/23576248/34149144-00c6-11e7-8df2-7c7b5db085e8.png)
![image](https://cloud.githubusercontent.com/assets/20185076/23576249/3c842b14-00c6-11e7-891f-476e9922beef.png)
This bug was fixed earlier, but has funnily enough risen again. We can redirect the user to yacysearch about page, but

[2017-03-04 05:12] Marauderer97 commented on #97
@nikhilrayaprolu @mariobehling What should our about page contain?
I am thinking of the following sub topics
1. A brief description of susper( a search engine, with a yacy backend, etc.)
2. A link to our Github repository susper.com(Encouraging bugs to be reported and allowing newcomers to know where to contribute)
3. A list of our contributors? (This can be edited, and each newcomer can write his

[2017-03-04 05:18] Marauderer97 opened #98 "Search bar position inconsistent"
The Search bar seems to be in the right position only in the home page,
![image](https://cloud.githubusercontent.com/assets/20185076/23576294/b1e09928-00c7-11e7-934c-31c8aadfbb1f.png)
but it is in the middle of the navbar in the results page( inconsistent with the google design we are trying to replicate):
![image](https://cloud.githubusercontent.com/assets/20185076/23576301/d0d4f004-00c7-11e7-904

[2017-03-04 05:21] sandeepm96 commented on #98
I am making it responsive for all pages. Till now only home page is done. Working on it. :)

[2017-03-04 05:22] Marauderer97 commented on #84
@sandeepm96 Great work! A friendly tip, next time, use keywords like fixes #issue_number or solves issue_number, within your message in your PR, when you are certain the problem is fixed, this will close the issue automatically. Also, always reference your issue, in the PR.

Closing this issue now, since it has been fixed.

[2017-03-04 05:28] Marauderer97 opened #99 "Advanced search does not work"
The Advanced Search option seems to be broken. Clicking on it does nothing.
![image](https://cloud.githubusercontent.com/assets/20185076/23576365/4738042e-00c9-11e7-93ec-b88339b3cc61.png)

[2017-03-04 05:30] Marauderer97 commented on #99
@nikhilrayaprolu The advanced search was working perfectly before, perhaps a css fix, or a change in class name in one of the PRs broke it? We perhaps need to have tests in place to prevent this from happening next time

[2017-03-04 05:36] sandeepm96 commented on #84
@Marauderer97 Actually this is not completely done. That's why I didn't. Responsiveness has been added to home page. It is still to be done in the other pages.Could you please reopen this issue. :)

[2017-03-04 05:39] sandeepm96 commented on #98
@Marauderer97 Could you reopen the issue #84 and reference this issue under it.

[2017-03-04 06:03] Marauderer97 commented on #84
@sandeepm96 My bad, please carry on :smile:

[2017-03-04 06:04] Marauderer97 commented on #84
#98 can be addressed here too.

[2017-03-04 06:27] Marauderer97 commented on #96
@sandeepm96 I know. :) Just waiting for @nikhilrayaprolu 's opinion

[2017-03-04 09:54] harshit98 commented on #96
@Marauderer97 It seems to be that search bar has also been shifted from it's position. I think this bug problem came from last commit in which responsive issue has been solved.

[2017-03-04 09:59] harshit98 commented on #86
@Marauderer97 My Mid terms are going on. I'll be back on work from 11th March. I have stopped this work in between. But if you're interested you can fix this issue :)

[2017-03-04 10:04] harshit98 commented on #99
@Marauderer97 I think, while fixing HTML lint errors- maybe I have changed a class name or id name. I'm working on the test issue though. My PR is still open. You can suggest me more test to be written. :)

[2017-03-04 10:13] harshit98 commented on #97
@Marauderer97
- Can we also add a social media section? In that section we can give details about FOSSASIA being on Facebook, LinkedIn, Twitter and some more details about FOSSASIA?
- A list of project maintainers/mentors? (this is somewhat different from contributors)

[2017-03-04 13:56] nikhilrayaprolu commented on #96
@Marauderer97 you can proceed by implementing in the second way(as google does).
@sandeepm96 looks like you have changed element ids which broke the code, try not to change ids since many functionalities are interlinked with ids. any way you have done good work on making the page responsive

[2017-03-04 13:59] nikhilrayaprolu commented on #97
@Marauderer97 you can proceed adding 1 and 2 .
but for the 3rd I would suggest you to take input from @mariobehling

[2017-03-05 22:02] sandeepm96 opened #103 "Unwanted spacing between search input box and search button"
On small screens, browsers other than Firefox are displaying a break between search input box and search button. Screenshot:-

Firefox: (without any problem)
![screenshot from 2017-03-06 03 20 25](https://cloud.githubusercontent.com/assets/15105247/23591861/69fba628-021d-11e7-9e6e-adea080ca7ff.png)

Chrome: (with the problem)
![screenshot from 2017-03-06 03 19 54](https://cloud.githubusercontent.c

[2017-03-06 00:35] #98 closed

[2017-03-06 00:41] sandeepm96 commented on #103
Solved and merged in PR #101

[2017-03-06 00:41] #103 closed

[2017-03-06 00:45] #99 closed

[2017-03-06 01:02] mariobehling opened #105 "Menu requires improvements and alignment"
The menu bar needs some improvements.

The desired look is:

![screenshot from 2017-03-06 08-58-58](https://cloud.githubusercontent.com/assets/1583873/23593545/3830e71a-024b-11e7-8861-2272e45dbe2b.png)

* [ ] Align menu bar with search bar
* [ ] Keep background of menu extended from above area (gray)
* [ ] Implement underline, bold style
* [ ] Use dark gray for font and on scroll over make it blac

[2017-03-06 02:17] mariobehling commented on #105
Great. Please go ahead.

[2017-03-06 02:19] sandeepm96 commented on #105
Thank you sir. :)

[2017-03-07 14:15] isuruAb commented on #53
I would like to work on this.

[2017-03-08 16:33] designcrumble commented on #37
I would definitely like to help out on this issue.

[2017-03-09 12:56] nikhilrayaprolu commented on #53
@isuruAb refactoring a page requires us to be careful . hence we would like to make sufficient number of tests initially and then proceed with this. so that we could test that nothing goes wrong even in future when we refactor something.
you can start contributing some tests

[2017-03-09 13:00] nikhilrayaprolu commented on #37
@designcrumble ok go ahead, find something which could be designed well (or) if you find something not responsive , make it responsive.
also if you could find some bugs around , raise issues and you could start working on them.

[2017-03-10 01:33] isuruAb opened #108 "Remove images that fails to load"
When we search for images it shows big number of images but some images give 404 error.If we can hide those images it will be helpful to user and will give good user experience.
![screenshot](https://cloud.githubusercontent.com/assets/7692626/23778318/9ab020ec-055f-11e7-8af9-a5f0b328a7cf.png)

[2017-03-11 05:07] isuruAb commented on #96
If we are going to implement similar styles like google here we have to change images listing.because google has no any pagination in image search.

[2017-03-13 08:33] harshit98 commented on #97
@Marauderer97 any updates regarding this issue?

[2017-03-13 09:11] mariobehling commented on #97
Please keep it simple and implement the same design as on loklak: http://loklak.net/about

The content is not so important to discuss now. Simply making the style the same is sufficient. So, we can go back to the actual features.

[2017-03-13 09:13] mariobehling commented on #97
@haritha28 Regarding your comments here https://github.com/fossasia/susper.com/issues/97#issuecomment-284142042

Please keep all this really simple now. List of maintainers etc. is really not necessary. GitHub already keeps that information. Please focus on the actual features of susper, instead of building a "homepage".

[2017-03-13 09:14] mariobehling commented on #97
However, totally agree to follow style of loklak.net. Please go ahead. Thanks for considering the details!

[2017-03-13 11:09] #105 closed

[2017-03-13 20:01] harshit98 commented on #108
I would like to work on this. :+1:

[2017-03-13 20:04] harshit98 commented on #86
This issue has been solved here - #110 . I'm closing this issue.

[2017-03-13 20:04] #86 closed

[2017-03-13 20:16] harshit98 commented on #84
@nikhilrayaprolu Please close this issue as all the pages are now responsive.

[2017-03-14 04:49] #108 closed

[2017-03-14 07:22] harshit98 opened #114 "Videos section should load .mp4 files instead of .gif"
Currently, videos section is loading .gif files -

![selection_010](https://cloud.githubusercontent.com/assets/22245418/23889654/346cc40e-08b4-11e7-8bfb-32f1f6f141c6.png)

It should load .mp4 files just like Google -

![selection_011](https://cloud.githubusercontent.com/assets/22245418/23889659/40526dfa-08b4-11e7-8030-fd78f63dd735.png)

I would like to work on this. :+1:

[2017-03-14 13:07] #84 closed

[2017-03-14 21:55] harshit98 opened #116 "Advanced Search not working properly."
Under advanced search, clicking on the check boxes does nothing. Automatically, it gets unchecked. Screenshots -

![selection_014](https://cloud.githubusercontent.com/assets/22245418/23923979/e9221280-092e-11e7-816e-0b1a0fc30e49.png)

Unchecked after few secs.
![selection_015](https://cloud.githubusercontent.com/assets/22245418/23923982/ea75ab88-092e-11e7-9fcd-a513e2679ab3.png)

UPDATE - This prob

[2017-03-15 01:38] #96 closed

[2017-03-15 06:56] nikhilrayaprolu commented on #114
@harshit98 https://github.com/fossasia/susper.com/blob/angular/src/app/results/results.component.ts#L69
removing gif from this line will do the trick

[2017-03-15 06:59] harshit98 commented on #114
@nikhilrayaprolu I did this thing. Result came out to be - video section shows nothing!

[2017-03-16 12:43] harshit98 opened #121 "Implementing auto-search suggestion feature in susper search"
Currently, susper does not have auto search suggestion feature -

![selection_018](https://cloud.githubusercontent.com/assets/22245418/23996508/a750b5d2-0a73-11e7-895c-645eab456d29.png)

We should implement the auto-search suggestion feature similar to Google.

![google-chabad3](https://cloud.githubusercontent.com/assets/22245418/23996553/d0862ed2-0a73-11e7-8730-48015f954dbd.jpg)

I would like to

[2017-03-21 05:17] harshit98 opened #123 "Adding meta description"
We can add meta description under each result headings.
Current state of susper -

![selection_020](https://cloud.githubusercontent.com/assets/22245418/24133524/9866a604-0e23-11e7-9c7e-30b151c83e22.png)

We have to implement it similar to what search engines like to do -

![selection_019](https://cloud.githubusercontent.com/assets/22245418/24133533/a7ec8dbe-0e23-11e7-93c7-fc71e42ee4b7.png)

[2017-03-21 13:44] harshit98 opened #124 "Convert Bootstrap to Angular Material framework."
The overall design of susper is pretty much going towards material design. So why not to implement an actual Material design using Angular Material instead of using Bootstrap ?

[2017-03-21 17:42] nikhilrayaprolu opened #125 "addition of preview feature as it was in google"
![image](https://cloud.githubusercontent.com/assets/15216503/24161598/dd42a964-0e8a-11e7-9af4-2b3645b59e77.png)

previewing the documents in susper would help users to identify their documents and verify them without opening.

[2017-03-21 17:44] nikhilrayaprolu opened #126 "search option enhancement"
we could have an advanced search feature similar to google advanced search (of course presently susper supports it using regex, but a simple view of regex features as in google will make susper available to non-technical people too.
![image](https://cloud.githubusercontent.com/assets/15216503/24161998/174adc20-0e8c-11e7-97a6-c3e00ed6c008.png)

[2017-03-21 17:48] nikhilrayaprolu opened #127 "Support Regex based search"
since solr supports regex based search, users should be given option to search using regex queries.

[2017-03-21 17:53] nikhilrayaprolu opened #128 "Spell Check similar to google like “Do you Mean that?”"
spell checking similar to google search could be incorporated
![image](https://cloud.githubusercontent.com/assets/15216503/24162386/58370f46-0e8d-11e7-846d-8c029dc201de.png)

[2017-03-21 17:58] nikhilrayaprolu opened #129 "translate the documents , and also allow searching in multiple languages"
translating the documents and allow multi language support using some external translation api's would help enhance susper search.
susper could be completely internationalized into different languages.

[2017-03-21 18:00] nikhilrayaprolu opened #130 "addition of authentication and authorisation into susper.com"
this would allow us to give user-specific results, and also help him maintain history of individual users, also will be useful later for learning to implement machine learning algorithms for user specific results.

[2017-03-21 18:00] harshit98 commented on #125
I liked this idea very much!

[2017-03-21 18:02] nikhilrayaprolu opened #131 "addition of Dynamic Queries:-”applying synonyms and taxonomies”"
searching using synonyms and taxonomies will allow us to get better results, this would be feature which should be added in the backend Yacy.

[2017-03-21 18:11] nikhilrayaprolu opened #132 "add codecoverage tools"
since we are in a stage of incorporating tests to susper, it is better we start adding a codecoverage tool and then know how much code is covered by the tests we write. this would also allow write efficient quality tests.

[2017-03-21 19:39] harshit98 commented on #129
@nikhilrayaprolu For internationalization, we can use Angular Translate api - https://angular-translate.github.io/ . It can change language at runtime also and has capabilities of handling pluralization as well.

[2017-03-21 21:02] harshit98 commented on #132
@nikhilrayaprolu Already we have a file `codecov.yml`. Looks like, it has no use. I have done some work on this. Please review my commit.

[2017-03-22 07:46] harshit98 commented on #125
@nikhilrayaprolu Can we use http://qtip2.com/ qtip2 jQuery API to implement this feature?

[2017-03-22 17:29] nikhilrayaprolu commented on #125
nope qtip2 is not required we can implement this feature using iframe

[2017-03-22 17:30] #97 closed

[2017-03-22 17:56] harshit98 commented on #125
@nikhilrayaprolu I implemented this feature using iframe previously. I got struck here - http://stackoverflow.com/questions/42946184/angular2-how-should-i-implement-google-instant-preview-using-angular2

[2017-03-23 15:12] isuruAb commented on #124
this is good suggestion. since they are providing good set of angular material components, these tasks will be easy to do with angular material

[2017-03-24 03:29] harshit98 commented on #126
Issue no #116 can also be addressed here.

[2017-03-24 16:48] Marauderer97 opened #135 "Show Related Results at the end of Search Result display"
We can show related results like google does using the same synonym method mentioned in #131
![image](https://cloud.githubusercontent.com/assets/20185076/24304554/bf4b3ab4-10df-11e7-8e15-d20e28a08fad.png)

[2017-03-24 16:54] Marauderer97 opened #136 "Tutorial on using Susper"
Once we add sophisticated search mechanisms to Susper, it will be really useful to have a full-fledged guide on using Susper. We can also have forums where people can pose queries, just like google does.
![image](https://cloud.githubusercontent.com/assets/20185076/24304775/a07ce0c8-10e0-11e7-8610-7b376dddc3a4.png)

[2017-03-24 17:02] Marauderer97 opened #137 "Maintain user search history"
This is quite an ambitious goal, but if we are able to implement user accounts as mentioned in #130 we can add user search history too, perhaps upto the last 50 searches

[2017-03-25 04:38] isuruAb commented on #128
is there any recommended API or library to use  ?

[2017-03-25 06:14] Marauderer97 opened #138 "Mobile compatibility for susper"
There are minor glitches in the website when we open susper on a mobile phone. The top bar gets hidden on being zoomed.
![image](https://cloud.githubusercontent.com/assets/20185076/24319920/2d116f58-1150-11e7-84be-6cbbdedc45fd.png)
Also the images button does not work easily.

[2017-03-25 06:22] #123 closed

[2017-03-25 06:42] nikhilrayaprolu commented on #128
Did you find any APIs or libraries to use for this.I found this which is used in most popular programs http://hunspell.github.io/
@Orbiter are there any good Machine Learning libraries that provide this functionality? or I think we could build one on the back end side (http://stackoverflow.com/questions/307291/how-does-the-google-did-you-mean-algorithm-work ) .

[2017-03-25 06:49] nikhilrayaprolu commented on #137
@Orbiter does Yacy-Grid has authentication and authorization. It would be good to have token - based authentication in it .as per the discussion on gitter we thought of taking the authentication module from susi_server . so I will look into susi_server authentication and plan on how to integrate it with a frontend.

[2017-03-25 06:53] nikhilrayaprolu commented on #136
@Marauderer97  there are a lot features which we need to implement (or) port from yacy . look at http://yacy.searchlab.eu/ you will find a lot features which are required to be implemented.there is this complete video series on how to use Yacy https://www.youtube.com/user/YaCyTutorials/videos ,which could be documented and ported to susper

[2017-03-25 06:57] nikhilrayaprolu commented on #125
@harshit98  looks like you got a reply there in stackoverflow community.

[2017-03-25 11:54] nikhilrayaprolu commented on #3
need to add more tests.

[2017-03-26 10:23] harshit98 commented on #121
@nikhilrayaprolu To implement this feature, should I make a new file `autocomplete.service.ts` in app folder? and import the `AutoService` in `app.module.ts` ?

[2017-03-26 17:41] sandeepm96 commented on #130
We need to maintain a database for this. @nikhilrayaprolu how do you think we should start on this?

[2017-03-26 22:11] harshit98 commented on #124
@isuruAb I agree with you. The Angular Material design contains lots of directives that you won't have to write. So yes, I think there is a big difference but angular-material doesn't support old browsers.

[2017-03-26 22:31] isuruAb commented on #126
I'll work on this

[2017-03-27 13:14] harshit98 commented on #126
@nikhilrayaprolu @isuruAb Is this a good idea to keep Advanced search option on the homepage?

![selection_028](https://cloud.githubusercontent.com/assets/22245418/24358029/560f3fa6-131d-11e7-9db3-4701f213faf1.png)

[2017-03-27 13:44] harshit98 opened #139 "Update README.md"
There are some minor errors in README.md file.

This should not be showing `build : error`. Travis is working fine. Also, **Communication** heading should look like a heading.
![selection_029](https://cloud.githubusercontent.com/assets/22245418/24359000/917abe78-1320-11e7-807d-6dd8e60f3eb5.png)

Spelling mistakes. It should be 'angular'.
![selection_030](https://cloud.githubusercontent.com/assets/

[2017-03-28 18:52] nikhilrayaprolu commented on #130
look at yacy-grid backend for susper, it has an authentication module getting implemented in coming days (an authentication module from susi_server will be used) , we will use it here.

[2017-03-29 16:49] bharadwajturlapati commented on #139
Hi @harshit98 /Team ,
I am new to susper. Just want to get started.
I can take up fixing the communication heading thing.
Coming to builderror gh-pages build is failing from a long time.
https://travis-ci.org/fossasia/susper.com/branches

[2017-03-30 03:35] harshit98 commented on #139
@bharadwajturlapati Hi. You can go ahead and solve this issue :)
Regarding to build error - @nikhilrayaprolu any suggestions? - https://travis-ci.org/fossasia/susper.com/branches

[2017-03-30 13:35] nikhilrayaprolu commented on #139
@bharadwajturlapati @harshit98 there is no trouble with build regarding the gh-pages, we don't need to run travis for gh-pages. That's a build error which was raised about a month ago.

[2017-03-30 18:32] bharadwajturlapati commented on #139
@nikhilrayaprolu  okay :) then is the url wrong in readme.md  file ?
If so can we change the build url tag in the readme to angular branch instead of gh-pages ?

[2017-03-30 23:08] mariobehling opened #142 "Match the search box position, design, width, height, font and submenu to the search box of market leader"
Let's make the design around the search pages closer to the market leader.

![screenshot from 2017-03-30 19-50-58](https://cloud.githubusercontent.com/assets/1583873/24529585/dddf2772-1582-11e7-8207-ce6f56e324c0.png)

![screenshot from 2017-03-30 19-54-11](https://cloud.githubusercontent.com/assets/1583873/24529592/e25491c0-1582-11e7-9058-b51da09aa133.png)

Please adapt the following:
* [ ] search

[2017-03-30 23:17] mariobehling opened #143 "Match the design of the bottom page number menu closer to the market leader and avoid borders"
Please make the design to match the market leader

* Ensure font, color and size are same
* Ensure distance between number is the same
* Ensure position is the same

![screenshot from 2017-03-30 20-16-51](https://cloud.githubusercontent.com/assets/1583873/24530073/f3f98388-1585-11e7-90cf-4c8be3871e1a.png)

[2017-03-30 23:23] mariobehling opened #144 "Create a bottom bar in gray same as loklak.net"
Example bar of loklak.net
![screenshot from 2017-03-30 20-19-04](https://cloud.githubusercontent.com/assets/1583873/24530114/3014dca0-1586-11e7-8bde-97bbc1947b20.png)

Left side links:
* About -> `/about`
* Blog -> `blog.fossasia.org`
* Code -> `https://github.com/fossasia/susper.com`

Right side links
* Terms -> `/terms`
* Contact -> /`contact`

[2017-03-30 23:25] mariobehling opened #145 "Update top right expansion menu"
Yacy and Susper are two distinguished projects. Yacy is a peer to peer service. Susper is a service that makes use of the service from a simple user point of view. Therefore the top right dropdown links need to be changed and also the design changed to match the site design.

* [ ] Take out the icons of download, community, wiki, tutorial
* [ ] Make the remaining icons half the size of the current

[2017-03-30 23:28] mariobehling opened #146 "Implement an additional trigger in Susper to send search queries to a second service"
The susper repository is hosted here https://github.com/fossasia/susper.com

Please implement an additional trigger in Susper to send search queries to a second service.

When Susper retrieves search results from its back-end, it shall send the query to an additional back-end server. There should be no processing of the result and no waiting for the result. There should be a configuration option f

[2017-03-31 21:35] 13nehu commented on #145
i would like to try that

[2017-04-01 12:13] harshit98 commented on #132
@nikhilrayaprolu Previously, I did some work on this but the code coverage was not being generated using karma. What should we do?

[2017-04-03 05:45] harshit98 commented on #144
@mariobehling The float box will overlap the contents on the right-side bottom. (right side links)

![selection_049](https://cloud.githubusercontent.com/assets/22245418/24596711/a5264f9e-185e-11e7-8eb3-a764cd3791b5.png)

[2017-04-03 05:53] harshit98 commented on #142
@mariobehling What changes we have to do in sub-menu? Do we have to add other headings too like `News`, `Maps` other than adjusting position of "Tools" ?

[2017-04-03 06:02] harshit98 opened #147 "Implement Lightbox for the images."
Currently, susper only shows images (with no URL linked). To enhance user experience, we should implement the light box technology similar to Google. _Clicking on the images, should open up in a lightbox with an image slider._

[2017-04-03 14:02] mariobehling commented on #142
Check distance to box and alignment.

Please stick to the issue. It is important, but not part of the issue.

[2017-04-03 14:03] mariobehling commented on #144
Please ensure it does not.

[2017-04-04 00:12] harshit98 commented on #145
@13nehu any update regarding this issue?

[2017-04-06 14:33] nikhilrayaprolu commented on #132
@harshit98  Okay I will go through this and fix it.

[2017-04-06 22:26] 13nehu commented on #145
![7c1141c2-3b2f-4d5f-bb28-a949169e85c2](https://cloud.githubusercontent.com/assets/17461330/24778048/1681d174-1b46-11e7-902b-2f345ac9ed63.jpg)

[2017-04-07 03:33] harshit98 commented on #132
@nikhilrayaprolu reports which are generated are being stored inside docker. We have to pass them through, docker. I'll make a PR today of it. You can go through it.

[2017-04-07 13:07] mariobehling commented on #144
Please match height of bottom bar and font to loklak.net. Only show "About" instead of "About Susper".

[2017-04-07 13:09] mariobehling opened #150 "Match about page design to loklak"
The about page at http://susper.com/about currently has a white line and is missing the bottom bar. Font and horizontal lines are different as well. Please match it closer to loklak.net.

[2017-04-07 13:10] mariobehling commented on #144
Also ensure bottom bar shows up on all pages.

[2017-04-08 13:48] #125 closed

[2017-04-08 15:09] isuruAb commented on #150
I'm working on this 👍

[2017-04-09 17:21] isuruAb commented on #147
are you working on this issue??

[2017-04-10 05:34] harshit98 commented on #147
@isuruAb Not yet started, but you can try! : )

[2017-04-11 15:14] 13nehu commented on #143
![demo](https://cloud.githubusercontent.com/assets/17461330/24916384/98fbc538-1ef7-11e7-9642-000785d30e19.jpg)

[2017-04-12 20:49] #150 closed

[2017-04-13 04:27] harshit98 commented on #136
I would like to work on this. :+1:

[2017-04-14 03:05] isuruAb opened #157 "make a contact us page"
i have added contact section in about page.there is a link to localhost:4200/contact . do we need another page for show contact details ?

[2017-04-14 03:11] harshit98 commented on #157
Regarding this feature, let's have @mariobehling opinion.

[2017-04-14 03:35] harshit98 commented on #129
@nikhilrayaprolu @isuruAb Since, we're working on angular2 - please give your suggestions also so that later we can choose a better translate-api. : )

[2017-04-14 05:33] 13nehu commented on #143
#156

[2017-04-14 08:28] mariobehling commented on #157
Please simply follow loklak.net for now. Cheers.

[2017-04-14 08:30] mariobehling commented on #144
Please ensure all menu items of the bottom bar have the same font and size.

[2017-04-14 08:32] mariobehling opened #158 "Start page blank"
After the last commits start page is blank.

[2017-04-14 08:55] harshit98 commented on #158
@mariobehling Can you provide a screenshot please? I'm not getting a blank page when I go to <a href="http://susper.com/">Susper</a>. Here is the latest screenshot -

![screenshot from 2017-04-14 14-24-44](https://cloud.githubusercontent.com/assets/22245418/25038810/2c150834-211e-11e7-9f1e-bb2b0969964a.png)

[2017-04-14 08:59] mariobehling commented on #158
It is back. Not sure, what happened.

[2017-04-14 08:59] #158 closed

[2017-04-14 10:24] isuruAb commented on #157
working on this 👍

[2017-04-14 10:58] isuruAb commented on #129
@harshit98 that translation API only support for Angular JS.

[2017-04-14 12:28] harshit98 commented on #129
How about this -> <a href="https://github.com/ngx-translate/core">ngx-translate for angular 2</a> ?

[2017-04-14 20:48] 13nehu commented on #144
#160

[2017-04-15 06:30] #139 closed

[2017-04-15 13:38] harshit98 commented on #132
@mariobehling Please reopen this issue. Some more work is left that has to be completed. : )

[2017-04-15 13:46] harshit98 opened #161 "Update codecov.yml"
I was checking `codecov.yml` and found that it is invalid. Please update it.

References -
- <a href="https://docs.codecov.io/v4.3.0/docs/codecov-yaml#section-validate-your-repository-yaml">About Codecov yaml</a>
- <a href="https://docs.codecov.io/v4.3.0/docs/coverage-configuration">Coverage configuration</a>

See also : #133 and #151
This issue can also be referenced with #132

NOTE - Almost majo

[2017-04-16 01:28] isuruAb commented on #157
#162  fixes this issue 👍

[2017-04-20 04:59] daminisatya commented on #161
@harshit98  are you working on it?

[2017-04-20 15:45] harshit98 commented on #161
@daminisatya No, I'm not working on it. It would be great if you're interested to help. :smile:

[2017-04-21 02:07] harshit98 opened #165 "Update package.json for deployment"
I have found some minor issues, while deploying the 'angular' branch. For deploying purpose, there are some changes in `package.json` required. At present, it has not been configured for deploying purpose.

[2017-04-21 06:45] daminisatya commented on #161
@harshit98 Definitely. But first what do you intent to tell from this sentence?

```I was checking codecov.yml and found that it is invalid```

[2017-04-21 06:56] daminisatya opened #167 "More Info on "Terms""
Issue: Empty button with no action when clicked. Discussion required on what to add.

![image](https://cloud.githubusercontent.com/assets/6227784/25266126/aab72ee6-268d-11e7-942f-4435fc419435.png)

@sudheesh001 Please help with the content.

[2017-04-21 06:57] daminisatya opened #168 "Code clean up required to clear unwanted "Console logs""
Issue: Too many console log being reported for every search result.

![image](https://cloud.githubusercontent.com/assets/6227784/25266194/efa08106-268d-11e7-81ae-21188dd7ae93.png)

[2017-04-21 08:03] harshit98 commented on #161
@daminisatya I meant that it needs to be configured. It has not been configured properly at present. :sweat_smile:

[2017-04-21 08:21] mariobehling commented on #167
Please re-use the terms from http://loklak.net/terms and substitute "loklak" with Susper.

For the first line, please use:

"Thanks for using our products and services (“Services”). The Services are provided by the FOSSASIA community, mail address at 93 Mau Than, Can Tho City, Viet Nam."

[2017-04-21 08:42] mariobehling opened #169 "Remove Instant preview"
Instant preview is a nice idea, but it is difficult to get this feature reliable. Google also removed it as it was not much used. Please remove this feature as people might get the impression, that non-loading sites are an issue of the service.

[2017-04-21 08:43] mariobehling commented on #125
I think we lacked a good discussion about this. Google removed this feature as well. It is hard to get this working reliably. Please see the issue here https://github.com/fossasia/susper.com/issues/169 and remove this feature for now. Cheers.

[2017-04-21 09:33] harshit98 commented on #169
@mariobehling Okay, I'll work on this and remove the feature. :+1:

[2017-04-21 09:46] daminisatya opened #170 "When the search term is "Empty", the screen should hide "Previous" and "Next""
![image](https://cloud.githubusercontent.com/assets/6227784/25272174/8bd204c6-26a4-11e7-9ada-7766ce34e01e.png)

[2017-04-21 09:55] daminisatya opened #171 "When the search is cleared, the result listing is not cleared."
![image](https://cloud.githubusercontent.com/assets/6227784/25272486/ad410732-26a5-11e7-8e3b-552e78206db2.png)

[2017-04-21 15:37] sudheesh001 commented on #161
We have a truckload of issues. It'd be more helpful to take ownership of something and fix it. The core team is busy with the gsoc deadlines and finalizing the students.

@harshit98 thanks anyway for pointing it out, but please can you fix it? There are already too many notifications to deal with

[2017-04-21 15:46] sudheesh001 commented on #161
Also please tell what exactly is mis configured

[2017-04-22 15:13] #157 closed

[2017-04-22 16:39] isuruAb opened #174 "Connect contact buttons to contact page"
connect contact button to contact page

If we can open github and blog pages in new tab it will be helpful for keep our users in susper

[2017-04-22 17:30] isuruAb commented on #170
working on this

[2017-04-22 17:31] isuruAb commented on #168
working on this

[2017-04-22 20:09] isuruAb commented on #167
may i build the terms page ?

[2017-04-23 19:55] mariobehling commented on #174
Don't open links as new tabs. Please follow the design of http://loklak.net

[2017-04-26 07:03] #170 closed

[2017-04-26 07:12] #171 closed

[2017-04-26 07:13] #174 closed

[2017-04-26 07:13] #168 closed

[2017-04-26 07:19] mariobehling opened #179 "Rename angular branch to master"
The branch name angular is not according to best practices in the org. Please rename it to master.

Also change it in documentation.

[2017-04-26 07:23] #144 closed

[2017-04-26 07:24] mariobehling opened #180 "Match bottom bar design and functionality to loklak.net"
* match height
* match design in small screens
* delete menu functionality in small screens and follow loklaks approach
* match font size to 13px

[2017-04-26 07:32] mariobehling opened #181 "How can we get an info box on the right"
Duckduckgo and Google often show a sidebox with additional results mainly from Wikipedia. How can we get the same?

[2017-04-26 12:11] isuruAb commented on #181
In google they show the  wikipedia answer when they got wikipedia as the top result like this.
<img width="1185" alt="screen shot 2017-04-26 at 5 39 52 pm" src="https://cloud.githubusercontent.com/assets/7692626/25433830/7d9b2fc0-2aa7-11e7-9466-4c989b68016a.png">

They show ticker details when they got yahoo finance as the top most result. like this.
<img width="1133" alt="screen shot 2017-04-26 a

[2017-04-26 12:29] harshit98 commented on #181
@isuruAb @mariobehling This feature is also called as - <a href="https://en.wikipedia.org/wiki/Knowledge_Graph">Knowledge Graph</a>. It will require some back-end work on YaCy too. It works with semantic search.

[2017-04-26 13:52] isuruAb commented on #179
working on this

[2017-04-26 15:06] isuruAb commented on #165
@harshit98  did you solve this issue ?

[2017-04-26 15:29] #165 closed

[2017-04-26 19:28] nikhilrayaprolu commented on #132
@harshit98 can you please tell me what work is left on this issue, so that I could look into it.

[2017-04-26 19:33] harshit98 commented on #132
@nikhilrayaprolu The reports which are being generated should be passed through docker container. I have created a docker file and a shared folder where all the coverage reports will be stored. You can read the whole travis report <a href="https://travis-ci.org/fossasia/susper.com/builds/221944119">here</a>.

[2017-04-26 19:33] #169 closed

[2017-04-26 19:48] nikhilrayaprolu commented on #129
@harshit98 looks like a good choice, proceed with that  package.

[2017-04-26 19:58] nikhilrayaprolu commented on #161
@sudheesh001 I will try looking into it and fix it.

[2017-04-26 20:20] nikhilrayaprolu commented on #167
@isuruAb ok proceed to work on this.

[2017-04-26 20:29] nikhilrayaprolu commented on #121
I don't find these features in susper.com so reopening this issue.

[2017-04-26 20:30] nikhilrayaprolu commented on #179
I will look through this.

[2017-04-26 20:32] nikhilrayaprolu commented on #181
@Orbiter  Can you help us on how we could bring this feature to live.

[2017-04-26 20:34] nikhilrayaprolu commented on #132
ok sounds good.

[2017-04-27 10:48] Orbiter commented on #181
In case that the info is taken from the wikipedia, we can get structured data for wikipedia information from a dbpedia API:
https://github.com/dbpedia/lookup

for example: http://lookup.dbpedia.org/api/search/KeywordSearch?QueryClass=place&QueryString=berlin

We can try this API for the query string and if it returns any result, we render that at the right column.

[2017-04-28 02:53] mariobehling opened #182 "Ensure Logo and Search Bar are centered"
The start page shows a logo/bar that is not centered.

Expected: Elements should be centered.

[2017-04-28 02:59] mariobehling opened #183 "Add feature "Make Standard Search Engine" to Front page"
We already have a way to add susper as standard search engine to Firefox. Please implement the same for Chrome/Chromium.

![screenshot from 2017-04-28 04-56-22](https://cloud.githubusercontent.com/assets/1583873/25512622/6dbb5f0c-2bcf-11e7-8e90-38d5f2b00ab1.png)

[2017-04-28 03:11] mariobehling opened #184 "Match Search site closer to market leader"
Let's work a bit on the side design.

* The logo width on the top of the page is slightly wider than at Google resulting in a larger empty left bar. Please match the logo width and decrease the side to match Google.
* The height of the gray top bar is bigger. Please make it smaller. Simply follow Google.
* The active submenu e.g. All, Images, Videos should be bold

![screenshot from 2017-04-28 05-

[2017-04-28 03:18] mariobehling opened #185 "Make results more compact and match them with market leader"
Our current display of results looks as follows:
![screenshot from 2017-04-28 05-09-29](https://cloud.githubusercontent.com/assets/1583873/25512896/61c6ebf6-2bd1-11e7-803c-173ffbec5fac.png)

Please make it more compact and change as follows to match market leader:
* Use same font, color and font size
  * title
  * green link
  * description
* Reduce height after lines and match line spacing
* Move

[2017-04-28 03:29] mariobehling opened #186 "Top bar does not scroll up - avoid page separation"
The top bar stays there when the user scrolls up. Please avoid internal frames. Unify top bar and rest of page. Follow Google, Duckduckgo and others. Keep it simple.

![screenshot from 2017-04-28 05-27-11](https://cloud.githubusercontent.com/assets/1583873/25513189/994f9738-2bd3-11e7-9243-c1180a5f922c.png)

[2017-04-28 03:31] mariobehling opened #187 "Bottom bar missing on search pages"
The bottom bar does not show up on search pages.

![screenshot from 2017-04-28 05-30-35](https://cloud.githubusercontent.com/assets/1583873/25513213/e7abe6d4-2bd3-11e7-9a33-fcd5bc502be3.png)

[2017-04-28 03:33] mariobehling opened #188 "Add bottom bar "related searches""
Google shows related searches on the bottom of the page. Please implement the same using Yacy.

![screenshot from 2017-04-28 05-32-05](https://cloud.githubusercontent.com/assets/1583873/25513249/32ada62c-2bd4-11e7-9261-125c046da9a8.png)

@Orbiter Which API is required for that?

[2017-04-28 03:35] mariobehling opened #189 "Match color and font of info about search results"
Let's keep it simple and limit the number of colors. Please use the same colors/font as Google for info about number of search search results.

![screenshot from 2017-04-28 05-34-40](https://cloud.githubusercontent.com/assets/1583873/25513308/8916fda6-2bd4-11e7-93b5-1746b73ff6c4.png)

[2017-04-28 03:37] mariobehling opened #190 "Reduce the size of menu icons to half"
Icons are too big. Please reduce them to half the size.
![screenshot from 2017-04-28 05-36-38](https://cloud.githubusercontent.com/assets/1583873/25513356/d0af96dc-2bd4-11e7-8abe-8dc6368a2c27.png)

[2017-04-28 03:52] mariobehling commented on #179
@nikhilrayaprolu Thanks. Let's proceed.

[2017-04-29 07:38] nikhilrayaprolu commented on #179
@mariobehling I have created a branch 'master', but I think we have to rename the branch 'angular' to 'development' instead of master, since all checks will be done on development branch rather than on a master branch.

[2017-04-29 07:59] harshit98 commented on #183
I would like to work on this feature. :+1:

[2017-04-29 08:59] harshit98 commented on #183
@nikhilrayaprolu How you have implemented the feature for Firefox?

[2017-04-29 11:45] mariobehling commented on #179
At the beginning of projects master is sufficient. We will add dev branch later.

Please fix documentation and help to get this project back on track. Lots of changes where not necessary recently, e.g. the splitting of the top bar and an unnecessary page preview.

If we want to make a simple and quick Open Source alternative to Google, Bing, Duckduckgo we need to follow market leaders first before

[2017-04-29 11:47] mariobehling commented on #179
And I don't have a clue why our master branch was named to angular in the first place and who did it. We are spending times on things that are not necessary. Please help to fix the split search result page as well and get all items on the page, that help users. Thanks.

[2017-04-29 14:12] nikhilrayaprolu commented on #132
@harshit98 are you able to produce the code coverage reports atleast in html or on command line?

[2017-04-29 17:38] harshit98 commented on #132
@nikhilrayaprolu I have not tried this method. I was not knowing about it. :sweat_smile:

[2017-05-01 14:41] mariobehling opened #195 "Fix dialog to install susper.com as standard search"
![screenshot from 2017-05-01 16-39-58](https://cloud.githubusercontent.com/assets/1583873/25582321/ea48e552-2e8c-11e7-9fe3-e99c8828fe6b.png)

Instead of dialog "Make this the current search engine." use "Make Susper the standard search engine."

[2017-05-01 14:43] mariobehling opened #196 "Do not show "add search engine" if susper is already added as search engine"
If Susper is already the search engine the dialog to install susper is still appearing on the front page. Expected: Only show "add search engine" if Susper is not yet installed in browser.

[2017-05-01 14:51] mariobehling opened #197 "Search Page: Tools are showing off-screen"
Tools are showing off-screen.

Expected: Please compare to market leader and keep them in correct position.

![screenshot from 2017-05-01 16-48-24](https://cloud.githubusercontent.com/assets/1583873/25582573/4ab4bdde-2e8e-11e7-8ce5-de2a28f0b694.png)

[2017-05-01 15:39] harshit98 commented on #121
@nikhilrayaprolu I have added the configuration files for autocomplete feature but feature has not been implemented yet. I was not able to figure it, how should it work because it may clash with `index.ts` file in which `auto-search feature` has been implemented.

[2017-05-01 15:52] harshit98 commented on #197
@mariobehling Tools is working fine.

![screenshot from 2017-05-01 21-20-40](https://cloud.githubusercontent.com/assets/22245418/25584565/31f0770e-2eb4-11e7-892c-0c7812a9229b.png)

[2017-05-01 18:55] harshit98 commented on #143
We can close this issue, it has been fixed.

[2017-05-01 19:31] isuruAb commented on #197
@harshit98  It has that issue check susper.com

[2017-05-01 19:33] isuruAb commented on #187
working on this

[2017-05-01 19:34] harshit98 commented on #197
@isuruAb Yes it is there. :+1:

[2017-05-01 19:37] harshit98 commented on #195
@mariobehling I think it's a browser related issue. We can't do anything in this. It is being automatically generated by the browser.

[2017-05-02 06:21] isuruAb commented on #197
@harshit98  are you working on this?

[2017-05-02 06:22] isuruAb commented on #179
@mariobehling  this issue should be closed

[2017-05-02 06:29] #179 closed

[2017-05-02 06:30] #189 closed

[2017-05-02 06:37] mariobehling opened #203 "Search Word missing when Refreshing Search Page"
The search word is missing when the user refreshes a search page.

Expected: Search word should still be there.

![screenshot from 2017-05-02 08-35-45](https://cloud.githubusercontent.com/assets/1583873/25606589/887d36da-2f12-11e7-9812-bbfa62698871.png)

[2017-05-02 06:52] mariobehling opened #204 "Links to About Page not to top of Page"
Opening About Page does not open to top of page.

[2017-05-02 06:58] mariobehling commented on #167
@isuruAb Please match the location of the logo and the distance to left ride side same as loklak.net.

[2017-05-02 06:59] mariobehling commented on #167
Also avoid reloading the whole service. Page loads very slowly. Please compare to loklak as well.

[2017-05-02 07:33] mariobehling opened #205 "Improve top menu on pages and add links"
Please match the design of pages like http://susper.com/about to http://loklak.net/about and:
* add top menu links (Home, About, Contact) to the following pages: Terms, About, Contact
* Align logo and text on these pages same as loklak.net
* Ensure you keep same distance to left and right as loklak.net

[2017-05-02 08:11] harshit98 commented on #181
@Orbiter I'll go through the dbpedia API and try to implement the feature. It looks great!

[2017-05-03 19:02] harshit98 opened #206 "Footer-navbar should be shown below while web search query."
At present, while performing a web search query the footer navbar should be at bottom of the page just like loklak-search.

![screenshot from 2017-05-04 00-27-56](https://cloud.githubusercontent.com/assets/22245418/25676763/e0e1535c-3060-11e7-8c95-8b159111b52a.png)

comparison with loklak search -

![screenshot from 2017-05-04 00-28-18](https://cloud.githubusercontent.com/assets/22245418/25676766/

[2017-05-03 19:15] harshit98 opened #207 "Under 'images' section, pagination bar is not appearing."
Due to some recent fix of issue regarding the footer-navbar, in the images section pagination bar is not appearing.

![selection_004](https://cloud.githubusercontent.com/assets/22245418/25677148/7c2934dc-3062-11e7-9d46-9f97fa85a077.png)

It appears somewhere in the middle of the images -

![selection_005](https://cloud.githubusercontent.com/assets/22245418/25677241/d386870c-3062-11e7-983f-5370f634

[2017-05-04 18:59] isuruAb commented on #207
working on this

[2017-05-05 05:08] harshit98 commented on #124
Wokring on this issue. :+1:

[2017-05-05 09:45] mariobehling commented on #124
How much is Google following its Material guidelines on its own services? Is the Google Search service using material? Will this allow us themability? That would be great.

[2017-05-05 10:03] nikhilrayaprolu commented on #124
does themability mean giving user the choice of extensions to the themes?
secondly, there are a lot of things that need to be done in the functionality susper.So it's better we concentrate on functionality first and then focus on converting the themes in the last milestones?

[2017-05-05 10:48] Marauderer97 commented on #204
@mariobehling I am trying to replicate the bug on Google Chrome, but cannot seem to. Clicking on About Page opens to the top of the page. Mozilla Firefox does not cause this error either.

[2017-05-05 13:16] harshit98 commented on #207
@isuruAb Your status? Have you started working on this?

[2017-05-05 16:25] Marauderer97 commented on #180
![image](https://cloud.githubusercontent.com/assets/20185076/25754579/68698952-31dd-11e7-820f-3c95e9e25028.png)
@mariobehling Is this satisfactory. I had to do away with all the bootstrap classes and take the exact specifications from loklak's source code, to get the same design though..

[2017-05-05 16:41] nikhilrayaprolu commented on #206
Okay, I am working on this.

[2017-05-05 16:58] nikhilrayaprolu commented on #204
@Marauderer97  you can replicate it by
1. scroll to some length on search page(until you find  link), now open that link)
2.you will find you at the bottom of the about page.
this is one disadvantage we have with SPAs:-(http://adamsilver.io/articles/the-disadvantages-of-single-page-applications/)
since browser remembers your scroll position,  it assumes you are o the same page, puts you there even

[2017-05-05 16:59] nikhilrayaprolu commented on #197
any update upon this?

[2017-05-05 17:00] harshit98 commented on #205
I would like to work on this issue. :+1:

[2017-05-05 17:02] nikhilrayaprolu commented on #195
@mariobehling  yes, ItsI have checked with the susper.xml for instructing the browser, we don't have an option to edit It's directly generated by the browser.

[2017-05-05 17:05] harshit98 commented on #197
@nikhilrayaprolu No work has been started on it.

[2017-05-05 17:08] nikhilrayaprolu commented on #188
@Orbiter  any suggestions for the API we could use or can this feature be added in backend if possible?

[2017-05-05 17:09] #186 closed

[2017-05-05 17:21] nikhilrayaprolu commented on #182
![image](https://cloud.githubusercontent.com/assets/15216503/25756675/4326a992-31e5-11e7-91be-3f41ae00750c.png)

looks like this problem exists on different screen sizes, may be a problem with responsive design.

[2017-05-05 17:27] nikhilrayaprolu commented on #181
@Orbiter  but that's not the case we need. Google renders the information from various sources.It renders flight details from travel agency websites, It renders movie results from movie review sites and many more. this looks like a good NLP, ML stuff we could add as an extension into Yacy and could be a good interesting project under FOSSASIA.

[2017-05-05 17:30] nikhilrayaprolu commented on #180
@Marauderer97 make a pull and discuss regarding your changes there. It gives everyone a choice to review your changes. :smile:

[2017-05-05 17:33] nikhilrayaprolu opened #209 "donot reload whole page"
when terms button is clicked the whole page gets reloaded, which is a bad design and doesn't follow guidelines of SPA.

[2017-05-05 17:36] nikhilrayaprolu commented on #143
closing this issue as it is already solved at https://github.com/fossasia/susper.com/pull/156

[2017-05-05 17:47] #143 closed

[2017-05-05 18:31] nikhilrayaprolu commented on #114
@harshit98 you worked on this right? what happened why have you closed the pull?

[2017-05-05 18:36] nikhilrayaprolu commented on #135
duplicate issue #188.

[2017-05-05 18:36] #135 closed

[2017-05-05 18:37] nikhilrayaprolu commented on #137
@Orbiter  any suggestion upon this?

[2017-05-05 18:37] nikhilrayaprolu commented on #130
@Orbiter  any suggestion on this?

[2017-05-05 19:28] harshit98 commented on #114
I don't know, I did the work but it was not working, like it was not loading the whole videos section.

[2017-05-05 20:28] harshit98 commented on #3
@nikhilrayaprolu Tests has to be re-written. Right now, to pass tests we are like adding each and every module in every `.spec.ts` file. This should not be happening.

[2017-05-06 04:30] Marauderer97 commented on #209
@nikhilrayaprolu One point though..This however does solve the scroll problem in issue #204 , since it takes us to the start of the page, and no additional script is being run to do this. So do we prevent reloading and run an additional script to fix the scroll position, or do we simply allow reloading?

[2017-05-06 04:32] Marauderer97 commented on #182
Yes, perhaps using percentages instead of pixels while positioning will solve this.

[2017-05-06 06:17] Marauderer97 opened #212 "Clicking on Terms of Service redirects to home page"
Clicking on the Terms of Service link redirects to home page. This needs to be looked into.
![image](https://cloud.githubusercontent.com/assets/20185076/25770386/9dad391e-3251-11e7-85bc-f01b17fcc80a.png)

[2017-05-06 06:46] nikhilrayaprolu commented on #3
we don't need to add each and every module in every spec file. just the dependencies of the tests will be imported.

[2017-05-06 06:51] nikhilrayaprolu commented on #209
One of the main advantages of SPAs is it doesn't make calls for repeated data.very nice feature nah!!. But what if we don't use this feature?? you will be retrieving the whole angular library in each call (which will use up a lot data, whether it is server-side or client-side). so better run an additional script.

[2017-05-06 07:28] harshit98 opened #214 "Search bar and default box overlaps each other."
Here is the screenshot of it -

![a5db9208-3246-11e7-8088-d9717301493b](https://cloud.githubusercontent.com/assets/22245418/25770755/a1fc4938-325b-11e7-8062-0b8722b77a08.png)

[2017-05-06 09:12] harshit98 commented on #203
Working on this! :+1:

[2017-05-06 11:50] nikhilrayaprolu commented on #114
@Orbiter this is the data of an individual item we are receiving from the server-side the video results ```

"pubDate":"Thu, 25 Aug 2016 00:00:00 +0000",
"size":"0",
"sizename":"0 byte",
"guid":"FcEjpkJYShOx",
"link":"https://thepiratebay.org/torrent/5033425/Fringe.S01E18.FRENCH.LD.HDTV.XviD-JMT.avi",
"file":"Fringe.S01E18.FRENCH.LD.HDTV.XviD-JMT.avi",
"host":"thepiratebay.org",
"protocol":"https"

[2017-05-06 14:17] #180 closed

[2017-05-06 14:23] #190 closed

[2017-05-06 14:27] mariobehling commented on #187
I made a mistake here. I should not have merged this. This is not the intended way. The bottom bar should show up on the bottom of pages. Please compare to other search engines. Keep the bar itself on the page, please.

[2017-05-06 14:30] mariobehling commented on #206
There is a line in the middle of the bar after the last commit. Please take out any lines and ensure you match the height to the market leader (Google).

[2017-05-06 15:12] Marauderer97 commented on #197
@nikhilrayaprolu @harshit98 Shall I go ahead and fix this? Or has someone started work?

[2017-05-06 15:18] nikhilrayaprolu commented on #197
Ok go ahead @Marauderer97

[2017-05-06 15:19] Marauderer97 commented on #206
@nikhilrayaprolu Also please check the position of the bar on the index page.

[2017-05-06 15:54] harshit98 commented on #197
@Marauderer97 Yes, you can start with it.

[2017-05-06 16:18] nikhilrayaprolu commented on #206
that was due to a recent pull you made with the design changes which caused the issue. I have reverted them back, review the pull :smile:

[2017-05-06 18:03] harshit98 commented on #121
@Orbiter @nikhilrayaprolu I need some guidance here to implement autocomplete feature. : )

[2017-05-06 18:25] harshit98 commented on #209
This issue has been solved. :+1:

[2017-05-06 19:01] harshit98 commented on #185
I would like to work on this. :+1:

[2017-05-06 21:45] harshit98 commented on #142
Working on this issue! :+1:

[2017-05-07 04:14] #209 closed

[2017-05-07 06:08] nikhilrayaprolu opened #226 "ng lint not working in travis"
found that many errors are creeping in, since ng test related settings are not set.

[2017-05-07 06:25] #204 closed

[2017-05-07 06:27] #142 closed

[2017-05-07 07:08] harshit98 commented on #15
@nikhilrayaprolu close this too. : )

[2017-05-07 07:27] #15 closed

[2017-05-07 07:27] #37 closed

[2017-05-07 09:41] #203 closed

[2017-05-07 09:42] #197 closed

[2017-05-07 13:23] harshit98 commented on #184
Working on this :+1:

[2017-05-07 13:24] harshit98 commented on #182
Has someone started working on this issue?

[2017-05-07 13:39] harshit98 commented on #138
@Marauderer97 I didn't found any issue regarding this while running susper on mobile.

[2017-05-07 17:46] harshit98 opened #231 "Add Heroku deployment"
For multiple live previews for multiple pull requests, setup Heroku deployment from Heroku dashboard. Add `app.json` file to configure susper repo with heroku.

[2017-05-07 18:24] mariobehling opened #232 "Match the design and functionality of the top bar of market leader"
* match design and height
* match size and position of logo
* match size and position of search bar
* match secondary menu
* match all other elements

![screenshot from 2017-05-07 20-22-51](https://cloud.githubusercontent.com/assets/1583873/25783841/2a72a304-3363-11e7-9f3e-d614c526ad4d.png)

[2017-05-08 03:38] Marauderer97 commented on #232
Working on this :+1:

[2017-05-08 03:38] Marauderer97 commented on #182
I will work on this :+1:

[2017-05-08 05:34] Marauderer97 commented on #184
@harshit98 Can I know your progress? I am working on #232 which is very similar to this issue, and will cause us to over ride each other's work, let us coordinate to avoid that?

[2017-05-08 06:28] harshit98 commented on #184
@Marauderer97 Yes, I was thinking the same. Both are similar. You can proceed, I'll pick up another issue. :smile:

[2017-05-08 06:35] #231 closed

[2017-05-08 07:45] harshit98 commented on #147
I'm working on this again, and will make a PR today itself related to this issue. Previously, had some issues regarding to it so I closed the PR.

[2017-05-08 07:57] #226 closed

[2017-05-08 10:07] #212 closed

[2017-05-08 10:37] #187 closed

[2017-05-08 14:35] #207 closed

[2017-05-08 15:57] #167 closed

[2017-05-08 16:01] harshit98 commented on #214
@Marauderer97 I think this issue has been solved in the another pull request. Am I right? :smile:

[2017-05-08 17:47] #184 closed

[2017-05-08 17:51] #116 closed

[2017-05-08 19:41] mariobehling commented on #147
I don't see a lightbox. Where does Google do this? The lightbox implementation could result in policy issues as we are not showing the source. These kind of topics are very specific and I would really prefer if we could follow the Google functionality more tightly as we could say we follow them. They don't have issues, so we should not.

When I click on an image in Google image search I see the fo

[2017-05-08 19:56] isuruAb commented on #147
@mariobehling  actually as i understood @harshit98  also telling the same thing. "Lightbox" is not the matching word here.It should be the "image viewer"

[2017-05-08 20:34] harshit98 commented on #147
@mariobehling my mistake. I'm working on this again, will make it similar to google. :+1:

[2017-05-08 20:47] isuruAb opened #238 "Top search bar is not align correctly"
<img width="1265" alt="screen shot 2017-05-09 at 2 13 22 am" src="https://cloud.githubusercontent.com/assets/7692626/25824549/743b9748-345d-11e7-8407-33fe70efe947.png">

[2017-05-08 20:57] mariobehling commented on #205
Top menu links on right still missing on contact and terms page.

[2017-05-08 21:00] mariobehling commented on #182
Issue still not solved.

[2017-05-08 21:09] harshit98 commented on #205
@mariobehling ok. Working on it. :+1:

[2017-05-09 06:11] Marauderer97 commented on #214
@harshit98 are you sure? I still the problem persists on small screen sizes?

[2017-05-09 06:22] nikhilrayaprolu commented on #238
@marauderer97 https://github.com/fossasia/susper.com/pull/235/files#diff-a029fe59e560678ccc03d8e94ee22e4eR46 this line might be a cause to the error. Can you please look at it.

[2017-05-09 06:38] isuruAb opened #239 "z-index should be changed in footer navigation bar on home page"
<img width="1280" alt="screen shot 2017-05-09 at 12 02 52 pm" src="https://cloud.githubusercontent.com/assets/7692626/25838322/2a5ce5b6-34b0-11e7-961e-3efd67da1517.png">

[2017-05-09 06:53] harshit98 commented on #214
@Marauderer97 I commented on this issue before you open PR #236 . Looks like it is not solved yet.

[2017-05-09 08:46] #183 closed

[2017-05-09 09:50] harshit98 commented on #239
Working on this. :+1:

[2017-05-09 09:59] harshit98 commented on #238
Anyone working on this ?

[2017-05-09 11:05] Marauderer97 commented on #238
@harshit98 I am on this @nikhilrayaprolu I am pretty sure that is not the problem, since in the screenshots attached for that pr the bar was fine locally . Looking into it

[2017-05-09 11:08] Marauderer97 commented on #232
@mariobehling Would you prefer having the menus and submenus match google exactly? In that case, we will have a lot of dead links, say for News, or Settings, Shopping and so on. @nikhilrayaprolu @harshit98 @isuruAb What do you think?

[2017-05-09 11:13] harshit98 commented on #232
@Marauderer97 I think we should focus on the features and current issue. There is no need to add news, settings, shopping and so on. Currently, we have a 'All', 'Images' and 'Videos' section. We should keep working with them only. :+1: :smile:

[2017-05-09 11:14] Marauderer97 commented on #238
@harshit98 @nikhilrayaprolu I found the mistake, if the input bar loads before the susper icon is loaded, it assumes the padding% is from the margin, and hence it appears in the line below, if the susper icon has already loaded, then it loads in its correct position. Since the icon generally takes longer to load, we face this problem. Any suggestions on correcting it?

[2017-05-09 11:29] Marauderer97 commented on #239
@harshit98 Please find another way of fixing this, and also provide a test link

[2017-05-09 11:30] harshit98 commented on #239
@Marauderer97 Okay, working on this. It will be deployed when I'll open a PR.

[2017-05-09 12:01] Marauderer97 commented on #214
@harshit98 I will work on this

[2017-05-09 14:33] #238 closed

[2017-05-09 14:46] harshit98 opened #244 "Fix the footer-navbar for the results section."
Whenever the results are less in number, the footer moves away from its position and leaves the space at bottom of the page. Here is the screenshot of the following bug, which seems to happen under videos section -

![selection_012](https://cloud.githubusercontent.com/assets/22245418/25856638/3bb14052-34f4-11e7-807e-012396fdb019.png)

[2017-05-09 16:31] mariobehling commented on #182
See below.

![screenshot from 2017-05-09 18-30-21](https://cloud.githubusercontent.com/assets/1583873/25861669/b3a048f6-34e5-11e7-885f-8dcaa5a47b79.png)

[2017-05-09 21:16] harshit98 commented on #138
**UPDATE**  : Currently at present it looks like this -

![selection_019](https://cloud.githubusercontent.com/assets/22245418/25873114/cdf6b25e-352a-11e7-8b41-60186958f1a9.png)

[2017-05-10 06:43] #239 closed

[2017-05-10 06:44] #214 closed

[2017-05-10 07:05] mariobehling opened #249 "Make top menu responsive for mobile views"
Implement style similar to loklak on relevant pages.

![selection_025](https://cloud.githubusercontent.com/assets/22245418/25886507/7c7abb4a-357b-11e7-9d85-21b287797709.png)

[2017-05-10 07:07] #205 closed

[2017-05-10 08:47] mariobehling opened #250 "Codecov unknown"
Please fix Codecov display on Readme.md

[2017-05-10 09:33] nikhilrayaprolu commented on #195
closing this issue since this is practically not possible to change a browser generated lines.

[2017-05-10 09:33] #195 closed

[2017-05-10 10:48] nikhilrayaprolu commented on #127
@Orbiter @mariobehling @reger24 @luccioman I have tried calling the Yacy using regex commands, as suggested here http://www.openjems.com/solr-regex-tutorial/
one of those include http://yacy.searchlab.eu/solr/select?q=/.*201[1-5].*/&wt=yjson&callback=__ng_jsonp__.__req0.finished which returned me 463 results.
other one includes
http://yacy.searchlab.eu/solr/select?q=/.*201[1-2].*/&wt=yjson&callbac

[2017-05-10 11:11] nikhilrayaprolu commented on #121
@harshit98 are you able to get suggestions from yacy on http://yacy.searchlab.eu/suggest.json?q=how
I get an empty array on that call

[2017-05-10 11:15] harshit98 commented on #121
@nikhilrayaprolu No I'm not able to get suggestions from yacy.

[2017-05-10 11:41] #182 closed

[2017-05-10 11:42] nikhilrayaprolu opened #251 "add features similar to google's refine web search"
https://support.google.com/websearch/answer/2466433?visit_id=1-636300131913841284-582312025&p=adv_operators&hl=en&rd=1

![image](https://cloud.githubusercontent.com/assets/15216503/25896961/c4ef8b30-35a3-11e7-9764-2af968675e5b.png)

we can have features similar to google's refine websearch.

[2017-05-10 12:00] Marauderer97 opened #252 "Images in Susper not clickable"
![image](https://cloud.githubusercontent.com/assets/20185076/25897593/28db78e6-35a6-11e7-9fbb-7016b4df52ca.png)
Clicking on an image in Google, opens the image link, but in susper, we can only view the images and not click on them.

[2017-05-10 13:02] mariobehling commented on #252
I know there are different Google Search versions deployed in different countries, but usually I see first an expansion and then when I click the image open in a new tab.

So before the complete idea gets implemented, I suggest that you start with that feature and implement opening in a new tab.

See screenshot below.
![screenshot from 2017-05-10 15-01-23](https://cloud.githubusercontent.com/asset

[2017-05-10 13:06] Marauderer97 opened #254 "Pagination bar of images not working on refresh"
Pagination bar in images not working as expected.
Here the pagination bar for images shows 10 pages,
![image](https://cloud.githubusercontent.com/assets/20185076/25899946/6164a170-35af-11e7-885f-4378a9cd16b0.png)

Clicking on any page (say the third), takes the site to all documents, and does not display images any more
![image](https://cloud.githubusercontent.com/assets/20185076/25899999/8de709f4

[2017-05-10 14:21] mariobehling commented on #124
no extensions, just other themes. We can do this later.

[2017-05-10 14:37] mariobehling opened #256 "Results of actual search term are not shown, temporary results persist"
When a user types search, there is a search performed while typing. The search results that are often shown do not always reflect the final search term, they show a result that appeared while the user was typing it in.

Expected: Please make this feature closer to Google. There is a dropdown auto-completion. Enhance the way the outcome is displayed to match that of Google.

![screenshot from 2017-

[2017-05-10 15:14] harshit98 opened #257 "Match the position of 'Tools' following the market leader"
Susper -
![selection_032](https://cloud.githubusercontent.com/assets/22245418/25906053/4a64e50e-35c1-11e7-9ad2-3d433bad8028.png)
Google -
![selection_033](https://cloud.githubusercontent.com/assets/22245418/25906086/5ab39af4-35c1-11e7-832d-de24ed12112b.png)

I'm working on this issue. :+1:

[2017-05-10 15:39] #252 closed

[2017-05-10 16:03] Marauderer97 opened #258 "Search bar overlaps logo at certain sizes"
The search bar and logo overlap need to be prevented, at certain screen sizes as shown
![image](https://cloud.githubusercontent.com/assets/20185076/25908592/31f13a48-35c8-11e7-815b-65c7c2872cbc.png)

[2017-05-10 16:41] daminisatya commented on #258
What screen size did you observe this?

[2017-05-10 16:43] Marauderer97 opened #260 "Top bar leaves white space on the top"
The top bar, does not stick to the top at all sizes. As seen in the screenshot there is white space on the top.
It needs to be made responsive to all sizes.
![image](https://cloud.githubusercontent.com/assets/20185076/25910371/c06a2762-35cd-11e7-91f7-b527b5c2a6c1.png)

[2017-05-10 17:01] harshit98 opened #261 "Align the rendered images under 'images section' following the market leader"
Image search in susper -

![selection_036](https://cloud.githubusercontent.com/assets/22245418/25911061/1f8b5c82-35d0-11e7-93ff-8fb6ec212618.png)

Image search in Google -

![selection_037](https://cloud.githubusercontent.com/assets/22245418/25911079/2d02c224-35d0-11e7-89fb-90553cd034e4.png)

[2017-05-10 17:15] harshit98 commented on #258
@daminisatya This issue is with screen size `900x600`

[2017-05-10 17:31] Marauderer97 commented on #261
@harshit98 Are you working on this? Have you already made some progress considering you have been working on #147 for the past few days?

[2017-05-10 18:22] harshit98 commented on #261
@Marauderer97 I'm working on this. :+1:

[2017-05-10 20:23] harshit98 commented on #254
@Marauderer97 Pagination bar of images is working fine.

Page 1

![selection_016](https://cloud.githubusercontent.com/assets/22245418/25919353/20cc57ce-35ec-11e7-80e9-d65bd476b68e.png)

Page 2

![selection_015](https://cloud.githubusercontent.com/assets/22245418/25919360/2b037a24-35ec-11e7-8d85-7e4b38681b2b.png)

**Page 3** shows empty. It is maybe because of broken image links, they are not loade

[2017-05-10 20:52] harshit98 commented on #249
@Marauderer97 Are you working on this?

[2017-05-10 23:04] harshit98 commented on #244
Please reopen this issue. Due to recent merge of #255 , this problem is again occurring.

[2017-05-10 23:09] harshit98 commented on #114
@nikhilrayaprolu I tried again to remove `gif` format but it is still not working.

[2017-05-10 23:41] harshit98 commented on #121
@nikhilrayaprolu http://yacy.searchlab.eu/suggest.json?q=how
The query is now returning suggestions.

![image](https://cloud.githubusercontent.com/assets/22245418/25925731/1ece63e2-3608-11e7-8ce1-466224b5d2d2.png)

[2017-05-11 05:17] nikhilrayaprolu commented on #244
The position attributes should be independent of the child component I inherit, they should depend only on parent component. when I use the same component in other parent components, I should not have any internal css factors of the child component affecting the position in the parent component, there should be independency to apply my own css  in each parent component I inherit this. so where eve

[2017-05-11 05:21] nikhilrayaprolu commented on #244
I am reopening this issue but implement CSS for external behaviour outside the child component (here fixing for "results" section, so make it fixed in "results component" but not in child component.

[2017-05-11 05:23] nikhilrayaprolu commented on #114
the problem is with having some thumbnail images, where we don't know how to query the server for thumbnails for videos.

[2017-05-11 05:25] nikhilrayaprolu commented on #121
good to know this @harshit98 now we could implement suggestions.

[2017-05-11 07:55] nikhilrayaprolu commented on #121
@Orbiter I don't find suggest.json a good point to use for suggestion. most of the suggestions aren't perfectly working. Can you suggest us some other way possible?

[2017-05-11 08:04] #258 closed

[2017-05-11 08:06] mariobehling commented on #128
@nikhilrayaprolu We can come back to features like that once the basics of the services are running. Right now there are too many small things not working.

[2017-05-11 08:16] #146 closed

[2017-05-11 08:17] mariobehling commented on #130
We would need to maintain our own Yacy-Grid instance. As this system is still under heavy development this feature needs to be postponed.

[2017-05-11 09:58] Marauderer97 commented on #249
@harshit98 Yes I am

[2017-05-11 11:42] Orbiter commented on #121
that suggest api is all we have right now, if you find a better solution, go for it

[2017-05-11 11:43] Orbiter commented on #130
yes

[2017-05-11 11:44] Orbiter commented on #127
I don't see that this should be actually a requirement. Google also does not provide regex search. It's much more complex than you think, I do not recommend it.

[2017-05-11 12:05] harshit98 opened #267 "Images section rendering .gif files"
After the recent fix of alignment of images, I have found `gif` files are also being loaded. This should not be happening.

[2017-05-11 12:11] harshit98 opened #268 "Render images covering up the empty spaces, following the market leader."
Current condition of Susper after fix of alignment of images :

![selection_023](https://cloud.githubusercontent.com/assets/22245418/25948308/82084500-3670-11e7-8136-b0bd50018243.png)
 Rendered images should fill up the white spaces on left and right side as shown in screenshot. Follow the market leader design.

This is how Google looks :

![selection_024](https://cloud.githubusercontent.com/asset

[2017-05-11 12:31] #260 closed

[2017-05-11 12:42] nikhilrayaprolu commented on #267
I think google displays gifs along with images, but displays gifs statically unless you press them to open them in image viewer.

[2017-05-11 12:44] harshit98 commented on #267
@nikhilrayaprolu Yes, you're right.

[2017-05-11 14:24] nikhilrayaprolu commented on #268
there is no fixed rule such on google.it depends on image sizes
![image](https://cloud.githubusercontent.com/assets/15216503/25954324/900542da-3683-11e7-8703-3f757582b973.png)

[2017-05-11 14:35] nikhilrayaprolu opened #269 "Discuss themability implementation in susper"
On gitter, we had a discussion on implementation of themability. thereby we could give users an option to choose a theme from.
So whatever discussion regarding it, let us have it here.
- how we could implement themability?
- which themes shall we implement?
- does google has themability?If so what themes is it using?

[2017-05-11 14:37] harshit98 commented on #268
@nikhilrayaprolu But, what I'm trying to say is to cover up the empty spaces. : )

[2017-05-11 14:40] nikhilrayaprolu commented on #206
issue is solved in #229

[2017-05-11 14:40] #206 closed

[2017-05-11 14:45] nikhilrayaprolu commented on #256
working on this issue

[2017-05-11 14:47] nikhilrayaprolu commented on #268
change the title it is confusing others.

[2017-05-11 14:56] nikhilrayaprolu opened #270 "implement search settings similar to google"
![image](https://cloud.githubusercontent.com/assets/15216503/25955927/184b3a7e-3688-11e7-8222-7435fb80838c.png)

we could increase the number of results and also restrict our instant view of results.

[2017-05-11 20:48] Marauderer97 opened #272 "Make About, Contact and Terms Page Responsive"
Loklak has a very responsive design, for all screen sizes, for About, Contact and Terms page.
![image](https://cloud.githubusercontent.com/assets/20185076/25971191/01c27656-36b9-11e7-86a2-368da3d1cb39.png)
![image](https://cloud.githubusercontent.com/assets/20185076/25971229/1fc22da4-36b9-11e7-92b8-2f7ff598a8e8.png)
![image](https://cloud.githubusercontent.com/assets/20185076/25971236/2c24fafe-36b

[2017-05-12 00:40] #256 closed

[2017-05-12 01:35] reger24 commented on #127
That YaCy exposes the internal solr index is just a feature but in my view .... the solr interface is no fundamental part of YaCy search UI and solr direct search are just not forbidden/protected. I don't see that we make any Solr special features avail. if not needed internally.

[2017-05-12 06:55] #249 closed

[2017-05-12 09:57] Marauderer97 commented on #269
@nikhilrayaprolu This seems like a very exciting feature. A few points,

- Many websites implement themes in the form of colors alone, changing the core color of the website (for example currently Susper's is blue, loklak's is pink)

- I have been looking at how Google does this, well it does not simply implement different colors, it implements an entire theme, say sunset or iceberg [Check this li

[2017-05-12 10:13] harshit98 commented on #269
Some few points from my side :

- Well the idea is great! Let's keep it a bit simple. We can also implement the themes in the form of colors alone like Dark theme and Light theme.

- Check https://duckduckgo.com/ . They have kept it so simple by allowing users to choose between Dark theme and Light theme providing different fonts.

[2017-05-12 10:28] Marauderer97 commented on #254
@harshit98 I agree, the bar works fine initially. Now try refreshing the page and view the results.
Before refreshing:
![image](https://cloud.githubusercontent.com/assets/20185076/25994491/a755617e-372b-11e7-8937-ccf2b6400f1e.png)
![image](https://cloud.githubusercontent.com/assets/20185076/25994496/af927458-372b-11e7-902e-41b9188c2128.png)

After refreshing:
![image](https://cloud.githubuserconte

[2017-05-12 14:23] #268 closed

[2017-05-12 15:12] nikhilrayaprolu commented on #269
@mariobehling what do  you expect from us? a complete image based themes google gives in chrome (or) a simple white/dark theme as in duckduckgo?
According to me, I think it's better to build a framework that supports all features and then extend it with the addition of new themes.

[2017-05-12 17:30] harshit98 opened #277 "Images with broken links are being loaded"
There are some images which are being loaded from server due to which a lot of white space remains (it is shown in red-box).

![selection_025](https://cloud.githubusercontent.com/assets/22245418/26009470/96dba3c2-3766-11e7-9e22-f4244d929f7d.png)

See also #108

[2017-05-12 18:38] harshit98 commented on #138
Please close this issue as it has been solved in PR #262

[2017-05-13 05:26] #244 closed

[2017-05-13 09:30] harshit98 opened #279 "Searching for a keyword shows - 'loading'"
![selection_028](https://cloud.githubusercontent.com/assets/22245418/26024324/cae2307e-37ec-11e7-8d5d-0ee3c5cd9e43.png)

`loading...` should not be there whenever a search action is implemented.

[2017-05-13 09:38] harshit98 opened #280 "Align the result `title` following the market leader"
Align the result's 'title' in such a way, there should be space on right side so that we can implement a info box. They should be shown in a max-width of search bar and continue further with `...`

Susper -

![selection_029](https://cloud.githubusercontent.com/assets/22245418/26024353/27c7dcee-37ed-11e7-8ceb-6fc8c5351567.png)

Google -

![selection_030](https://cloud.githubusercontent.com/assets/2

[2017-05-13 11:20] Marauderer97 opened #281 "Footer does not stick to the bottom if content is less"
If the content is less than the screen length, the footer doesn't stick to the bottom , for example in Videos, where only gif files are rendered:
![image](https://cloud.githubusercontent.com/assets/20185076/26025007/433914fc-37fc-11e7-9d3d-2ea0026c41ac.png)

[2017-05-13 19:44] harshit98 commented on #280
I would like to work on this issue. :+1:

[2017-05-13 21:00] harshit98 commented on #267
@nikhilrayaprolu We can remove `.gif` ext files since they are very-very less in number compared to `.png` files.

[2017-05-14 03:57] #272 closed

[2017-05-14 04:03] #261 closed

[2017-05-14 04:05] #257 closed

[2017-05-14 04:09] #280 closed

[2017-05-14 04:11] mariobehling commented on #185
Please match the line spacing and space after lines as well.

[2017-05-14 10:48] nikhilrayaprolu commented on #267
@harshit98 Let's follow google and since google displays gifs in image section, we cannot do so.Let's follow the same decision with susper, lets make gifs static, but make them dynamic when viewed in an image viewer.

[2017-05-14 10:57] Marauderer97 commented on #279
@harshit98 Can you be more specific about the query please? I don't understand the issue, to be honest. The progress bar initially shows loading, and once the results are available, they are displayed
![image](https://cloud.githubusercontent.com/assets/20185076/26033126/0d11202e-38c2-11e7-9080-0a0f9d350774.png)
The `loading...` message was kept in accordance to the original design of susper.com(wh

[2017-05-14 11:00] Marauderer97 opened #284 "Links in menu redundant"
The links on clicking the burger icon, seem to be redundant and duplicate
![image](https://cloud.githubusercontent.com/assets/20185076/26033137/72d94d82-38c2-11e7-98ee-03e5ab22157c.png)
Both code and github lead to the same page. At the same time links like about, or advanced search are missing from it.

@nikhilrayaprolu @harshit98 If you agree, I can start working on this

[2017-05-14 11:25] nikhilrayaprolu commented on #284
ok. you can work on this pull. @Marauderer97

[2017-05-14 11:41] nikhilrayaprolu commented on #277
can you share an example url that is rendering such images.

[2017-05-14 12:17] harshit98 commented on #277
@nikhilrayaprolu http://elpandaviral.com/wp-content/uploads/2015/09/INDIA-520x245.jpg

[2017-05-14 12:25] harshit98 commented on #279
@Marauderer97 Yes, that is the issue the progress bar initially shows `loading...`.

[2017-05-14 12:46] harshit98 commented on #138
This issue can be closed now. Susper is now compatible for all screen size.

[2017-05-14 12:53] harshit98 commented on #185
@mariobehling done! We can close this issue now.

[2017-05-14 14:01] Marauderer97 commented on #279
@mariobehling What do you suggest? Should we remove the `loading...` message

[2017-05-14 14:07] Marauderer97 commented on #277
@harshit98 Actually, the links are not broken.
Notice the images
![image](https://cloud.githubusercontent.com/assets/20185076/26034570/4d7f882a-38dc-11e7-8c74-61d372576686.png)
for normal images, they get displayed:
![image](https://cloud.githubusercontent.com/assets/20185076/26034579/770df7ee-38dc-11e7-9b98-f8223b40e803.png)
But the broken image icon happens when the image is hosted by a site, sa

[2017-05-14 14:34] harshit98 commented on #267
@nikhilrayaprolu we can't control the animations of a gif. It requires two versions of image to show it static. One is animated and the other that is not.

[2017-05-14 15:17] nikhilrayaprolu commented on #181
working on this issue.

[2017-05-15 03:50] Marauderer97 opened #286 "Top nav-bar in Advanced Search incomplete"
The top nav-bar in advanced search is incomplete, it should be like the one on the other pages,
![image](https://cloud.githubusercontent.com/assets/20185076/26042034/84dfa39a-394f-11e7-93e7-a9f1f1af4dc4.png)
![image](https://cloud.githubusercontent.com/assets/20185076/26042051/a74f637a-394f-11e7-8558-36a7f704fc4a.png)

[2017-05-15 12:24] harshit98 commented on #121
working on this issue. :+1:

[2017-05-16 12:53] #138 closed

[2017-05-16 12:53] #185 closed

[2017-05-16 13:10] #281 closed

[2017-05-16 13:11] #284 closed

[2017-05-16 13:12] #286 closed

[2017-05-16 17:12] nikhilrayaprolu opened #289 "when refreshed on images page the page number doesn't stay on the same page"
![image](https://cloud.githubusercontent.com/assets/15216503/26118839/ecdfa4e2-3a88-11e7-9d78-603af192971c.png)

when refreshed the page number in pagination bar is changed to page number 1

[2017-05-16 17:15] nikhilrayaprolu opened #290 "compile testbed module separately which can be imported into all modules"
compile testbed module separately which can be imported into all modules, which can be imported into all spec files so that there won't be repetition and multiple imports in each test file.
see pull https://github.com/fossasia/susper.com/pull/288 where one has to import all components into other dependent components.

[2017-05-16 17:46] nikhilrayaprolu opened #291 "Initial gap in every image search"
![image](https://cloud.githubusercontent.com/assets/15216503/26120189/80ffaa42-3a8d-11e7-94dc-e8a361aa5063.png)

![image](https://cloud.githubusercontent.com/assets/15216503/26120228/a658cb5c-3a8d-11e7-8302-2ed8dc23ffb5.png)

![image](https://cloud.githubusercontent.com/assets/15216503/26120249/b14d474a-3a8d-11e7-9e24-f7cb7c03c9f5.png)

there is some fixed length of gap for each image search, whic

[2017-05-16 18:22] nikhilrayaprolu commented on #269
On a research online on how to implement the themability I came across the following links (sharing these  so that others could have a look through it)
http://stackoverflow.com/questions/8796107/how-to-make-changeable-themes-using-css-and-javascript
https://www.thesitewizard.com/css/switch-alternate-css-styles.shtml
which requires us to remove the inline css we have till now
and then modify them w

[2017-05-16 19:29] Marauderer97 commented on #254
This issue has not been solved, hence re opening.
The pagination bar and the results section both don't work on refresh.
#289 can be viewed as a sub-issue of this.

[2017-05-16 19:32] Marauderer97 commented on #254
@nikhilrayaprolu
Notice how it says 1 to 10 results, though it displays 100
![image](https://cloud.githubusercontent.com/assets/20185076/26124530/694ab996-3a9c-11e7-980e-60d7ba7b93fe.png)
Also notice how the pagination bar, should have just 3 pages, but shows 10
![image](https://cloud.githubusercontent.com/assets/20185076/26124553/801a9182-3a9c-11e7-9836-21e78e189c39.png)

[2017-05-16 19:39] Marauderer97 commented on #291
@nikhilrayaprolu Yes, PR #273 Must have caused this, since this problem arose only now, look:
![image](https://cloud.githubusercontent.com/assets/20185076/26124812/74b18232-3a9d-11e7-84be-0c0275e1b1ba.png)
Looking into it

[2017-05-17 05:13] mariobehling commented on #181
Need to iterate more to add images and enhance design.

[2017-05-18 02:14] harshit98 opened #293 "Info box appearing at the bottom of the page and in the images section"
Screenshots :

![screenshot from 2017-05-18 07-42-36](https://cloud.githubusercontent.com/assets/22245418/26183646/c0f98c92-3b9d-11e7-8d63-232e949efb9d.png)

![screenshot from 2017-05-18 07-42-54](https://cloud.githubusercontent.com/assets/22245418/26183648/c3682272-3b9d-11e7-94e7-bde72333458f.png)

[2017-05-18 22:32] nikhilrayaprolu commented on #290
closing this issue,since actually we have to give dummy components and services to each component separately (that is actually what 'unit' testing mean), since we don't have any 'dummy' components and services ,we have to pass all components to each testbed configuration.

[2017-05-18 22:32] #290 closed

[2017-05-19 10:54] harshit98 commented on #277
@Marauderer97 @nikhilrayaprolu maybe this can be a server related issue. Because on http://search.yacy.net/ , the same problem seems to be happen.

![screenshot from 2017-05-19 16-22-03](https://cloud.githubusercontent.com/assets/22245418/26244951/93e7bf4a-3caf-11e7-89f4-fdb4100c6543.png)

[2017-05-19 11:19] harshit98 commented on #232
We can close this issue now, as it has been solved as mentioned above.

[2017-05-19 11:20] harshit98 commented on #254
Close this issue. It is similar to #289

[2017-05-19 11:25] harshit98 commented on #269
@nikhilrayaprolu Seems to be interesting. We should proceed with the first solution. Yes, I agree with you if we move to angular material it will be a huge step. Already we have worked a lot on front-end and finished the front-end small issues without using angular material.

[2017-05-19 12:56] #291 closed

[2017-05-19 12:56] #293 closed

[2017-05-19 12:58] #254 closed

[2017-05-19 12:58] #232 closed

[2017-05-19 18:06] harshit98 opened #298 "Design the info-box similar to Google"
- [x] Heading part.
- [x] Description part.
- [x] Change `Related search` to `Points of interest` following market leader.
- [x] Change the colour of links.

Susper -

![screenshot from 2017-05-19 23-31-35](https://cloud.githubusercontent.com/assets/22245418/26260693/c36bd968-3ceb-11e7-9041-8c309820e42a.png)

Google -

![screenshot from 2017-05-19 23-35-19](https://cloud.githubusercontent.com/asse

[2017-05-19 19:03] harshit98 commented on #279
@Marauderer97 It is the same issue which we solved earlier. Here #48
I'm working on this. :+1: : )

[2017-05-19 19:38] harshit98 commented on #270
@nikhilrayaprolu How should we start working on this step-by-step ?

[2017-05-20 03:03] #279 closed

[2017-05-20 04:06] harshit98 commented on #289
We can close this issue now. :+1:

[2017-05-20 08:46] nikhilrayaprolu commented on #270
I am presently making a component for this page.once that is done we will get a clear idea on how to move forward.
1.create a separate component for this page
2.implement each feature depending on its functionality.

[2017-05-20 08:48] #289 closed

[2017-05-20 13:15] Marauderer97 opened #304 "Contact form on Susper doesnot work"
![image](https://cloud.githubusercontent.com/assets/20185076/26276045/5d983ff4-3d8c-11e7-96aa-627cab3ce432.png)
The contact form on Susper, does not seem to function. It doesnot allow the user to submit it even after filling all the details.

[2017-05-20 13:23] Marauderer97 commented on #188
Now that Related Searches has already been implemented in the Infobox, we can proceed on adding this feature just like the market leader, I would like to work on this.

[2017-05-20 13:30] Marauderer97 opened #305 "Links in Info-box"
The links in the info box on being clicked give a 404 error.
This has also been mentioned in PR #298
![image](https://cloud.githubusercontent.com/assets/20185076/26276115/98242262-3d8e-11e7-8227-5cda9e52c5d6.png)
![image](https://cloud.githubusercontent.com/assets/20185076/26276118/a1ddad0a-3d8e-11e7-9039-7d7dbc27dc12.png)

[2017-05-20 13:58] nikhilrayaprolu commented on #305
Making a pr on this

[2017-05-21 02:39] #114 closed

[2017-05-21 04:29] harshit98 opened #306 "Thumbnail preview for videos."
Implement the thumbnail feature for videos using an external API. Follow the design of market leader.

[2017-05-21 11:51] nikhilrayaprolu opened #308 "infobox not getting displayed"
![image](https://cloud.githubusercontent.com/assets/15216503/26283634/cf0d52ec-3e49-11e7-940d-f3325afaf48c.png)

infobox isn't displaying.

[2017-05-21 12:01] nikhilrayaprolu commented on #308
this is because there is some problem from the dbpedia side
![image](https://cloud.githubusercontent.com/assets/15216503/26283737/38aaaa78-3e4b-11e7-9104-5b31bf65b0ac.png)

if this problem persists even tomorrow ,I think we have to reach out dbpedia.

[2017-05-21 12:17] nikhilrayaprolu opened #310 "on hover the contact link should show as a link"
![image](https://cloud.githubusercontent.com/assets/15216503/26283890/67d663b2-3e4d-11e7-9e15-4169c37528de.png)

on hovering on contact on the link "we'd like to hear about it right away. Please use our contact form to report the issue." It should be shown as link

[2017-05-21 12:18] nikhilrayaprolu opened #311 "contact page contact number country code should be shown rather than country name"
![image](https://cloud.githubusercontent.com/assets/15216503/26283909/b1ce3d50-3e4d-11e7-83e8-8d1fe576c8cb.png)

this should show the coutry code instead of country name.

[2017-05-21 13:34] harshit98 commented on #308
Yes, @nikhilrayaprolu I was thinking the same. Must be an issue with an API. : )

[2017-05-21 13:54] harshit98 opened #314 "'Install susper' button not working for Chrome browser."
'Install Susper' button clicking on it is not working for the Chrome browser. It should work fine, as it does for Firefox browser.

Chrome browser -

![screenshot from 2017-05-21 19-22-15](https://cloud.githubusercontent.com/assets/22245418/26284523/e3691738-3e5a-11e7-874f-1926d1f28276.png)

[2017-05-21 14:08] #305 closed

[2017-05-21 14:13] harshit98 opened #316 "Lot of space between keywords in contact page"
Maintain the margin. In the screenshot, there is a lot if space after `contact link`

![screenshot from 2017-05-21 19-37-39](https://cloud.githubusercontent.com/assets/22245418/26284627/9d4afa70-3e5d-11e7-88c6-7859e2aad02d.png)

[2017-05-21 14:15] Marauderer97 commented on #316
Making a PR on this

[2017-05-21 14:16] #304 closed

[2017-05-21 15:36] #310 closed

[2017-05-21 17:57] harshit98 commented on #314
@nikhilrayaprolu @Marauderer97 I was working on this issue, and found that the `AddSearchProvider()` and `window.external.IsSearchProviderInstalled()` works only with some versions of Firefox and earlier they worked with Chrome as well. Is there any alternative idea we can implement ?

[2017-05-21 18:01] nikhilrayaprolu commented on #314
http://blog.unto.net/add-opensearch-to-your-site-in-five-minutes.html

[2017-05-21 18:35] harshit98 commented on #314
I have done the changes in xml file. Kindly explain, what will happen? I'm have not seen any changes even after updating the xml file.

[2017-05-21 18:42] AnshulMalik opened #318 "Angular running in development mode on susper.com"
Currently, the app runs angular in development mode, we'd definitely want to switch it to production.

![prod](https://cloud.githubusercontent.com/assets/7821757/26286429/e0469b7a-3e82-11e7-8fa0-b1546de7dc9d.png)

It's easy to solve, you can try this [stack overflow](http://stackoverflow.com/questions/35721206/how-to-enable-production-mode-in-angular-2) link.

[2017-05-21 18:45] harshit98 commented on #308
@nikhilrayaprolu It's working now. It was problem from dbpedia side. We can close this issue now.

[2017-05-21 18:50] AnshulMalik opened #319 "Search type buttons not aligned with searchbar"
The `All`, `Images`, `Video` button container should be aligned with searchbar.

Current:
![a](https://cloud.githubusercontent.com/assets/7821757/26286471/0677f914-3e84-11e7-9236-e55674da801e.png)

Expected:
![b](https://cloud.githubusercontent.com/assets/7821757/26286483/66b88fbe-3e84-11e7-9a57-f2aac362db32.png)

[2017-05-21 18:54] AnshulMalik opened #320 "Gap between search option buttons and container bottom"
It'll look better if there is no gap, the blue bottom border touches the bottom.

Current:
![b](https://cloud.githubusercontent.com/assets/7821757/26286498/cca0399e-3e84-11e7-9465-fcf361568a15.png)

Expected:
![c](https://cloud.githubusercontent.com/assets/7821757/26286509/eb16e184-3e84-11e7-9bcc-5e90a4829c6b.png)

[2017-05-22 03:51] #298 closed

[2017-05-22 03:56] #311 closed

[2017-05-22 04:01] daminisatya opened #321 "Fix required to align the text properly"
Either we can think of increasing the width of the drop down box and making the text sit in a single line.

![image](https://cloud.githubusercontent.com/assets/6227784/26292173/5b898a7e-3ed1-11e7-8ede-a0b55ba59873.png)

[2017-05-22 04:08] harshit98 commented on #320
Working on this.

[2017-05-22 04:08] harshit98 commented on #319
Working on this.

[2017-05-22 05:02] #320 closed

[2017-05-22 05:52] #319 closed

[2017-05-22 07:12] Marauderer97 commented on #321
@daminisatya I think increasing the width will be a good idea. Can I work on this?

[2017-05-22 07:12] daminisatya commented on #321
@Marauderer97 Sure!

[2017-05-22 08:37] Marauderer97 opened #324 "Phone number field in Contact form"
The phone number in contact form accepts any form of text, or even negative numbers as seen below
![image](https://cloud.githubusercontent.com/assets/20185076/26299230/be6f36b8-3ef7-11e7-96f1-21508f72e4aa.png)

[2017-05-22 09:05] Marauderer97 opened #325 "Errors in Contact form"
There seem to be a few errors in the contact form:

- The email address field is not linked to its own input box
![image](https://cloud.githubusercontent.com/assets/20185076/26300385/8baa196a-3efb-11e7-8f1d-b182243bbb2a.png)

- The Minimum 100 words has not been implemented, the submit button is active even if there is 1 word:
![image](https://cloud.githubusercontent.com/assets/20185076/26300444/b

[2017-05-22 11:28] #324 closed

[2017-05-23 03:55] #316 closed

[2017-05-23 04:08] #321 closed

[2017-05-23 04:14] #325 closed

[2017-05-23 05:10] harshit98 commented on #318
I would like to work on this.

[2017-05-23 06:42] sharang108 opened #330 "Obsolete Installation guide"
A problem with Installation guide in readme, the angular-cli installation package is updated for more details please read  [npm-angular](https://www.npmjs.com/package/@angular/cli), and [StackOverflow](https://stackoverflow.com/a/42452061).

Related [PR](https://github.com/fossasia/susper.com/pull/329#issuecomment-303280445)

[2017-05-23 07:40] #308 closed

[2017-05-24 07:15] harshit98 commented on #269
@nikhilrayaprolu @Marauderer97 I'll create a PR for this issue today. From there, we can start adding different kind of themes to susper.

[2017-05-24 16:24] #188 closed

[2017-05-24 17:40] Marauderer97 opened #334 "Previous and Next button"
The previous and next button are still displayed as active links when there is a single page of results available
![image](https://cloud.githubusercontent.com/assets/20185076/26417204/219d4754-40d6-11e7-80eb-14f22a5cc724.png)

[2017-05-24 17:58] Marauderer97 opened #335 "Info box gives irrelevant information at times"
Sometimes the infobox gives irrelevant information
![image](https://cloud.githubusercontent.com/assets/20185076/26418075/8b3272f0-40d8-11e7-816d-1ee7561c6675.png)
This is how google handles the same query
![image](https://cloud.githubusercontent.com/assets/20185076/26418098/a3020832-40d8-11e7-929d-55d9a5025d39.png)

[2017-05-24 18:02] Marauderer97 opened #336 "Searches related to "" appears only on refresh"
Sometimes, the searches related to is left blank
![image](https://cloud.githubusercontent.com/assets/20185076/26418204/f9ee7ce8-40d8-11e7-9cd3-9c1829825130.png)
It appears only after refresh
![image](https://cloud.githubusercontent.com/assets/20185076/26418224/09ecc4d8-40d9-11e7-97f9-4399897cb45c.png)

[2017-05-25 06:30] #336 closed

[2017-05-25 06:39] nikhilrayaprolu opened #338 "related searches being displayed before the actual search results are displayed"
![image](https://cloud.githubusercontent.com/assets/15216503/26438842/e9de2ffa-4142-11e7-90c7-31adbce2442e.png)

related search results should be displayed along with the actual results.

[2017-05-25 07:10] nikhilrayaprolu commented on #334
working on this issue.

[2017-05-25 07:25] nikhilrayaprolu opened #342 "removing the search text entered makes the results empty but not the info box"
![image](https://cloud.githubusercontent.com/assets/15216503/26440310/54581476-4149-11e7-9087-2b91d5635c7f.png)

when we search something and remove the search text from the search bar, info box doesn't get disappeared.

[2017-05-25 07:29] nikhilrayaprolu opened #343 "removing the search text entered makes the results empty but not the related searches"
![image](https://cloud.githubusercontent.com/assets/15216503/26440430/e3fa8f96-4149-11e7-8085-314305d95056.png)

when we search something and remove the search text from the search bar, related searches doesn't get disappeared.

[2017-05-25 07:31] Marauderer97 commented on #343
Duplicate issue #342

[2017-05-25 07:32] Marauderer97 commented on #342
@nikhilrayaprolu  Let us just add related searches here, since both use a very similar mechanism?

[2017-05-25 07:33] nikhilrayaprolu commented on #343
this is related to related searches and not the info box, since infobox and the related searches are different components.

[2017-05-25 07:36] #338 closed

[2017-05-25 08:09] #335 closed

[2017-05-25 11:09] Marauderer97 opened #346 "Enhance Related Searches"
The Related Searches should follow the current mechanism for Infobox, if the query is the same as the first result, then do not list it, but otherwise list all possible results.
Ex:
Related Searches looks like this:
![image](https://cloud.githubusercontent.com/assets/20185076/26447974/a9378fb6-4168-11e7-998c-950ae5593ca2.png)
This is how it should look:
![image](https://cloud.githubusercontent.com

[2017-05-25 12:33] troublemagnet opened #348 "Problem in search results, no hyperlinks displayed."
For certain search queries, the results displayed contain no hyperlink to click on but read only links.
![issue](https://cloud.githubusercontent.com/assets/28952053/26450312/7b3a2266-4174-11e7-9a75-eeb8a4afd7fc.png)

[2017-05-25 13:50] harshit98 commented on #348
@troublemagnet This is maybe due to server. Also, the links you're saying are of format `.jpg`. So they are being displayed in images section.

[2017-05-25 13:56] harshit98 commented on #318
This issue can be closed now.

[2017-05-25 13:58] troublemagnet commented on #348
@harshit98 Yes, that's true. But shouldn't they only be displayed in images section? That's what should ideally happen, don't you think so?

[2017-05-25 14:21] harshit98 commented on #348
Working on this issue.

[2017-05-25 14:59] AnshulMalik commented on #318
I think we are still running development aren't we ?
You should ask this question to yourself, Are we running production now ?
So, this is still a valid issue.

[2017-05-25 16:11] harshit98 commented on #348
@nikhilrayaprolu In results-component file, there is already code filtering out png files and avi files. But if I try to filter png with jpg too, the issue seems to be remain there.

[2017-05-25 19:10] harshit98 commented on #314
@nikhilrayaprolu @Marauderer97 I have the done work on this issue following the link you have provided. It would be great if I can get suggestions from your side. What I was thinking for this issue :
- For the Chrome browser, I saw the feature implemented by DuckDuckGo. Check here - https://duckduckgo.com/install?t=hc . Chrome has some different feature to add search engines. So, we can't implemen

[2017-05-25 21:17] harshit98 opened #351 "Hide infobox for smaller screens"
Screenshot of infobox on smaller screens -

![screenshot from 2017-05-26 02-45-25](https://cloud.githubusercontent.com/assets/22245418/26471049/a335f486-41bd-11e7-8e41-a00b18f6755b.png)

[2017-05-26 06:22] #351 closed

[2017-05-26 06:45] nikhilrayaprolu commented on #318
@AnshulMalik please follow up with the discussions on each issue and pull referenced here, so that you could get a clear idea on why he has proposed closing this.

[2017-05-26 06:51] AnshulMalik commented on #318
Umm, I did follow the issues and PRs, but didn't find any good reason to close the issue.

[2017-05-26 06:55] nikhilrayaprolu commented on #318
please follow the last comment on this https://github.com/fossasia/susper.com/pull/331 .now that you could find a reason.

[2017-05-26 06:56] AnshulMalik commented on #318
Yes, I am following all PRs, but still, I don't  think that's a good reason to close the issue.

[2017-05-26 07:01] nikhilrayaprolu commented on #318
we will deploy into production once we are at least into beta stage. and we are happy that there are people like you who care about this project.Thank You for your support to this project.
I see that you are enthusiastic about helping on this project, so It would be good if you could help us by contributing some work to this project.Thank you.

[2017-05-26 07:06] AnshulMalik opened #353 "Chrome blocked api call, mixed content"
Using Chrome Version 56.0.2924.87 (64-bit)

Throws mixed content warning and blocked the api call.

![s](https://cloud.githubusercontent.com/assets/7821757/26484533/4ad448a8-4210-11e7-8917-97615dcd1ea1.png)

[2017-05-26 07:14] nikhilrayaprolu commented on #353
susper is being developed on http port and not on https. please access susper at http://susper.com

[2017-05-26 07:14] #353 closed

[2017-05-26 12:29] #346 closed

[2017-05-26 12:43] nikhilrayaprolu commented on #348
@harshit98  could you reference the line where you found filtering of png and  avi.
and secondly can I have an example query that would reproduce this error.

[2017-05-26 13:48] nikhilrayaprolu opened #354 "there is inconsistency in the display of infobox on changing the query"
When a query is made with "India"
![screenshot from 2017-05-26 18-15-07](https://cloud.githubusercontent.com/assets/15216503/26497098/cd445b34-4247-11e7-99b3-19cb0af9dcbd.png)
On deleting the last three characters of "India"
![screenshot from 2017-05-26 18-15-23](https://cloud.githubusercontent.com/assets/15216503/26497141/f28d3d34-4247-11e7-8a97-3b4edba2041f.png)
After some time
![screenshot from

[2017-05-26 14:21] nikhilrayaprolu commented on #354
working on this issue.

[2017-05-26 15:03] nikhilrayaprolu opened #356 "when there are no results from dbpedia on instant query , results of previous previous are being shown up"
How to reproduce the error?
1.type "India" in search bar
2.remove last three letters
![image](https://cloud.githubusercontent.com/assets/15216503/26499988/0a674cd8-4252-11e7-969a-ab3156112307.png)
you will see a screen like the above one.
3.what is desired?
A look like this
![image](https://cloud.githubusercontent.com/assets/15216503/26500067/46a58610-4252-11e7-9ed4-f7dd2c274c03.png)
As we don't g

[2017-05-26 15:03] nikhilrayaprolu commented on #356
working on this.

[2017-05-26 17:46] harshit98 commented on #348
Error was reproduced by entering query `hello` . But looks like server update has solved the issue.

[2017-05-27 04:59] #356 closed

[2017-05-27 06:34] #342 closed

[2017-05-27 06:43] #334 closed

[2017-05-27 09:25] harshit98 opened #358 "Suggestions still coming, when final results are appearing."
![screenshot from 2017-05-27 14-53-46](https://cloud.githubusercontent.com/assets/22245418/26520254/67b35c5c-42ec-11e7-8319-2da8f4e8e0e7.png)

Suggestions are still seems to be appear when the final results are displayed for a query.
**Hide the suggestion box when user enters up a query and final results are displayed.**

[2017-05-27 09:27] harshit98 opened #359 "Suggestion box black-border appearing on homepage"
![screenshot from 2017-05-27 14-56-17](https://cloud.githubusercontent.com/assets/22245418/26520269/b378355e-42ec-11e7-962e-ff65d1ab4406.png)

The black border should not be appearing.

[2017-05-27 11:50] nikhilrayaprolu commented on #314
@harshit98  go with the first option. keep the box on firefox and remove it from chrome. and on chrome make it similar to duckduckgo.

[2017-05-27 11:55] #343 closed

[2017-05-27 14:08] harshit98 opened #361 "Design the front-end for suggestion box"
Currently Susper's suggestion box looks like this-

![screenshot from 2017-05-27 19-33-36](https://cloud.githubusercontent.com/assets/22245418/26521964/c44e3654-4313-11e7-8515-fb63aab5f5d0.png)

Google's suggestion box -

![screenshot from 2017-05-27 19-32-59](https://cloud.githubusercontent.com/assets/22245418/26521962/bb681a6e-4313-11e7-93df-e23d7608db16.png)

Implement the following -
- [ ] Smo

[2017-05-27 15:07] #354 closed

[2017-05-27 16:09] harshit98 commented on #361
Working on this issue. :+1:

[2017-05-28 05:17] #314 closed

[2017-05-28 05:18] Marauderer97 commented on #359
Working on this

[2017-05-28 05:28] Marauderer97 opened #364 "Suggestion box persists even after query is erased"
The suggestion box should be hidden once the query is blank, but that doesn't happen
![image](https://cloud.githubusercontent.com/assets/20185076/26526322/630fcb74-4394-11e7-9091-8ed7e6039362.png)

[2017-05-28 06:35] harshit98 commented on #358
Trying to solve this issue. :+1:

[2017-05-28 20:54] harshit98 commented on #358
@nikhilrayaprolu @Marauderer97 How to proceed with this issue? I was working on it but could not be able to solve it. Because the autocomplete feature is working with 2 separate components - `search-bar` and `auto-complete`. The auto-complete component should work with `input` element in `search-bar` so, that we can hide the suggestion box whenever a user clicks on **suggestion word** or when ther

[2017-05-28 21:12] harshit98 opened #365 "Add a page 'how to add Susper as search provider in Chrome browser' in tutorials"
## Problem
We will be adding up ' how to add susper as search provider in chrome' in tutorials section following to DuckDuckGo - https://duckduckgo.com/install?t=hc because Chrome has some different feature to add search provider. Catch up more discussion here - #314

## Solution
One can start working on this once, **search-settings** page component has been created in #270

[2017-05-29 05:43] Marauderer97 opened #366 "Auto complete of Susper clashes with browser's autocomplete"
![ac1](https://cloud.githubusercontent.com/assets/20185076/26537781/cd908bd4-445f-11e7-8970-091d9efa79ef.png)

We need to disable browser's autocomplete.

[2017-05-29 17:27] mariobehling opened #370 "Frontpage shows dropdown of search field"
The screenshot shows how a dropdown without content is activated.
![screenshot from 2017-05-29 19-26-15](https://cloud.githubusercontent.com/assets/1583873/26557873/da040144-44a4-11e7-9027-0033830f2f3c.png)

[2017-05-29 17:29] #366 closed

[2017-05-29 17:32] mariobehling commented on #365
Please add this in the docs folder. Don't add this on the main site. Thanks.

[2017-05-29 17:37] mariobehling opened #371 "Each character entered in search field results in a rendered page"
Search characters should not be rendered as single pages. Please only render the final input as a page.

See URL field below for comparison.
The browser back button shows five pages for five characters. Expected: It should not show any page
![screenshot from 2017-05-29 19-33-52](https://cloud.githubusercontent.com/assets/1583873/26558070/514b399c-44a6-11e7-866d-6edbf8a13b4a.png)

if the search res

[2017-05-29 18:41] harshit98 commented on #330
This issue can be closed now.

[2017-05-29 18:45] harshit98 commented on #269
We can add more themes by adding them in `customize.component.ts` following the pattern. I have also found another idea of adding themes - https://embed.plnkr.co/PX1kcJAbNmBxTZmAzsiS/

[2017-05-29 18:45] #330 closed

[2017-05-29 18:58] harshit98 commented on #196
@nikhilrayaprolu  @Marauderer97 `IsSearchProviderInstalled` will return always 0. Read more about it here - https://www.chromestatus.com/feature/5672001305837568 . You can also try `external.IsSearchProviderInstalled("https://www.google.com");` in the console. It will return always undefined value. What we can do is remove the default box completely as already we have added the auto-discovery feat

[2017-05-29 19:01] nikhilrayaprolu commented on #371
that's the same case with Google instant search, but Google makes an instant search for "next probable word or a  sentence" rather than each character input.

![screenshot from 2017-05-30 00-17-54](https://cloud.githubusercontent.com/assets/15216503/26559707/fdd93fce-44ce-11e7-96f9-f329d0800644.png)

![screenshot from 2017-05-30 00-16-50](https://cloud.githubusercontent.com/assets/15216503/2655971

[2017-05-29 19:21] nikhilrayaprolu commented on #196
@harshit98 if we remove the box?How can we encourage a user in making susper as his default box?
can you suggest some alternative for encouraging users to add susper as their default search engine?

[2017-05-29 19:41] harshit98 commented on #196
@nikhilrayaprolu you're right. I'll see if I'll get any other alternative.

[2017-05-30 04:38] harshit98 commented on #348
@nikhilrayaprolu Line 120 in `results.component.ts` there I tried to filter out file formats for images.

[2017-05-30 04:44] nikhilrayaprolu commented on #348
that line actually gets called only when images tab is active, so we don't have any such lines which actually excludes images in "all" tab. to solve this issue, we actually have to remove images and videos from getting displayed on the tab.

[2017-05-30 05:12] harshit98 commented on #129
@Orbiter Does YaCy supports multiple langauges ? If yes, it should be having a json file for it ?

[2017-05-30 05:14] nikhilrayaprolu opened #372 "many links in susper are reloading the whole application"
since this is a SPA we should take care that the application loads only once.we should change all internal `href` tags to `routerLink.`

**example of heavy loading**
clicking on the susper logo in navigation bar makes a susper load whole application again.

[2017-05-30 05:34] nikhilrayaprolu opened #374 "referencing stylesheets should not be done in components"
each time a component loads that is leading an unnecessary request for the stylesheets, removing this could make request size small and loads the components faster.
for instance:- https://github.com/fossasia/susper.com/blob/master/src/app/contact/contact.component.html#L2

[2017-05-30 05:50] nikhilrayaprolu opened #376 "index page in susper is too unstable that without a query it leads to results page"
just key down and a key up of an ALT,  CTRL or SHIFT key is redirecting t the results page with an empty query.
**what I suggest?**
make autocomplete work only when at least three characters are entered.
before query:-
![image](https://cloud.githubusercontent.com/assets/15216503/26569664/bc78b95a-4529-11e7-9f44-b314ce96dbf6.png)
after key up of SHIFT, ALT, OR CTRL:-
![image](https://cloud.githubus

[2017-05-30 05:50] harshit98 commented on #348
Do you mean to create separate component for them ? Or just filter the `png` and `jpg` format from 'all' tabs?

[2017-05-30 06:04] nikhilrayaprolu commented on #348
I mean we should remove them from all tab.
that is just filter png and jpg format from "all" tabs.

[2017-05-30 06:23] enigmaeth opened #378 "Search bar is improperly placed on search page and home page"
![image](https://cloud.githubusercontent.com/assets/14938154/26570455/5285f4d6-452e-11e7-8e96-a91b64138001.png)
![image](https://cloud.githubusercontent.com/assets/14938154/26570493/89f7de70-452e-11e7-9c41-49ecd4a9ae6d.png)

Details:
Screen Resolution : 1920*1080

[2017-05-30 07:19] Marauderer97 opened #379 "Update package.json"
Since we are updating our code, and making it cleaner, let us also update package.json, add the line to deploy in it?
This was discussed in [#198](https://github.com/fossasia/susper.com/pull/198) and [#210](https://github.com/fossasia/susper.com/pull/210)

[2017-05-30 07:55] harshit98 commented on #379
Yes, do it. Are you working on it ? I have previously added script but it was removed later when heroku was set up.

[2017-05-30 12:06] #358 closed

[2017-05-30 12:13] nikhilrayaprolu commented on #379
@Marauderer97 did you mean updating only the deploy line or updating all packages to the latest version?

[2017-05-30 17:42] #372 closed

[2017-05-30 17:45] #374 closed

[2017-05-30 17:45] #376 closed

[2017-05-30 17:54] mariobehling commented on #371
@nikhilrayaprolu Please read the issue details carefully, e.g. Google does not render a page for each character entered.
![screenshot from 2017-05-30 19-50-51](https://cloud.githubusercontent.com/assets/1583873/26597212/89e8412a-4571-11e7-8d65-f8dd066ce063.png)

[2017-05-30 18:00] mariobehling opened #381 "Match alignments of text with market leader"
Text alignments are not matching market leader.

Compare Susper
![screenshot from 2017-05-30 19-58-00](https://cloud.githubusercontent.com/assets/1583873/26597505/8801975c-4572-11e7-89d7-bb48ef2887d4.png)

With this..
![screenshot from 2017-05-30 19-57-36](https://cloud.githubusercontent.com/assets/1583873/26597518/911c22c6-4572-11e7-9e41-9d674d94c845.png)

[2017-05-30 18:02] mariobehling opened #382 "Clicking on search icon shows the surrounding of the icon at some actions"
The search icon edge should not be visible through user actions.
![screenshot from 2017-05-30 20-01-23](https://cloud.githubusercontent.com/assets/1583873/26597637/ee51c6da-4572-11e7-9fd8-1c2c27a5e581.png)

[2017-05-30 18:04] nikhilrayaprolu commented on #371
Yes @mariobehling that might be because you haven't activated instant search.
 I agree that google doesn't render for each character,but it does render for each word when instant search is on.
If instant search is off, one could turn it on from search settings at the bottom right on Google home page

We could make a work around similar to google such that search happens only for whole word rather

[2017-05-30 18:07] mariobehling opened #383 "Ensure all searches on specific tab e.g. images, videos are showing results on this tab again"
A new search performed on the image tab leads to the "All" tab instead of image tab again. Expected: A search on a specific tab should lead to results on this tab again.
![screenshot from 2017-05-30 20-05-17](https://cloud.githubusercontent.com/assets/1583873/26597809/883b3cea-4573-11e7-8224-eefd10eb3687.png)

[2017-05-30 18:09] mariobehling opened #384 "Set a reasonable maximum width for images and ensure scalings are in correct ratio/proportion"
The image search shows at times images that are larger than the page width. Please set a reasonable maximum width.
![screenshot from 2017-05-30 20-08-05](https://cloud.githubusercontent.com/assets/1583873/26597908/db53208c-4573-11e7-9279-3c1bd6d23934.png)

[2017-05-30 18:13] #130 closed

[2017-05-30 18:17] mariobehling opened #385 "Match width of search bar and results as well as exact position to market leader"
This issue seems to come up regularly again. Currently the search on Susper is wider than the search bar for example. Simply follow the example of the market leader.

E.g. compare end of results on right hand side of Google..
Please match the width, exact position of search bar and results.
![screenshot from 2017-05-30 20-10-10](https://cloud.githubusercontent.com/assets/1583873/26598208/d675ee86-

[2017-05-30 18:21] mariobehling opened #386 "Clicking on tabs in search results brings user to wrong tab"
Clicking on "Video" tab while on "All" tab brings user to "Image" tab. Same applies when user is on other pages. Expected: Bring user to the tab link that was actually clicked.
![screenshot from 2017-05-30 20-21-13](https://cloud.githubusercontent.com/assets/1583873/26598445/8c0674f0-4575-11e7-9003-cc14c70813ce.png)

[2017-05-30 18:41] mariobehling opened #387 "Advanced search page not up to design standards"
The advanced search site has several issues.

Please test the site and ensure each font, font size, position of elements, search button and all other components fit nicely into the design concept.

I leave it to you to find all issues with the page. There are a number of bugs.

[2017-05-30 20:13] harshit98 opened #388 "Clicking on related searches shows - 'showing results NaN of NaN'"
Clicking on any related search for a query, shows `showing results of NaN of NaN`

![screenshot from 2017-05-31 01-38-47](https://cloud.githubusercontent.com/assets/22245418/26602849/7335ac0c-45a2-11e7-8963-c613680e0b2a.png)

![screenshot from 2017-05-31 01-39-19](https://cloud.githubusercontent.com/assets/22245418/26602854/7636a0fa-45a2-11e7-96f8-99d876023dd4.png)

[2017-05-30 20:15] harshit98 opened #389 "Clicking on related searches term makes the numbering of pagination bar disappear"
On clicking, any of related search term for any query, it makes the numbering of pagination bar disappear.

![screenshot from 2017-05-31 01-40-12](https://cloud.githubusercontent.com/assets/22245418/26602947/c00c94c8-45a2-11e7-9ec5-92a70514e83c.png)

[2017-05-30 20:20] harshit98 opened #390 "Change 'showing results' following the market leader"
## Problem

Susper -

![screenshot from 2017-05-31 01-48-21](https://cloud.githubusercontent.com/assets/22245418/26603137/6c7536f2-45a3-11e7-8a78-7af963b6bf94.png)

Google -

![screenshot from 2017-05-31 01-47-40](https://cloud.githubusercontent.com/assets/22245418/26603142/70afa1b2-45a3-11e7-8fc5-6be01386f331.png)

Follow the design of market leader.

[2017-05-30 21:01] harshit98 opened #391 "Remove 'showing results' from images section"
Susper -

![screenshot from 2017-05-31 02-29-32](https://cloud.githubusercontent.com/assets/22245418/26604790/18a906f6-45a9-11e7-8449-e16bb280a8cd.png)

Google -

![screenshot from 2017-05-31 02-27-46](https://cloud.githubusercontent.com/assets/22245418/26604794/1b8d2cd0-45a9-11e7-81f5-6056257049f6.png)

Remove `showing results .. of .. ` completely from images section.

[2017-05-31 01:15] AnshulMalik commented on #371
I agree with @mariobehling , it doesn't matter what google does, it doesn't look feel right, let's try and fix this issue.

[2017-05-31 07:07] harshit98 opened #393 "Search-button not working appropriately"
When there is no query -
![screenshot from 2017-05-31 12-35-26](https://cloud.githubusercontent.com/assets/22245418/26619829/cc0c9f42-45fd-11e7-83d2-abb451921f31.png)

and then clicking on the search button takes us to empty page with zero results -
![screenshot from 2017-05-31 12-35-35](https://cloud.githubusercontent.com/assets/22245418/26619851/e947db30-45fd-11e7-8737-fac9692597df.png)

[2017-05-31 09:37] Marauderer97 opened #395 "Clicking on links in Infobox, gives no result count or proper pagination bar"
![image](https://cloud.githubusercontent.com/assets/20185076/26625741/a9db2da2-4612-11e7-9844-2db594876fab.png)
![image](https://cloud.githubusercontent.com/assets/20185076/26625749/b0e05636-4612-11e7-8ca0-668c999f080e.png)
But when i type in Mumbai as a fresh query
![image](https://cloud.githubusercontent.com/assets/20185076/26625781/cc8584e2-4612-11e7-8db8-9d6c7665ad84.png)
![image](https://clou

[2017-05-31 09:38] Marauderer97 commented on #379
@nikhilrayaprolu I meant a total update, updating all packages included.

[2017-05-31 18:02] #391 closed

[2017-05-31 18:18] #382 closed

[2017-06-01 10:53] #393 closed

[2017-06-01 13:39] harshit98 opened #401 "Add issue template and pull request template"
Just like following other FOSSASIA repositories, add issue and PR template.

I would like to work on this. : )

[2017-06-01 17:44] #401 closed

[2017-06-01 18:22] nikhilrayaprolu opened #404 "searching using the search extension doesnt show the pagination bar"
**Actual Behaviour**
when we search using the susper search bar extension for firefox. there is no pagination bar and also showing results as Nan to Nan
![image](https://cloud.githubusercontent.com/assets/15216503/26694455/1631f7ca-4725-11e7-9c28-68b358180523.png)

![image](https://cloud.githubusercontent.com/assets/15216503/26694490/394b9464-4725-11e7-9e84-2b49abccaf38.png)

[2017-06-02 06:17] harshit98 commented on #389
@Marauderer97 is this issue pending or this work has been done ?

[2017-06-02 07:15] #386 closed

[2017-06-02 07:16] Marauderer97 commented on #383
This issue was referred to by mistake, since it was confused with the title of another issue. Reopened since it hasn't been solved yet. Sorry for the misunderstanding.

[2017-06-02 08:20] #379 closed

[2017-06-02 11:27] Marauderer97 opened #408 "Problems with pagination bar."
**Actual Behaviour**

When the pagination bar pages are clicked, a page is being skipped and the wrong page is displayed, after page 10. Clicking on 11 takes us to 12 and so on.

**Expected Behaviour**

Every page needs to be correctly linked.

**Screenshots of the issue**

This is what happens on clicking 11
![image](https://cloud.githubusercontent.com/assets/20185076/26723947/965e1886-47b4-11e7-

[2017-06-02 17:10] #370 closed

[2017-06-03 09:49] Marauderer97 commented on #387
@mariobehling This is how Google Advanced Search page looks like:
![image](https://cloud.githubusercontent.com/assets/20185076/26752537/f279e60c-486f-11e7-9bb5-05028c33524c.png)
Is our goal to make it exactly like this?

[2017-06-03 09:52] Marauderer97 opened #410 "Change Autocomplete's API to Yacy"
**Actual Behaviour**

The current autocomplete feature depends on the dbpedia prefix API.

**Expected Behaviour**

We wish for it to be independent of external APIs. So we need to use Yacy's API instead. This link can be used
[HERE](http://www.yacy-websuche.de/wiki/index.php/Dev:APIsuggest)

[2017-06-03 10:06] mariobehling opened #411 "Getting search results very slow"
Any idea why search results are very slowly displayed? Is it a server or front-end issue?

[2017-06-03 10:10] #388 closed

[2017-06-03 10:10] #404 closed

[2017-06-03 15:53] Orbiter opened #413 "Crawl Start User Interface"
susper.com right now depends on YaCy. The YaCy project currently creating a re-design of the crawler in the YaCy Grid project. We want a crawl start user interface for susper, so the susper.com interface gets a user interface which is able to place a crawl start into the YaCy grid.

Some background information: a web index is created by loading a lot of web pages first, then parsing the content an

[2017-06-03 16:04] Orbiter commented on #413
Here is a documentation of all fields that the original Crawl Start API uses:
http://www.yacy-websearch.net/wiki/index.php/Dev:APICrawler
For this task we do not send single attributes to the back-end, but a single JSON which has all these attributes in one JSON object.

[2017-06-04 08:24] nikhilrayaprolu commented on #387
@Marauderer97  please follow up with this issue https://github.com/fossasia/susper.com/issues/126 we have a lot of sub issues regarding the advanced search to be implemented.

[2017-06-04 08:49] #390 closed

[2017-06-04 08:50] Orbiter commented on #413
To show default values in the crawl start page, use values from this endpoint:
http://yacygrid.com:8300/yacy/grid/crawler/defaultValues.json

This servlet also shows how the JSON object should look like that the web pages pushes to the endpoint.

[2017-06-04 09:16] Orbiter commented on #413
please OMIT the following fields, they are not needed here:
* crawlOrder
* intention
* xsstopw

[2017-06-05 06:45] harshit98 commented on #411
@mariobehling It must be a server issue. Although, now it's showing search results fast.

[2017-06-05 07:15] harshit98 opened #414 "Responsiveness of search button"
**Actual Behaviour**

On some different screen size, search button is being shifted from it's place.This issue is with **Chrome** browser.

**Expected Behaviour**

Search button should remain at it's place for all the screen sizes.

**Screenshots of the issue**
![screenshot from 2017-06-05 12-38-33](https://cloud.githubusercontent.com/assets/22245418/26774182/a7911998-49ec-11e7-99ea-261a50f0e566.p

[2017-06-05 07:51] #378 closed

[2017-06-05 07:55] mariobehling commented on #371
@nikhilrayaprolu

This is not correct when I try. And, we don't want something different to Google, we are looking for something more similar.
![screenshot from 2017-06-05 09-54-27](https://cloud.githubusercontent.com/assets/1583873/26775409/1fed013a-49d5-11e7-88c6-181e17b7fd45.png)

[2017-06-05 10:01] #408 closed

[2017-06-05 10:17] mariobehling commented on #129
This issue is out of scope. There are two topics here, that could be huge.

For example we can have a UI in different languages. We can also discuss how Yacy could give out search results in specific languages only. Or we could also auto-translate documents. All these issues are entirely independent. Translating documents is surely out of scope at this stage of the project. Other issues should be

[2017-06-05 10:17] #129 closed

[2017-06-05 10:17] harshit98 commented on #371
To display results for a particular query, we're using redux for managing the states. Maybe this can be happening because, for each character being entered- a new state is being formed and hence each character is being rendered as single page. Correct me if I'm wrong @nikhilrayaprolu @Marauderer97

[2017-06-05 10:23] AnshulMalik commented on #371
I think we are using flux @harshit98. Haven't seen any redux usage yet here in the repo

[2017-06-05 10:35] harshit98 commented on #371
@AnshulMalik Redux is the implementation of the concept of flux.

[2017-06-05 10:35] Marauderer97 commented on #395
Closing this issue since, #405 fixed it

[2017-06-05 10:35] #395 closed

[2017-06-05 11:06] AnshulMalik commented on #371
Yes @harshit98 , that's correct, redux is the implementation of flux, but there is also a straight forward implementation of flux, which I see we are using right now.
The redux implementation is the more abstracted implementation which is more developer friendly.

[2017-06-05 11:43] harshit98 commented on #371
@nikhilrayaprolu There is  `onquery()` function in `search-bar.component.ts` which handles this stage whenever a query has been typed. Maybe we can use `debounce()` function to limit calling of a function (which creates a new page) for each character when user typing.. :sweat_smile:

Source - https://davidwalsh.name/javascript-debounce-function

[2017-06-05 12:58] nikhilrayaprolu commented on #413
@Orbiter I am facing CORS error while getting defaults and posting the crawl start values. Can CORS be enabled on server side for these.

[2017-06-05 16:50] nikhilrayaprolu opened #417 "Remove the repeated lines in results component."
https://github.com/fossasia/susper.com/blob/master/src/app/results/results.component.ts#L159
`this.totalResults$.subscribe(totalResults)` is repeated two times in the results component and a subscribe is made inside a subscribe, which is a bad practice and should be avoided.
A single subscribe from a component to a service is enough

**Expected Behaviour:-**
Remove one of those repeated function a

[2017-06-05 17:11] nikhilrayaprolu opened #419 "Calling Dbpedia API two times for the same information"
**Actual Behaviour**
Each time a new query is entered we have same request being called twice, Once in `infobox.component.ts` and other time in `related-search.component.ts`, since both use knowledge service `this.knowledgeservice.getsearchresults(query).subscribe()` .Instead, we could make a redux store for knowledgeservice data, and get the `infobox component` and the `related search component`

[2017-06-05 20:11] #161 closed

[2017-06-05 22:00] #389 closed

[2017-06-05 22:01] harshit98 commented on #410
@Marauderer97 Are you working on this ?

[2017-06-05 22:36] Orbiter commented on #413
yes you can cirumvent the CORS problem using a JSONP call, like:
http://yacygrid.com:8300/yacy/grid/crawler/defaultValues.json?callback=p

[2017-06-06 05:31] #132 closed

[2017-06-06 07:47] Marauderer97 opened #422 "Errors in console when Knowledge API results unavailable"
**Actual Behaviour**

Multiple errors show up on  my console each time a query is made, when there are no related searches from Knowledge API

**Expected Behaviour**

These errors need to be removed both for infobox and related searches

**Screenshots of the issue**

![image](https://cloud.githubusercontent.com/assets/20185076/26818787/b350a14a-4ab9-11e7-95b1-b6e0a74d6137.png)

[2017-06-06 08:05] harshit98 commented on #410
Are you getting any suggestions from the API @Marauderer97  ? Check here - http://yacy.searchlab.eu/suggest.json?q=how . What I'm getting is an empty array. But for queries like `su`, `so`, `in` we're getting suggestions. Try those query to fix this issue. : )

[2017-06-06 08:13] Marauderer97 commented on #410
@harshit98 Yes.
@nikhilrayaprolu @harshit98  could you please review the above commit and tell me if you have any suggestions or advice as to why the results for auto complete are not being displayed? Thanks in advance ! :smile:

[2017-06-06 09:17] harshit98 commented on #250
@mariobehling Codecov has been configured in this repository. This repository has to be enabled. Kindly have a look into this. :)

[2017-06-06 09:31] harshit98 commented on #410
@Marauderer97 I saw your commit. Remove console logs. They will generate console errors. Refer #168

[2017-06-06 10:05] Marauderer97 commented on #269
Duckduck go implements the following themes, we can follow lead
![image](https://cloud.githubusercontent.com/assets/20185076/26824123/b9bd3d40-4acd-11e7-9e6f-5ac396846fc8.png)

[2017-06-06 10:11] harshit98 commented on #269
Yes, @Marauderer97 but the issue is :
- We'll be changing the whole theme of results component. This can only be done with the help of css. How should be dynamically load it ? Previously, I did some work on it #333 Is there any other idea how we are going to work on this ?
- The theme feature should only be for applicable for results page ? Or other pages as well like, Advanced search, Crawl page

[2017-06-06 11:27] Marauderer97 commented on #269
@harshit98 Perhaps we can begin with results component as of now, and then extend it as required?

[2017-06-06 15:03] #410 closed

[2017-06-06 17:12] nikhilrayaprolu opened #427 "Drop down open even when there are no suggestions"
**Actual Behaviour**
the drop down of search bar is open even when there are no suggestions.
**Expected Behaviour**

Drop Down needs to be hidden when there are no suggestions.
**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/15216503/26842122-58a1e826-4b09-11e7-8feb-788b6cd25918.png)

[2017-06-06 17:14] nikhilrayaprolu opened #428 "when there is empty query or when there are no suggestions drop down does change"
**Actual Behaviour**
when there is an empty query or when there are no suggestions for the present query drop down does get hidden.
**Expected Behaviour**
when there are no suggestions for the present query drop down should be hidden
**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/15216503/26842225-ad4bf538-4b09-11e7-9ff2-57e1fa78d9a3.png)

[2017-06-06 19:27] nikhilrayaprolu commented on #371
@mariobehling this problem persists even on loklak_search.
![image](https://user-images.githubusercontent.com/15216503/26847837-134e34a6-4b1c-11e7-9248-a3437b8e81d4.png)
each time we change the URL in browser's URL bar, it assumes that we have navigated to a new page.

[2017-06-06 22:19] harshit98 opened #432 "Remove language search option from Advanced search page"
**Actual Behaviour**

We're currently having search option - language on the frontend.

**Expected Behaviour**

After discussion regarding internationalisation feature, we're not going to implement it. So remove the language option from there.

**Screenshots of the issue**

![screenshot from 2017-06-07 03-47-27](https://user-images.githubusercontent.com/22245418/26854552-45502492-4b34-11e7-97df-72

[2017-06-06 22:30] harshit98 opened #433 "Improve the font-size of headings and sub-contents in Advanced Search page."
**Actual Behaviour**

Advanced search page is having headings with sub-content (search options)

**Expected Behaviour**

- Increase the font-size for headings.
- Increase the font-size for sub-content. (make sure it is small w.r.t heading)
- Add colon after each sub-content.

**Screenshots of the issue**

Susper:
![screenshot from 2017-06-07 03-52-32](https://user-images.githubusercontent.com/2224

[2017-06-06 22:38] harshit98 opened #434 "Improve front-end for advanced search page"
**Actual Behaviour**

Advanced search page is having :
- Input box with curves at the corner.
- Advanced search button.
- No padding between advanced search button and footer.

**Expected Behaviour**

- Input box should be sharp at corners.
- Improve the advanced search button following the market leader.
- Give some padding between advanced search button and footer so that it looks cleaner.
- Ali

[2017-06-06 22:43] harshit98 commented on #387
Follow up here, I have opened up sub-issues related to this issue #432 , #433 , #434

[2017-06-07 00:19] harshit98 opened #437 "Hover over search options show cursor as pointer"
**Actual Behaviour**

Hovering over the search options changes cursor to pointer.

**Expected Behaviour**

Hovering over search options should not show pointer. Follow the market leader design.

[2017-06-07 07:45] #385 closed

[2017-06-07 07:58] #433 closed

[2017-06-07 08:28] #419 closed

[2017-06-07 08:34] #417 closed

[2017-06-07 09:30] #121 closed

[2017-06-07 11:51] nikhilrayaprolu commented on #422
due to recent pull in the modification of knowledge service, this error is raised again.
![image](https://user-images.githubusercontent.com/15216503/26876870-aa178854-4ba5-11e7-8ea5-4afe75369cf2.png)

[2017-06-07 12:52] #428 closed

[2017-06-07 13:12] Marauderer97 opened #443 "More changes in Advanced Search"
The following changes need to be made to susper's advanced search.

- [ ] Add extra padding before the start of the form following market leader

- [ ] Change appearance of certain labels, make them flow into the next line

- [ ] Make input box labels darker

**Screenshots of the issue**
Input box labels
Google
![image](https://user-images.githubusercontent.com/20185076/26880066-e5e5f504-4bb0-11e7

[2017-06-07 15:49] harshit98 commented on #3
Tests for following components and services needs to be added :
- [ ] About Component
- [ ] Advanced search component
- [ ] Auto complete component
- [ ] Contact component
- [ ] Footer-navbar component
- [ ] Index component
- [ ] Infobox component
- [ ] Navbar component
- [ ] New advanced search component
- [ ] Not found component
- [ ] Related search component
- [ ] Results component
- [ ] Search

[2017-06-07 19:21] #427 closed

[2017-06-07 21:05] #422 closed

[2017-06-07 21:06] #434 closed

[2017-06-08 06:41] #437 closed

[2017-06-08 06:54] Marauderer97 opened #447 "Searches related to is blank"
**Actual Behaviour**

The searches related to query shows an empty query each time related searches are invoked, owing to the merge of infobox and related search api calls.
**Expected Behaviour**

The query should not be left blank,searching for india should give searches related to india as the message

**Screenshots of the issue**

Attach a screenshot of the issue here.
![image](https://user-ima

[2017-06-08 07:04] Marauderer97 commented on #443
@nikhilrayaprolu @harshit98 @sandeepm96 @isuruAb Please review :)

[2017-06-08 07:29] #443 closed

[2017-06-08 08:06] nikhilrayaprolu commented on #413
@Orbiter on posting data to the server I am receiving unauthorised 401 Status. what could be a fault with this?
![image](https://user-images.githubusercontent.com/15216503/26918393-6cad300e-4c4f-11e7-9723-e2138ae3cd03.png)

[2017-06-08 08:07] mariobehling opened #448 "Create a list of news organizations with URLs and show results from this list in a tab "News" limited to the last 30 days"
We would like to have a tab "News". Search results of news organizations actually constitute simply of a filter that is set and results are displayed according to this filter.

In order to achieve this, please do the following:
* Create a list of news organizations and their URLs as csv (small list is ok. it can be extended later).
* Some news organizations can have more than one URL
* Create a ta

[2017-06-08 08:47] Orbiter commented on #413
Well that is correct because your are actually unauthorized :)
The server requires an log-in. When the endpoint is called from a browser, this should cause that the browser shows a pop-up and asks the user for authentication (aka "HTTP Basic Authentication", https://tools.ietf.org/html/rfc7235#section-3.1). In YaCy this works without handling any 401 code, the handling is built-in in all browsers.

[2017-06-08 08:49] Orbiter commented on #413
To test this, you can also set up a local YaCy instance (download from yacy.net) and access the crawl endpoint at localhost:8090. Then you have control over the account/password

[2017-06-08 08:54] nikhilrayaprolu commented on #413
ok, sure @Orbiter I will look through this.

[2017-06-08 09:37] Marauderer97 opened #449 "Not all related searches are being displayed"
**Actual Behaviour**

The related searches are displayed only when the infobox is valid, hence for many queries which previously had related searches, there are no related links displayed anymore

**Expected Behaviour**

Seperate infobox function from related searches, infobox for a query say "go" may not be valid, but the related searches should still be displayed

**Screenshots of the issue**
Be

[2017-06-08 19:23] #432 closed

[2017-06-08 19:40] mariobehling commented on #371
The implementation still shows two links back instead of one.

[2017-06-08 20:08] harshit98 opened #454 "Error: status of 500 Java heap space"
susper.com is currently not providing any search results.

![screenshot from 2017-06-09 01-11-53](https://user-images.githubusercontent.com/22245418/26948423-f522ae8c-4cb3-11e7-88e0-626271962faf.png)

@Orbiter kindly look into this issue :)

[2017-06-08 20:12] Orbiter commented on #454
restarted two redundant peers, each has 4GB of memory. strange that it has a heap space error.
Running now again after restart.

[2017-06-08 20:12] #454 closed

[2017-06-08 20:22] Marauderer97 opened #455 "Top nav bar Susper logo linked wrong"
The link in the nav bar, is linked to susper.com directly, this is a bad practice:
![image](https://user-images.githubusercontent.com/20185076/26948970-d8d1888c-4cb5-11e7-9815-b990495d1e49.png)
This is how it should be linked:
![image](https://user-images.githubusercontent.com/20185076/26948982-e14c3804-4cb5-11e7-985f-eeea0db2e66b.png)

[2017-06-08 20:31] mariobehling opened #457 "Don't show a blinking cursor in search box after user hits enter"
In the search box a blinking cursor shows up even after the user hits enter.

Please compare to market leader and don't show blinking cursor after user hit enter.
![screenshot from 2017-06-08 22-29-18](https://user-images.githubusercontent.com/1583873/26949451-41af5daa-4c9a-11e7-8884-0014925d7ed7.png)

[2017-06-08 20:33] Marauderer97 opened #458 "Change style of links in About page"
**Actual Behaviour**

About page currently has links with a lot of space following, which are grey

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/26949437-89aa8914-4cb7-11e7-9fa4-d49ebd15b4ba.png)

**Expected Behaviour**
Change the links like we did in contact page, removing the extra space and changing them to blue.

**Screenshots**
![image](https://user

[2017-06-08 20:40] mariobehling opened #459 "Refreshing a search page results in page without search results"
If a page is refreshed it would be expected that it reloads the search results.

[2017-06-08 20:43] mariobehling opened #460 "Video Search not providing video results and showing actual results out of design"
The video result page is not working as expected. Please see screenshot below.
![screenshot from 2017-06-08 22-42-58](https://user-images.githubusercontent.com/1583873/26949875-f2f3c29e-4c9b-11e7-9afc-662207b19cba.png)

[2017-06-08 20:44] #447 closed

[2017-06-08 20:45] #250 closed

[2017-06-08 23:12] #458 closed

[2017-06-08 23:14] #455 closed

[2017-06-08 23:22] mariobehling opened #462 "Match position and width of info box"
The position and width of info box is not matching market leader. Please ensure the box is covering the same width.
![screenshot from 2017-06-09 01-21-03](https://user-images.githubusercontent.com/1583873/26954738-15440b9a-4cb2-11e7-90e7-235de25a46b4.png)

[2017-06-08 23:25] #181 closed

[2017-06-08 23:29] mariobehling opened #463 "Match bottom bar links to search results pages closer to market leader"
Please follow the design of the market leader for the search result pages.
![screenshot from 2017-06-09 01-23-24](https://user-images.githubusercontent.com/1583873/26954863-0908293c-4cb3-11e7-9545-fc7abe49c3a8.png)

[2017-06-08 23:34] mariobehling opened #464 "Images are not showing up on image search"
While image search works on the host yacy system (http://yacy.searchlab.eu/yacysearch.html?query=trump&maximumRecords=10&resource=global&verify=ifexist&prefermaskfilter=&cat=href&constraint=&contentdom=image) it does not work on susper.

[2017-06-09 06:10] Marauderer97 commented on #449
@harshit98 are you working on this? (as mentioned on gitter)

[2017-06-09 06:14] harshit98 commented on #449
Yes, I would like to try this issue. :+1:

[2017-06-09 06:15] harshit98 commented on #457
I would like to work on this. :+1:

[2017-06-09 07:20] nikhilrayaprolu commented on #3
@harshit98  There is no use in writing tests which don't fail. write test cases which fail mostly when something wrong is done.
for instance: - we see these errors images not showing up, videos not showing the correct results type of errors regularly on susper. why not write test cases for such type of use cases?
For now write a test case that takes care of errors related to https://github.com/fos

[2017-06-09 07:23] Marauderer97 commented on #457
@harshit98 I am sorry, I didnot see your message. I mentioned working on this on my scrum, but forgot to assign myself to it. Sorry about that. Let us start a practice of assigning ourselves to issues, once we decide to work on them :+1:

[2017-06-09 07:48] harshit98 commented on #3
@nikhilrayaprolu Okay I got it. :+1: I was going to add them in results component spec file. But I thought, to write component wise tests.

[2017-06-09 07:51] harshit98 commented on #464
We're getting error on susper which looks like this-

![screenshot from 2017-06-09 13-13-25](https://user-images.githubusercontent.com/22245418/26966116-6ec8c2d2-4d16-11e7-8e80-fbd1537e2104.png)

[2017-06-09 08:42] harshit98 opened #466 "Infoxbox appears when page is refreshed."
**Actual Behaviour**

Infobox not coming up when a search is fired. It is not an API issue, as dbpedia is working fine.

**Expected Behaviour**

Infobox should appear with search results.

[2017-06-09 09:32] Marauderer97 commented on #463
@mariobehling The market leader has "Gooooooogle" to mark the number of pages.. What should we substitute that with? Or should we ignore that part of the pagination bar and only copy the number and text style?

[2017-06-09 11:51] mariobehling commented on #463
Please use "Suuuuuuuuuuuuuuuuuuuuusper".

[2017-06-09 13:14] Marauderer97 commented on #463
@mariobehling
I have been working on this, wanted your opinion
![image](https://user-images.githubusercontent.com/20185076/26976928-a175bbcc-4d43-11e7-986f-f49755509114.png)
Is this what you intended? Can I make a PR?

[2017-06-09 13:19] harshit98 commented on #463
Looks great! @Marauderer97 Can you remove the `Previous` from page 1 just like Google ?

[2017-06-09 13:49] Marauderer97 commented on #466
![image](https://user-images.githubusercontent.com/20185076/26978252-7ab15e10-4d48-11e7-9417-b3a0ad816843.png)
But it is appearing :confused:

[2017-06-09 19:53] harshit98 commented on #466
@Marauderer97

![screenshot from 2017-06-10 01-22-42](https://user-images.githubusercontent.com/22245418/26992240-5b1a4bec-4d7b-11e7-8da8-fc664bae37f9.png)

[2017-06-09 19:57] harshit98 opened #471 "Correcting the margins and padding of links in top navbar"
**Actual Behaviour**

The search tabs on hover shows cursor-pointer between the space 'Videos' and 'Tools'

**Expected Behaviour**

The cursor pointer should only be shown, when user hovers over search tabs. And cursor pointer should not be there between space area of 'video' tab and 'tools' tab.

**Screenshots of the issue**

![screenshot from 2017-06-10 01-24-56](https://user-images.githubuserco

[2017-06-09 22:12] #460 closed

[2017-06-09 22:12] #464 closed

[2017-06-10 06:56] harshit98 commented on #459
@mariobehling refreshing a search page is working fine. Earlier it was not working, but you can check now. It reloads search results.

[2017-06-10 07:36] #457 closed

[2017-06-10 10:52] harshit98 commented on #449
@nikhilrayaprolu How should I proceed with this issue ? When a search is done, dbpedia API does not responds which hence results in infobox and related searches not appearing. Opened up issue #466

[2017-06-12 07:48] Marauderer97 commented on #471
Actually @harshit98 this is not really an issue, I tried working on it, only to realise Google does the exact same thing. Hover on any of the tabs in Google, even if you are not pointing at text, as long as the cursor is over the underlined portion the cursor is a pointer, only for the short gap between the underlined areas we have the default cursor, susper is doing the exact same thing, the only

[2017-06-12 08:37] harshit98 commented on #449
I have solved this issue. Will make the PR today :)

[2017-06-12 10:32] harshit98 commented on #387
This issue can be closed now.

[2017-06-12 10:37] harshit98 commented on #348
This issue can be closed, since it was a server issue. Now it looks to be solved. :+1:

[2017-06-12 13:59] #348 closed

[2017-06-12 14:00] nikhilrayaprolu commented on #387
@Marauderer97 do you find anything more that could be done in advanced-search page

[2017-06-12 14:19] Marauderer97 commented on #449
@harshit98 As requested by you on gitter, since you are focussing on adding news currently, I am unassigning you from the issue.

[2017-06-12 22:54] #449 closed

[2017-06-13 09:33] harshit98 commented on #448
Kindly review the commit @nikhilrayaprolu @Marauderer97 I'm getting this error when I load RSS feed :

![screenshot from 2017-06-13 14-59-35](https://user-images.githubusercontent.com/22245418/27075965-67b147fe-5049-11e7-83db-aa5a07583a7b.png)

[2017-06-13 10:10] nikhilrayaprolu commented on #448
@harshit98 jsonp expects jsonp response but what you are receiving might be json or html. so use http intead of jsonp

[2017-06-13 10:45] harshit98 commented on #448
@nikhilrayaprolu Using http gives CORS error. Look :

![screenshot from 2017-06-13 16-12-32](https://user-images.githubusercontent.com/22245418/27078980-8669feb6-5053-11e7-9457-9496c3176c47.png)

[2017-06-13 13:10] nikhilrayaprolu opened #475 "remove old results when query is changed"
**Actual Behaviour**
when a user is typing a query, we are showing the results of old query untill we receive results for new query, but if we check with loklak and google instant search.
**loklak**
![image](https://user-images.githubusercontent.com/15216503/27083698-02b3e672-5067-11e7-81bc-df5f2fba971a.png)
![image](https://user-images.githubusercontent.com/15216503/27083946-daf1174e-5067-11e7-83

[2017-06-13 14:47] #466 closed

[2017-06-13 15:14] #462 closed

[2017-06-13 15:52] harshit98 commented on #364
Working on this :+1:

[2017-06-13 18:40] harshit98 commented on #383
@mariobehling @Marauderer97 According to issue, it looks to be solved. I didn't find any problem while searching as mentioned in this issue.

[2017-06-13 23:14] nikhilrayaprolu opened #479 "implement instant results on and off"
**Actual Behaviour**
At present user doesn't have an option to turn off the instant search.
**Expected Behaviour**
google has an option to turn off instant results
![image](https://user-images.githubusercontent.com/15216503/27108663-131d9620-50bc-11e7-8c5a-fd0f5fcd3354.png)
implement something similar to that.

[2017-06-14 05:35] harshit98 opened #480 "When there is no query, no any content should be displayed."
**Actual Behaviour**

When there is no query or query is erased, only 'related searches' and 'infobox' is still being showed up.

**Expected Behaviour**

If no query is present, result page should be empty.

**Screenshots of the issue**

![screenshot from 2017-06-14 11-01-40](https://user-images.githubusercontent.com/22245418/27116883-342a33b6-50f1-11e7-8d85-2a2f74f0c2b9.png)

Follow similar imple

[2017-06-14 06:27] Marauderer97 commented on #480
I would like to work on this issue

[2017-06-14 07:09] Marauderer97 commented on #480
@harshit98 when I try to replicate the same issue, this is what I get:
![image](https://user-images.githubusercontent.com/20185076/27119692-7003b5d0-50fe-11e7-9b8b-542f81296dca.png)

[2017-06-14 07:12] harshit98 commented on #480
@Marauderer97 I don't know. But previously it was happening. Should I close it then ?

[2017-06-14 07:15] #480 closed

[2017-06-14 21:38] #471 closed

[2017-06-15 04:20] Marauderer97 opened #482 "Design changes in search settings"
**Actual Behaviour**

There are some errors with the design of the search page, it differs from the Google search page in

- margins and spacing

- The width of the content

- font

- title

![image](https://user-images.githubusercontent.com/20185076/27165176-e11061f4-51af-11e7-9afe-478fea21da2f.png)

**Expected Behaviour**
This is how the page should look:
![image](https://user-images.githubuserc

[2017-06-15 04:27] #463 closed

[2017-06-15 04:28] Marauderer97 opened #483 "Wrong position of Settings Tab and absence of drop-down menu"
**Actual Behaviour**
The settings tab is in the footer of Susper.

**Expected Behaviour**
Google has the settings bar on the top, next to Tools.

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/20185076/27165390-2e822b06-51b1-11e7-9146-902c7498e9ab.png)

![image](https://user-images.githubusercontent.com/20185076/27165357-0b510f94-51b1-11e7-88ad-5fb006de982a.png)

[2017-06-15 04:34] Marauderer97 opened #484 "Search settings Number of Results bar different from market leader"
**Actual Behaviour**

Susper allows 500 results per page

**Expected Behaviour**
Google allows only 0,10,20,30,40,50 or 100

**Screenshots of the issue**
Susper:
![image](https://user-images.githubusercontent.com/20185076/27165425-75fa1e44-51b1-11e7-8696-c9e54fd51a18.png)
Google:
![image](https://user-images.githubusercontent.com/20185076/27165442-9f2139a6-51b1-11e7-94d6-19b02baf4dc9.png)

NOTE: I

[2017-06-15 04:48] nikhilrayaprolu opened #485 "results persists when query is quickly removed"
**Actual Behaviour**

As per the discussion done on https://github.com/fossasia/susper.com/pull/478
when query is removed quickly results of old query persists. when we actually remove the query quickly there won't be any keyup.which is leading to the error. as we have `(keyup)="onquery($event)"`
![image](https://user-images.githubusercontent.com/15216503/27143048-a0b4d136-514a-11e7-98f7-60f169bfd

[2017-06-15 04:58] nikhilrayaprolu commented on #484
This will be automatically fixed when instant results https://github.com/fossasia/susper.com/issues/479 feature is implemented

[2017-06-15 05:01] nikhilrayaprolu commented on #483
google has it at the bottom of the home page, so it would be better if something similar, at the bottom of the homepage and at the top of the results page is implemented.
![image](https://user-images.githubusercontent.com/15216503/27166045-a685b1a0-51b5-11e7-91ee-45f05065d83d.png)

also, see that it gives us a dropdown in which search settings is shown.please create a drop down similar to Google

[2017-06-15 08:30] harshit98 opened #487 "Configure codecov.yml to avoid failing PRs."
**Actual Behaviour**

Currently we are observing problems with failing PRs even Travis CI passes. This is due to even a small drop in code coverage, PR is failed.

**Expected Behaviour**

Configure `codecov.yml` file especially to avoid failing PR, when code coverage drops a little.

References :
- <a href="https://github.com/codecov/support/issues/135">codecov/support#135</a>
- https://gist.githu

[2017-06-15 09:46] Marauderer97 commented on #482
I am working on this

[2017-06-15 10:32] Marauderer97 commented on #483
Working on this

[2017-06-15 10:34] Marauderer97 commented on #483
@nikhilrayaprolu what happens to the other links in the dropdown(features we haven't implemented)? I will not include them for now.

[2017-06-15 14:09] #485 closed

[2017-06-15 17:52] nikhilrayaprolu commented on #483
@Marauderer97 let us add those when implemented.

[2017-06-15 18:33] #475 closed

[2017-06-16 04:59] mariobehling opened #490 "Related Searches too small and not aligned"
The related changes areas have changed for no apparent reason:
* On the right and bottom they are in a smaller font than before
* On the bottom area they are not aligned anymore
![screenshot from 2017-06-16 06-55-43](https://user-images.githubusercontent.com/1583873/27212577-3e9aac92-5261-11e7-8def-715e1ec7ce56.png)
![screenshot from 2017-06-16 06-55-14](https://user-images.githubusercontent.com/1

[2017-06-16 05:01] mariobehling opened #491 "Number of results "About.." not aligned"
Please align this correctly.

![screenshot from 2017-06-16 07-00-14](https://user-images.githubusercontent.com/1583873/27212622-85e35270-5261-11e7-9b09-de842c860c23.png)

[2017-06-16 06:09] Marauderer97 commented on #490
@mariobehling
The alignment seems to be fixed now
![image](https://user-images.githubusercontent.com/20185076/27214134-7a259bba-5288-11e7-89bb-ae9b7b94c51e.png)

[2017-06-16 06:24] Marauderer97 commented on #491
@harshit98, wasn't there a bug raised on this before, that was fixed by [#416](https://github.com/fossasia/susper.com/pull/416)

[2017-06-16 06:30] Marauderer97 commented on #490
Also, Links on top nav bar,
how they are:
![image](https://user-images.githubusercontent.com/20185076/27214615-014c551e-528b-11e7-9a24-4ed2f6bf9d15.png)
how they should be:
![image](https://user-images.githubusercontent.com/20185076/27214624-1801b164-528b-11e7-9713-a1cafd3bdbf4.png)

[2017-06-16 06:57] nikhilrayaprolu commented on #479
this was wrongly referenced in the pull reopening this.

[2017-06-16 07:21] harshit98 commented on #491
Yes @Marauderer97 , It was correctly fixed in #416 . I don't know how this problem is occurring. Look :

![screenshot from 2017-06-16 12-48-47](https://user-images.githubusercontent.com/22245418/27216221-5ebe2522-5292-11e7-965b-c7d02cbe6932.png)

I did the proper alignment, but now results are not aligned properly again. Also, I'm not gettting `About results` message on susper.

[2017-06-16 07:41] nikhilrayaprolu commented on #3
listing down extra issues which are found repetitive, been fixed several times but raised again and need a permanent fix by writing tests.

- [ ] #464

- [ ] #460

- [ ] #459

- [ ] #449

- [ ] #490

- [ ] #491

let us write these tests so that these issues doesn't get raised again.

[2017-06-16 14:37] #482 closed

[2017-06-16 15:08] nikhilrayaprolu commented on #491
![image](https://user-images.githubusercontent.com/15216503/27232382-80468e50-52d3-11e7-9b7c-12f2d1ead5ac.png)
![image](https://user-images.githubusercontent.com/15216503/27232408-95e3c69c-52d3-11e7-8eeb-5924d061d533.png)

the message in results component is empty but the totalResults in state has some number.

[2017-06-16 15:18] nikhilrayaprolu commented on #490
![image](https://user-images.githubusercontent.com/15216503/27232602-4641cf0c-52d4-11e7-945b-51ceee64167a.png)
@Marauderer97 this change has caused the small sizes.

[2017-06-16 15:30] nikhilrayaprolu opened #493 "infobox not getting displayed on refresh"
![image](https://user-images.githubusercontent.com/15216503/27233350-c29b9ae0-52d6-11e7-8d8a-32d7db049c3f.png)
infobox doesn't appear when we refresh a page.
**After refresh**
![image](https://user-images.githubusercontent.com/15216503/27233374-d2ecf196-52d6-11e7-95e0-506e2bd76e3f.png)

[2017-06-16 16:27] nikhilrayaprolu opened #495 "About results message in not found"
**Actual Behaviour**
![image](https://user-images.githubusercontent.com/15216503/27235535-c7c55fbc-52de-11e7-8ccf-aec3110fe4ab.png)

About results isn't shown when query is entered
**Expected Behaviour**
About results should be shown immediately along with results

[2017-06-16 16:52] Marauderer97 opened #497 "Related searches not getting displayed on refresh"
We see the related searches before refresh,
![image](https://user-images.githubusercontent.com/20185076/27236344-4b98f788-52e2-11e7-8dbc-8283259a474b.png)

but it disappears on refresh
![image](https://user-images.githubusercontent.com/20185076/27236318-340481c8-52e2-11e7-9b4f-fa07c227da2b.png)

Working on this

[2017-06-16 16:58] Marauderer97 commented on #497
Automatically resolved by #494

[2017-06-16 17:02] Marauderer97 commented on #383
@harshit98 I agree

[2017-06-16 17:06] Marauderer97 opened #498 "Message on No results"
**Actual Behaviour**

When no results are found on Susper, this is how it responds:
![image](https://user-images.githubusercontent.com/20185076/27236854-3ff48ecc-52e4-11e7-94ee-dad4be0ac595.png)

**Expected Behaviour**

This is how Google responds when no results are found
![image](https://user-images.githubusercontent.com/20185076/27236830-22d5bdc0-52e4-11e7-9f8b-5ca58bcf8ab2.png)

I am working o

[2017-06-16 18:04] nikhilrayaprolu opened #499 "clean url bar and make it look similar to google and loklak"
presently when a new search is made susper url bar has many parameters which doesn't have any significance. make it look similar to google and loklak
**presently susper:-**
http://susper.com/search?query=india&verify=false&nav=filetype%2Cprotocol%2Chosts%2Cauthors%2Ccollections%2Cnamespace%2Ctopics%2Cdate&start=0&indexof=off&meanCount=5&resource=global&prefermaskfilter=&rows=10&timezoneOffset=0
**

[2017-06-16 19:08] #493 closed

[2017-06-16 23:32] harshit98 opened #500 ""Sort by date" not working."
**Actual Behaviour**

To reproduce the bug, type query as `mumbai`. You'll observe some results are having old date mixed with latest date. Sorting them by using `Sort by date` is not working.

**Expected Behaviour**

It should sort the results date wise in descending order. (2017 -> 2016 -> 2015...)

**Screenshots of the issue**

![screenshot from 2017-06-17 05-00-59](https://user-images.githubus

[2017-06-16 23:41] harshit98 opened #501 "Advanced search not working properly: Providers"
**Actual Behaviour**

To reproduce the bug : type any query. Click advanced search and tick any url from where it will fetch desired results. First time it will work. But repeating the procedure second time won't work.

**Expected Behaviour**

It should work every time user changes the choice of url.

**Screenshots of the issue**

I found this error being raised in console :

![screenshot from 201

[2017-06-17 10:16] #497 closed

[2017-06-17 11:39] harshit98 commented on #448
I have updated my PR. Kindly preview @Marauderer97 @nikhilrayaprolu

These two things have been done. Now how should we filter news ?
- I'm still not able to figure out why we have created a csv file ? Are we going to take urls from csv file ?
- Second option : We can filter out the news urls in `News` tab. Advanced search shows urls of some news organizations. We can take urls from here. If yes t

[2017-06-17 11:57] harshit98 opened #504 "Remove query when user gets back to homepage"
**Actual Behaviour**

When a user types a query results are displayed. Now when user goes back to homepage - query still persist to be there. To reproduce this bug- type any query and then click on 'back' option in browser. It will redirect to susper's homepage with the same query.

**Expected Behaviour**

There should not be any query in search bar when returned back to homepage. It should be emp

[2017-06-17 12:22] harshit98 commented on #491
Working on it.

[2017-06-17 12:27] harshit98 commented on #490
Once the PR of news feature gets merged, we can start working on this. Since, there is addition of other 'News' tab also.

[2017-06-17 12:54] #498 closed

[2017-06-17 13:15] #371 closed

[2017-06-17 13:42] #364 closed

[2017-06-17 13:43] Marauderer97 commented on #364
Solved

[2017-06-17 14:34] mariobehling opened #507 "Match the width and height of search box of market leader and related areas"
Please match the width, height and functionality of market leader. The developer console shows 632 x 49 including border. Please use the browser developer console to determine the required sizes.

Also ensure that following content areas match the search box.
![screenshot from 2017-06-17 16-31-38](https://user-images.githubusercontent.com/1583873/27253772-e36d7ab4-537a-11e7-82ee-b3739ac9d552.png)